


#jqDialog_box {
	background: #f5f5f5;
	position: absolute;
	font-family: Arial;
	z-index:999;
	border-width: 1px 3px 3px 1px;
	border-style: solid;
	border:none;
	border: 5px solid white;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
	
	-moz-box-shadow: 0 0 30px #e6e6e6;
}
#jqDialog_content {
	margin: 10px;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
}

#jqDialog_options {
	margin: 10px;
	text-align: center;
}
/* 
#jqDialog_options button {
	font-family: Arial;
	margin-right: 5px;#f4f6f8
	background: #000;
	border: 0px;

	font-size: 1.5em;
	color: #fff;
	width: auto;
	
	cursor: pointer;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
 */

#jqDialog_input {
	padding: 4px;
	width: 250px;
}
#jqDialog_close {
	background: none;
	border: none;
	float: right;
	font-weight: bold;
	font-size: 10px;
	color: #ff0000;
	cursor: pointer;
}
