.scb_mit706s16_dialog {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  background-color: #80808080;
  font-family: 'sourcesanspro-regular';
  font-size: 10pt;
}
.scb_mit706s16_inner_dialog_title_close {
  font-size: 14pt;
  font-family: 'sourcesanspro-bold';
  background: rgba(0,0,0,0);
  border-radius: 6px;
  float: right;
  width: 25px;
  color: black;
  cursor: pointer;
  padding-top: 0;
}
.scb_mit706s16_inner_dialog_title_close:hover {
  background-color: #e58986;
}
.scb_mit706s16_inner_dialog {
  opacity: 5;
  width: 75%;
  height: 75%;
  overflow: auto;
  margin-top: 12%;
  margin-left: 12%;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: white;
}
.scb_mit706s16_inner_dialog_title {
  font-size: 12pt;
  color: white;
  margin: 0;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
  cursor: move;
  background-color: #80d1ae;
  background-image: -webkit-linear-gradient(top,#80d1ae,#189689);
  background-image: -moz-linear-gradient(top,#80d1ae,#189689);
  background-image: -ms-linear-gradient(top,#80d1ae,#189689);
  background-image: -o-linear-gradient(top,#80d1ae,#189689);
  font-family: 'sourcesanspro-bold';
}
.scb_mit706s16_inner_dialog_body {
  padding: 20px;
  padding-top: 0;
}
.scb_mit706s16_inner_dialog_body>h1 {
  font-size: 12pt;
  font-family: sourcesanspro-regular;
}
.scb_mit706s16_inner_dialog_body>h1>b {
  font-size: 12pt;
  font-family: sourcesanspro-semibold;
}
.scb_mit706s16_inner_dialog_cancel {
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.scb_mit706s16_button_float {
  display: block;
}
