
input, select { outline: none; }

.scb_ab_s_input_text_field{
    font-size: 10pt;
    font-family: 'sourcesanspro-regular';
    color: black;
    font-style: italic;
    margin-left: 27px;
    margin-top: 10px;
    padding: 5px;
    display:inline-block;
}
.scb_ab_s_input_text_area {
    font-size: 10pt;
    font-family: 'sourcesanspro-regular';
    color: black;
    margin-left: 27px;
    margin-top: 10px;
    padding: 5px;
    display:inline-block;
    /* Equivalent to rows = 10, cols = 80 */
    width: 43em;
    height: 10em;
}

.scb_ab_s_add_files_input, .scb_ab_s_add_files_input_setup {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.scb_ab_s_file_list ul {
    margin: 5px 0 20px 0;
}

.scb_ab_s_file_list li {
    margin-bottom: 0.5em;
}

.scb_ab_s_file_list a {
    color: #316f94;
}

.scb_ab_s_file_list a:hover {
    color: #676767;
}

.scb_ab_s_add_files_button {
    padding: 5px;
    border: 0;
    margin-left: 27px;
}

.scb_ab_s_delete_file {
    border: 0;
}

.scb_ab_s_form_select_field{
    font-family: 'sourcesanspro-regular';
    width: 141px;
    background: white;
    font-size: 13px;
    border: 1px solid #ccc;
    height: 31px;
    font-style: italic;
}
.scb_ab_s_micro_analyze>select.scb_ab_s_form_select_field{
    width: 170px;
}

.scb_s_instructor_view{
    width: 1002px;
    background-color: #f4f6f8;
}

.scb_ab_s_navigation_button {
    border: none;
    width: 185px;
    height: 30px;
    margin: 1px;
    font-size: 10pt;
    font-family: 'sourcesanspro-semibold';
    padding-top: 2px;
    margin-right: 19px;

    border-radius: 8px;
    letter-spacing: 1px;
    background: #27956c;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-left: 13px;
    padding-right: 9px;
}
.scb_ab_s_nav_continue_btn{
    float: right;
    margin-top: 100px;

}

.scb_s_back_btn {
    margin-top: 100px;
    float: left;
    margin-left: 20px;
}
.scb_ab_s_input_error{
    color: indianred;
    display: inline-block;
    padding-left: 5px;

}

.scb_s_form_errors{
    color: indianred;
    padding-left: 5px;
    width: 200px;

}

select:disabled {
    opacity: 0.4;
}


.scb_s_sidebar_link_sub_heading {
    font-size: 10pt;
    margin-top: 3px;
    font-family: 'sourcesanspro-semibold';
    position: relative;
    width: 221px;
    padding: 7px 3px 3px 50px;
    height: 12px;
    color: #010101;

}
/* Course */
.scb_f_use_existing_course {
    display: none;
}
/* Modify Course */

.scb_ab_s_course_list_wrapper{
    position: relative;
    left: 30px;
}

.scb_ab_s_course_edit_headers{
    font-family: 'sourcesanspro-semibold';
    display: inline-block;
    position:relative;
    width: 171px;
}
.scb_ab_s_select_course_headers{
    width: 58px;

}
.scb_ab_s_error_list{
    position:relative;
    color: indianred;
    display:inline-block;

}
.scb_ab_s_course_fields_error_list{
    left:67px;
    width:165px;
    display:inline-block;
    padding:5px 0 0 0;
    margin:0;
}
.scb_ab_s_top_error_list{
    left:30px;
    margin-bottom: 10px;
    width: 550px;
}
.scb_ab_s_course_form_list{
    position: relative;
    list-style-type: none;
    left: 12px;
}
.scb_ab_s_course_form_list>div{
    display: inline;
}
.scb_ab_s_add_course_button_position{
    position: relative;
    left: 67px;
    top: 15px;
}


/* Strains */
.scb_ab_s_form_container{
    padding-left: 20px;
    padding-top: 10px;
}
.scb_s_delete_strain {
    border: 0;
    width: 24px;
    background: transparent;
    height: 20px;
    cursor: pointer;
    top: 0;
    position: relative;
    left: 16px;
}
.scb_ab_s_experiment_setup_add_button{
	width: 104px;
    margin:20px 0 0 29px;
}

/* Input headers  in Define variable */
.scb_ab_s_input_headers{
    position: relative;
    left: 29px;
    margin-top:20px;

}
.scb_ab_s_input_headers>div{
    width: 148px;
    display: inline-block;
    font-family: 'sourcesanspro-semibold';
    font-size: 14px ;
}
.scb_ab_s_input_headers>div.scb_ab_s_micro_analyze_header{
    width: 179px;
}
.scb_ab_s_input_headers>div.scb_ab_s_small_header{
    width: 58px;
}
.scb_ab_s_input_headers>div.scb_ab_s_med_header{
    width: 130px;
}
.scb_ab_s_input_headers>div.scb_ab_s_units_input_header{
    width:77px;
}
.scb_ab_s_input_headers>div.scb_ab_s_time_units_input_header{
    width: 72px;
}


/* Form inputs  in Define variables*/
.scb_ab_s_form_input_list{
    position: relative;
    left: 29px;
}
.scb_ab_s_form_input_list>div{
    display: inline-block;
}
.scb_ab_s_form_input_list>div>input{
    margin: 2px 0 3px 5px;
}

.scb_ab_s_form_input_list>.scb_ab_s_counter_margin{
    margin-left: -19px;
}

.scb_ab_s_small_input_box>input{
    width: 40px;
}
.scb_ab_s_units_input>input{
    width: 60px;
}
.scb_ab_s_time_units_input>input{
    width: 53px;
}
.scb_ab_s_med_input_box>input{
    width: 108px;
}
/* Delete trash icon*/
.scb_s_ab_trash_icon{
    background: url('images/setup/scb_remove.png') no-repeat;
    display:inline-block;
    height:20px;
    width: 15px;
    background-position: center;
    margin-left: 8px;
    cursor: pointer;
}
.checkbox_image:hover {
    cursor: pointer;
}

/* select variables */
.scb_ab_s_variable_wrapper{
    margin-bottom: 7px;
}
.scb_ab_s_grayed{
    color: grey !important;
}


.scb_ab_s_hide_variable{
    display:none;
}

.scb_ab_s_row{
    position: relative;
}

.scb_ab_s_row>div{
    display:inline-block;
    text-align: center;
    vertical-align: top;
}
.scb_ab_s_col_width>div{
    width: 100px;

}

.scb_ab_s_table_header_text{
    font-family: 'sourcesanspro-semibold';
    margin: 5px 0 10px 0;
}
.scb_ab_s_row>div.scb_ab_s_enable_sample{
    width: 50px;
}
.scb_ab_s_heading_div{
    margin: 15px 10px;
    font-family: 'sourcesanspro-semibold';
    color: #316f94;
    font-weight: bold;

}
.scb_ab_s_page_title{
    font-size: 16pt;
    padding-bottom: 10px;

}
.scb_ab_s_heading_description{
    font-size: 12pt;
}
.scb_ab_s_heading_instructions{
    font-size: 10pt;
}
.scb_ab_s_show_protocols_btn{
    float: right;
    margin-right:40px;
    width: 160px;
}
.scb_ab_s_samples_heading{
    display: inline-block;
    padding-left: 10px;
}
/* Sidebar */
.scb_ab_s_sidebar_section_heading{
    padding-left: 12px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'sourcesanspro-semibold';
    color: #316f94;
    padding-top: 5px;
}
.scb_ab_s_sidebar_section_subheading{
    padding-left: 14px;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'sourcesanspro-semibold';
    color: #316f94;
    padding-top: 5px;
}
.scb_ab_s_sidebar_page_name_selected{
	background: #c9cdd0;
}
.scb_ab_s_sidebar_page_link{
	font-size: 10pt;
	margin: 0 0 0 -5px;
	font-family: 'sourcesanspro-semibold';
	width: 221px;
	padding: 7px 3px 5px 33px;
	color: #010101;
}

.scb_ab_s_sidebar_technique_link{
    font-size: 10pt;
    margin: 0;
    font-family: 'sourcesanspro-semibold';
    padding: 7px 3px 5px 33px;
    color: #010101;
}
/* Protein size input */
div.scb_ab_s_antibody_name{
    text-align: left;
    vertical-align: middle;
    margin-top: 10px;
    width: 155px;
    font-family: 'sourcesanspro-semibold';

}
.scb_ab_s_protein_sizes_div{
    width: 271px;
    font-family: 'sourcesanspro-semibold';
}
.scb_ab_s_lysate_type_header{
    display: inline-block;
    width: 86px;
}
.vertical_align_top{
    vertical-align: top;
}
.scb_ab_s_protein_size_input{
    display: inline-block;
    text-align: center;
}
.scb_ab_s_protein_size_input>input {
    margin: 5px 0 0 5px;
    width: 68px;
}
/* Band intensity*/
.scb_ab_s_row>.scb_ab_s_col_width_wb_sample{
    width: 240px;
    text-align: left;
}
.scb_ab_s_row>.scb_ab_s_col_width_number{
    width: 15px;
}
.scb_ab_s_col_width_type_size{
    width: 75px;
}

.scb_ab_s_col_width_intensity>input{
    display:none;
}
.scb_ab_s_col_width_intensity{
    width: 150px;
}
.scb_ab_s_intensity_text{
    width: 30px;
}
.intensity_slider {
    border-radius: 7px;
    height: 8px;
    margin-top: 5px;
    width:130px;
    display: inline-block;
    background: #ebebeb;
}

.intensity_slider > .ui-slider-range{
    height: 3px;
    top:3px;
    border-radius: 2px;
    left: 3px;
    margin-right:15px;
    background: #92beba;
}

.intensity_slider > .ui-slider-handle {
    border-radius: 13px;
    height:15px;
    width:15px;
    border: 1px solid grey;
}
.scb_ab_s_antibody_header{
    font-size: 17px;
}

#jqDialog_box{
    max-width: 425px;
}

/* Sample text wrapper with ellipsis */

div.block-ellipsis {
  display: -webkit-box;
  max-width: 100%;
  max-height: 35px;
  margin: 0 auto;
  font-size: 14px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dashboard */
.scb_ab_s_dashboard_action{
    color: #27956c;
}
.scb_ab_s_dashboard_no_right_border{
    border-right: 0 !important;
}
.scb_s_dashboard_names_width{
    width: 200px;
}
.scb_s_dashboard_access_width{
    width: 80px;
}
.scb_ab_s_dashboard_new_assignment_button{
    font-size: 9pt;
    font-family: 'sourcesanspro-semibold';
    position:relative;
    float: left;
    left: 12px;
    top: 20px;
    margin-right: 19px;
    border-radius: 8px;
    letter-spacing: 1px;
    background: #c82e3e;
    color: white;
    padding: 5px 9px 5px 13px;

}
span.scb_ab_s_dashboard_action {
    cursor: pointer;
}


/* Temporarily disable techniques */
.disabled{
    opacity: 0.4;
    cursor: default !important;
}
input[type="checkbox"].disabled {
    opacity: 1;
}

/* FACS Sample Prep */
.scb_ab_s_input_headers>div.scb_ab_s_facs_cell_treatment_header{
    width: 167px;

}
.scb_ab_s_input_headers>div.scb_ab_center_input_header{
    margin-left: 5px;
    width: 138px;
    text-align: center;
}
.scb_ab_s_form_input_list>.scb_ab_s_fixed>input{
    margin-left: 0;
}
.scb_ab_s_form_input_list>.scb_ab_s_live{
    margin-right: 20px;
}
.vertical_align_bottom{
    vertical-align: bottom;
}
/* FACS Analyze */
.scb_ab_s_col_copy{
    width: 200px;
}
.scb_ab_col_edit{
    width: 50px;
}
.scb_ab_s_edit_icon_container{
    position: absolute;
    top: 50%;
    margin-top: -22px;
    right:222px;

}
.scb_ab_s_copy_checkbox_container{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right:17px;

}
.scb_ab_s_copy_button_container{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right:30px;
}
.scb_ab_s_row>.scb_ab_s_col_width_facs_sample{
    width: 320px;
    text-align: left;
}
.scb_ab_s_row>.scb_ab_s_facs_condition_header{
    font-size: 17px;
    width: 339px;
    text-align: left;

}
.scb_ab_s_grouping_header_row{
    margin: 15px 0 5px 0;
    font-family: 'sourcesanspro-semibold';
}
.scb_ab_s_pre_header_row{
    margin-bottom: -15px;
    font-family: 'sourcesanspro-semibold';
}
.scb_ab_s_histogram_edit_icon{
    height: 28px;
    margin: 10px 7px;
}
.scb_ab_s_edit_grey_img {
    background: url('../images/Draw_Histogram_Gray.png') no-repeat;
    background-size: 25px;
}
.scb_ab_s_edit_white_img {
    background: url('../images/Draw_Histogram_Green.png') no-repeat;
    background-size: 25px;
}

/* Dialog view for analyze page */
.scb_ab_s_dialog{
    position: fixed;
    z-index: 999;
    top:0px;
    font-family: 'sourcesanspro-regular';
    font-size:10pt;
}
.scb_ab_s_dialog>div{
    max-height: 75%;
    overflow: auto;
    position: relative;
    border: 5px solid white;
    border-radius: 9px;
    background-color: #f5f5f5;

}
.scb_ab_s_analyze_dialog{
    width:800px;
    left: 300px;

}

@media (min-width: 1300px) {
    .scb_ab_s_analyze_dialog>div{
        margin: 12% auto auto 0;
    }
}

.scb_ab_s_copy_dialog{
    width: 400px;
    left: 530px;

}
.scb_ab_s_copy_dialog>div{
    margin: 330px auto auto 0;

}
.scb_ab_s_copy_dialog_body{
    /*height: 350px;*/
    text-align: center;
    padding-bottom: 50px;

}
.scb_ab_s_copy_dialog_scroll_list{
    height: 200px;
    overflow: scroll;
    box-shadow: inset 2px 2px 5px grey;
}
.scb_ab_s_copy_button{
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.scb_ab_s_grey_button_link{
    background-color: #676767;
    border: 1px solid #e0e0e0;
    border-radius: 5pt;
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 10pt;
    font-family: 'sourcesanspro-regular';
    cursor: pointer;
}

.scb_ab_s_dialog_title {
    font-size: 12pt;
    color: white;
    margin: 0;
    margin-bottom: 5px;
    padding: 6px;
    text-align: left;
    cursor: move;
    background-color: #27956c;
    font-family: 'sourcesanspro-bold';
}

.scb_ab_s_dialog_title_close {
    padding-top: 0;
    float: right;
    -webkit-appearance: none;
    font-family: 'sourcesanspro-semibold';
    outline: none;
    height: 26px;
    width: 26px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 14pt;
    color: transparent;
    background: transparent;
    background-image: url('../../../images/header/scb_close_button.png');
    background-repeat: no-repeat;
}

/* Draw Histogram View */
.scb_ab_s_draw_new_histogram_content{
    margin: 15px;
    text-align: right;
    padding-right: 80px;
}

.scb_ab_s_draw_histogram_canvas{
    width: 600px;
    height: 300px;
    cursor: inherit;
    border: 1px gray solid;
    background: white;
    margin: 20px 0;
}
.scb_ab_s_small_canvas{
    width:200px;
    height: 100px;
    border: 1px gray solid;
    background: white;
}
.scb_ab_s_canvas_noise_preview{
    margin: 25px;
    width:450px;
    height: 250px;
    border: 1px gray solid;
    background: white;
}

.scb_ab_s_remove_icon {
    float:right;
    height: 26px;
    width: 26px;
    cursor:pointer;
    border-radius: 12px;
    color: transparent;
    background-image: url('../../../images/header/scb_close_button.png');
}

.scb_ab_s_remove_icon:hover{
    background-color: #e58986;
}
.scb_ab_s_remove_histogram_icon_position{
    position:absolute;
    left: 196px;
    margin-top: -6px;
}
.scb_ab_s_chosen_sample_heading{
    padding: 0 0 15px 30px;
    text-align: left;
}

/* Choose histogram tabs in the pop-up window */
.scb_ab_s_histogram_tabs{
    display:table;
    width:100%;
    font-family: 'sourcesanspro-semibold';
    overflow: hidden;

}
.scb_ab_s_histogram_tabs>div{
    display: table-cell;
    text-align:center;
    padding: 5px 0;
}
.scb_ab_s_histogram_tab_not_selected{
    background: lightgrey;
    box-shadow: inset 2px 2px 5px grey;
    color:  #737373;
    border:1px solid lightgrey;
}
.scb_ab_s_histogram_tab_selected{
    background: #27956c;
    box-shadow: 0 0 2px 1px grey;
    color:  white;
}
.scb_ab_s_draw_histogram_view, .scb_ab_s_select_histogram_view{
    height: 550px;
}
.scb_ab_s_library_item_wrapper{
    display: inline-block;
    margin: 10px;
}
.scb_ab_s_canvas_library{
    margin: 30px 30px 0;
    text-align: center;
    height: 500px;
    border: 1px solid lightgrey;
    overflow: scroll;
    box-shadow: inset 2px 2px 5px grey;
    cursor: auto;
}
.scb_ab_s_save_btn_position{
    left: 30px;
    position:absolute;
    bottom: 0px;
}
.scb_ab_s_delete_btn_position{
    right: 30px;
    position:absolute;
    bottom: 0px;
}
.scb_ab_s_histogram_selected{
    border: 1px solid indianred;
    box-shadow: 2px 2px 5px indianred;
}

.scb_ab_s_preview_canvas_div{
    z-index: 1000;
    position: absolute;
    left:150px;
    top: 150px;
    width:500px;
    height:300px;
    background-color:darkgrey;
}

.scb_ab_s_add_noise_btn{
    display: inline-block;
    float: right;
}

/* FACS setup histogram parameters */
.scb_ab_s_canvas_axis_preview {
    margin-left: 15px;
}

label.custom-dropdown {
    position: relative;
    display: inline-block;
    height: 21px;
    margin-left: 3px;
}

.custom-dropdown:hover {
    background: url("../images/setup/scb_experiment_dropdown_hover.png") no-repeat right #FFF;
    background-size: 27px;
}

.custom-dropdown {
    padding: 4px 0 4px 5px;
    overflow: hidden;
    background: url("../images/setup/scb_experiment_dropdown.png") no-repeat right #FFF;
    background-size: 27px;
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.custom-dropdown select {
    background: transparent;
    font-family: Arial;
    font-weight: normal;
    font-size: 10pt;
    line-height: 1;
    border: 0;
    height: 20px;
    -webkit-appearance: none;
}

/* Microscopy select image dialog */
.scb_ab_s_image_selected{
    box-sizing: border-box;
    border: 1px solid #27956c;
    box-shadow: 2px 2px 5px #27956c;
    opacity: 0.5;
}
img.scb_ab_s_library_item_wrapper{
    max-width: 100px;
    max-height: 100px;
}
.scb_ab_s_image_form{
    margin-left: 30px;
}
/*Microscopy analyze */
.scb_ab_s_small_image{
    width: 100px;
    margin: 0 10px 5px 0;
}
.scb_ab_s_row>.scb_ab_s_sample_image_list{
    width: 450px;
    text-align: left;
    position: relative;
}
.scb_ab_s_row>div.scb_ab_s_filtered_image_grid{
    width: 100px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.scb_ab_s_row>button.scb_ab_s_filters_row_name{
    width: 130px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;

}
.scb_ab_s_remove_image_icon_position{
    position:absolute;
    left: 80px;
    margin-top: -6px;
}
.scb_ab_s_row_offset{
    display: table-cell;
    width: 18px
}
.scb_ab_s_image_wrapper{
    position:relative;
    display:inline-block;
    vertical-align: middle;
    width: 120px;
}
.scb_ab_s_select_image_div{
    height: 650px;
    cursor: move;
}
input#id_objective{
    width: 30px;
}

.scb_ab_s_dashboard_icon_active{
    background-image:url('../images/header/dashboard_icon_on.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.scb_ab_s_tab_title{
    position: relative;
    top: 5px;
}

.scb_ab_s_plus_button {
    font-size: large;
    width: 30px;
    font-family: 'sourcesanspro-semibold';
    letter-spacing: normal;
}

.scb_ab_s_upload_instruction{
    right: 180px;
    position: absolute;
    margin: 10px 0 0 30px;
    font-family: 'sourcesanspro-semibold';
    color: #316f94;
    font-weight: bold;
}

.scb_image_menu_title {
    position: absolute;
    margin: 5px 0;
    font-size: medium;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-style: oblique;
    font-weight: bold;
    color: #316f94;
    padding: 5px;
    border: 5px;
}

.scb_assigment_title {
    left: 7%;
}

.scb_image_bank_title {
    left: 50%;
}

.scb_ab_f_select_image {
    visibility: hidden;
}

img.scb_ab_s_small_image_selected {
    float: left;
    min-width: 100px;
    max-height: 100px;
    margin: 10px;
}

.scb_ab_s_select_box {
    margin-left: inherit;
    text-align: center;
    width: 180px;
    height: inherit;
    border-right: 1px solid lightgrey;
    overflow: scroll;
    box-shadow: inset 2px 2px 5px grey;
    display: inline-block;
    position: absolute;
    left: 0;
}

.scb_ab_s_image_bank {
    margin-right: inherit;
    text-align: center;
    width: 550px;
    height: inherit;
    border-right: 1px solid lightgrey;
    overflow: scroll;
    box-shadow: inset 2px 2px 5px grey;
    display: inline-block;
    position: absolute;
    right: 0;
}

.box_file,
input#id_objective,
input#upload_btn,
label[for="id_objective"],
.box_dragndrop {
    display: none;
}

label[for="id_file"] {
    font-size: large;
}

label[for="id_file"] strong {
    color: #005fb3;
    cursor: pointer;
}

.scb_ab_s_image_form .box_dragndrop {
  display: inline;
}

.cursor-selector {
    border: 1px dotted #000;
    position: fixed;
    display: none;
    z-index: 5000;
}

.scb_f_image_filter {
    display: none;
    text-align: center;
    font-size: medium;
    line-height: 100px;;
    margin: 10px 30px;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px dotted;
    border-radius: 10px;
    overflow: hidden;
}

.scb_f_image_filter>.scb_ab_f_select_image {
    margin: 0;
}

.scb_f_image_filter_red {
    color: red;
    overflow: hidden;
}

.scb_f_image_filter.scb_f_image_filter_blue {
    color: blue;
}

.scb_f_image_filter.scb_f_image_filter_green {
    color: green;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
