
.scb_f_help{
	position:relative;
	display: block;
    background: #f4f6f8;
    vertical-align: middle;
	margin-left: auto;
	margin-right:auto;
	padding-right:10px;
    border-radius: 5px;
    font-size: 9pt;
    letter-spacing:0.5px;
}

.dividing_line{
	height:2px;
	background:  #B0B0B0 ;
	width: 900px;
}

.ug_dividing_line{
	height: 2px;
	background-color: #cdcdcd;
	width:950px;
	position:absolute;
	left: 8px;
}


.heading, .subheading {
	font-size: 12pt;
	#cursor:pointer;
}
.heading strong, .heading strong>span, .subheading strong, .subheading strong >span{
	
	color: #316f94 !important;
}



.subheading{
	text-indent: 0 !important;
}

body{
	background: #f4f6f8;
}
.body{
	background-color: #f4f6f8;
	color: #289a7b;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif; 
	width:920px;
	padding:15px;
}

.subheading > ul{
	color:black;
	font-weight:normal;
	margin-left: 50px !important;
}
.subheading > ul >ul{
	font-size: small;
}

.heading > ul{
	#color:green;
	color: black;
	font-weight:normal;
}

.scb_f_ug_close_button:hover{
	background-color: #e58986;
}

.scb_f_help_search_bar{
	#position:fixed;
	width: inherit;
	margin-right:auto;
	margin-left: auto;
	cursor: move;
	background: #289A7B;
	height: 55px;
	color: white;
	font-size: 16pt;
}

.ug_table_of_contents{
	text-transform: uppercase;
	font-size: 20pt;
	color:black;
}


.subtitle a{
	color: #316f94 !important; 
}

.title{
	text-decoration: underline;
	cursor: auto;
	font-size: 12pt;
	width: 400px;
}

.title a{
	text-decoration: underline;
	color: #316f94;

}
.title > a >p>strong, .title > a >p{
	margin:0;
	font-size: 14pt;
	color: #316f94 !important;
}

.title > a >p>span>strong, .title > a >p>strong>span, .title > a >p>span>strong>span{
	margin:0;
	color: #316f94 !important;
}

.scb_f_help_display{
	padding-top: 10px;
    padding-left: 10px;
    #margin-top: 75px;
}

.scb_f_ug_up_button{
	-webkit-appearance: none;
	padding-top: 1px;
	padding-bottom: 1px;
}
 .scb_f_ug_down_button{
	-webkit-appearance: none;
}

.scb_f_help_form_sub{
	display:inline-block;
}

.scb_f_help_form_sub > input{
	font-size: 14pt;
	display: inline-block;
}

.scb_s_help_section{
	line-height:18px;
}

.search_found{
	display:inline !important;
}

.scb_s_main_help_link{
	color:#316f94;
	cursor:pointer;
}

.scb_s_section_active  span{
	color:#316f94 !important;
	text-decoration: underline;
	cursor:pointer;
	font-weight:bold;
}
.scb_s_help_sublink>li{
	cursor: default;
}

.back_to_top{
	font-size: 10pt;
	color: blue;
}

.underline{
	
	text-decoration: underline;
}

.scb_s_section_inactive  span{ 
	color:#316f94;
	text-decoration: initial !important;
	cursor: default;
	font-weight: bold;
	
}

