.scb_s_assignments_view {
  height: 100%;
  width: 960px;
  background-color: #f4f6f8;
}
.scb_s_abstract {
  margin-top: 8px;
  text-align: justify;
  display: inline-block;
  vertical-align: top;
  min-height: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  border-radius: 8px;
  padding: 10px;
  width: 644px;
  position: relative;
  padding-left: 20px;
  padding-top: 17px;
  font-size: 10pt;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -moz-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -ms-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -o-linear-gradient(top,#ffffff,#e9ebea);
  padding-bottom: 50px;
}
.scb_s_abstract>h1 {
  font-size: 14pt;
  font-family: 'sourcesanspro-semibold';
}
.scb_s_abstract_title {
  color: #00abe6;
  font-size: 14pt;
  font-family: 'sourcesanspro-semibold';
}
.assignments_block {
  left: 20px;
  right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  border-radius: 5px;
  background-color: #c0d0d0;
  display: block;
  padding: 10px;
}
.scb_s_assignment_sidebar_link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.scb_f_open_assignment_experiment, .scb_f_new_assignment_experiment {
  text-decoration: none;
  color: black;
}
.assignement_column_wrapper {
  padding-right: 400px;
}
.scb_s_assignments_sidebar {
  margin-top: 8px;
  font-size: 12px;
  text-align: justify;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
  background-color: white;
  margin-left: 20px;
}
.scb_s_assignments_sidebar>ul {
  margin-left: -28px;
  list-style: none;
}
.scb_s_assignments_sidebar_title {
  font-size: 12pt;
  font-family: "sourcesanspro-bold";
  text-align: left;
  margin-left: 12px;
}
.scb_s_assignments_sidebar_name {
  font-size: 12px;
}
.assignement_assignement_description {
  font-size: 10px;
  margin-left: 10px;
}
.assignement_experiment_list {
  font-size: 11px;
}
.scb_s_assignment_experiment_list {
  list-style-type: disc;
}
.scb_s_abstract>.scb_f_select_assignment {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
ul>.scb_s_assignment_experiment_list_item_new_experiment {
  padding-top: 10px;
}
.scb_s_assignment_experiment_list_item_new_experiment {
  padding-left: 25px;
  font-family: 'sourcesanspro-bold';
}
.scb_s_new_assignment_experiment {
  padding-left: 9px;
}
