.scb_s_login_dialog>iframe, .scb_s_logout_dialog>iframe, .scb_s_signup_dialog>iframe {
  right: 6px;
  bottom: 6px;
  background: #f4f6f8;
  border-radius: 5px;
  padding: 10px;
  height: 322px;
  width: 398px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border: 0;
  overflow: hidden;
  display: block;
  margin-left: 0;
  position: relative;
  z-index: 999;
  font-family: 'sourcesanspro-bold';
  font-size: 10pt;
}
.scb_s_login_form>div, .scb_s_signup_form>div {
  display: inline-block;
  position: relative;
  left: 8px;
}
.scb_s_login_form, .scb_s_signup_form {
  background: #38aa95;
  color: white;
  padding: 10px;
  height: 25px;
  width: 398px;
  position: relative;
  right: 6px;
  bottom: 6px;
  font-family: 'sourcesanspro-semibold';
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  font-size: 13pt;
  letter-spacing: .5px;
}
.scb_s_login_dialog, .scb_s_logout_dialog, .scb_s_signup_dialog {
  z-index: 99;
  position: absolute;
  background: white;
  border-radius: 13px;
  box-shadow: 0 0 36px gray;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 200px;
  padding: 10px;
  height: 375px;
  width: 406px;
  top: 0;
  font-family: 'sourcesanspro-bold';
  font-size: 10pt;
}
.scb_f_login_close_button, .scb_f_signup_close_button, .scb_f_logout_close_button {
  padding-top: 0;
  float: right;
  -webkit-appearance: none;
  font-family: 'sourcesanspro-semibold';
  outline: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14pt;
  color: transparent;
  background: transparent;
  background-image: url('../../images/header/scb_close_button.png');
  padding-right: 4px;
  padding-left: 5px;
}
.scb_f_login_close_button>span, .scb_f_signup_close_button>span, .scb_f_logout_close_button>span {
  position: relative;
  bottom: 2px;
  right: 1px;
}
.scb_f_login_close_button:hover, .scb_f_signup_close_button:hover, .scb_f_logout_close_button:hover {
  background-color: #e58986;
}
