body {
  background-color: #e9edf1;
}
.scb_s_navigation_button {
  background-image: url('../images/homepage/instructor_resources_button.png');
  padding: 6px 25px 6px 24px;
  width: 180px;
  background-position: center;
  color: white;
  text-decoration: none;
  text-align: center;
}
.scb_s_experiment_step {
  position: relative;
}
.scb_s_experiment_step_circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  vertical-align: 90%;
  color: white;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #383838;
  background-image: -webkit-linear-gradient(top,#303030,#404040);
  background-image: -moz-linear-gradient(top,#303030,#404040);
  background-image: -ms-linear-gradient(top,#303030,#404040);
  background-image: -o-linear-gradient(top,#303030,#404040);
}
.scb_s_experiment_step_number {
  padding: .4em .25em .25em;
  vertical-align: top;
}
.scb_experiment_step_selected {
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#80d1ae,#189689);
  background-image: -moz-linear-gradient(top,#80d1ae,#189689);
  background-image: -ms-linear-gradient(top,#80d1ae,#189689);
  background-image: -o-linear-gradient(top,#80d1ae,#189689);
}
.scb_s_experiment_step_horizontal_line_12 {
  position: absolute;
  width: 66px;
  background-color: #696969;
  height: 1px;
  top: 16px;
  left: 53px;
}
.scb_s_experiment_step_horizontal_line_23 {
  position: absolute;
  width: 66px;
  background-color: #696969;
  height: 1px;
  top: 16px;
  left: 143px;
}
.scb_s_experiment_step_horizontal_line_34 {
  position: absolute;
  width: 66px;
  background-color: #696969;
  height: 1px;
  top: 16px;
  left: 233px;
}
.scb_s_experiment_step_horizontal_line_45 {
  position: absolute;
  width: 66px;
  background-color: #696969;
  height: 1px;
  top: 16px;
  left: 323px;
}
.scb_s_experiment_step_div {
  display: inline-block;
  margin: 5px;
  height: 80px;
  width: 80px;
  vertical-align: top;
}
.scb_s_experiment_step_text {
  display: block;
  position: relative;
  text-align: center;
}
.scb_s_assignment_step_experiment {
  position: absolute;
  top: 60px;
  left: 280px;
  color: #69a996;
  font-size: 2em;
}
.scb_s_assignment_step {
  background: #69a996;
  color: white;
  width: 960px;
  height: 25px;
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#80d1ae,#189689);
  background-image: -moz-linear-gradient(top,#80d1ae,#189689);
  background-image: -ms-linear-gradient(top,#80d1ae,#189689);
  background-image: -o-linear-gradient(top,#80d1ae,#189689);
}
.scb_s_assignment_step>img {
  height: 24px;
  top: 1px;
  position: relative;
}
.scb_s_assignment_step_link {
  width: 140px;
  height: 15px;
  padding: 5px;
  margin-left: -8px;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scb_s_assignment_step_link_active {
  background: url('../images/header/scb_navigation_button.png');
  margin-left: -14px;
  margin-right: -11px;
  margin-top: -1px;
}
