body {
  background-color: #e9edf1;
}
div#main {
  position: relative;
  width: 100px;
  left: 20px;
  right: 20px;
}
.scb_f_assignments_step_link {
  width: 202px !important;
}
.scb_f_experiments_step_link {
  width: 178px !important;
}
.scb_f_lab_notebook_link {
  width: 176px !important;
}
.scb_s_navigation_button_old {
  padding: 3px 20px;
  min-width: 120px;
  background-position: center;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 11pt;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px #a9a9a9;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
  background-color: #008ddd;
  background-image: -webkit-linear-gradient(top,#81c9f1,#028dde);
  background-image: -moz-linear-gradient(top,#81c9f1,#028dde);
  background-image: -ms-linear-gradient(top,#81c9f1,#028dde);
  background-image: -o-linear-gradient(top,#81c9f1,#028dde);
}
.scb_s_navigation_button {
  float: right;
  -webkit-appearance: none;
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #6fc7a8;
  padding-top: 5px;
  height: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 9pt;
  font-family: 'sourcesanspro-semibold';
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-position: center;
  padding-left: 13px;
  padding-right: 9px;
  bottom: 8px;
  top: 1px;
}
.scb_s_experiment_step {
  position: relative;
  display: inline-block;
  right: 2px;
}
.scb_s_experiment_step_circle {
  box-shadow: 0 0 6px #a9a9a9;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
  vertical-align: 90%;
  color: white;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #383838;
  background-image: -webkit-linear-gradient(top,#6e6e6e,#373737);
  background-image: -moz-linear-gradient(top,#6e6e6e,#373737);
  background-image: -ms-linear-gradient(top,#6e6e6e,#373737);
  background-image: -o-linear-gradient(top,#6e6e6e,#373737);
}
.scb_s_experiment_step_button {
  font-family: 'sourcesanspro-regular';
  color: white !important;
  border-radius: 5px;
  background: #d5dce4;
  margin-right: 10px;
  height: 24px;
  width: 133px;
  text-align: center;
  padding: 3px 9px 3px 12px;
}
.scb_s_experiment_step_button>a {
  color: white;
}
.scb_s_experiment_step_visited {
  background: #59bbf2 !important;
}
.scb_s_experiment_step_buttons_title {
  font-family: 'sourcesanspro-bold';
  color: #d5dce4;
  padding: 27px 20px 0;
}
.scb_s_experiment_step_active_title {
  color: #316f94 !important;
}
.scb_s_experiment_step_labels {
  width: 440px;
  display: inline-block;
}
.scb_s_experiment_step_number {
  padding: .25em;
  vertical-align: top;
  font-size: 16pt;
}
.scb_experiment_step_selected {
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#7eb49d,#157776);
  background-image: -moz-linear-gradient(top,#7eb49d,#157776);
  background-image: -ms-linear-gradient(top,#7eb49d,#157776);
  background-image: -o-linear-gradient(top,#7eb49d,#157776);
}
.scb_experiment_step_previous {
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#88d2af,#18968a);
  background-image: -moz-linear-gradient(top,#88d2af,#18968a);
  background-image: -ms-linear-gradient(top,#88d2af,#18968a);
  background-image: -o-linear-gradient(top,#88d2af,#18968a);
}
.scb_s_experiment_step_green_bar {
  position: relative;
  z-index: 6;
  border: 1px solid #8f8e8c;
  width: 440px;
  height: 20px;
  border-radius: 18px;
  text-align: center;
  vertical-align: 90%;
  color: white;
  display: block;
  margin-right: 2em;
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#80d1ae,#189689);
  background-image: -moz-linear-gradient(top,#80d1ae,#189689);
  background-image: -ms-linear-gradient(top,#80d1ae,#189689);
  background-image: -o-linear-gradient(top,#80d1ae,#189689);
}
.scb_s_experiment_step_black_bar {
  position: relative;
  width: 440px;
  height: 22px;
  border-radius: 18px;
  text-align: center;
  vertical-align: 90%;
  color: white;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #383838;
  background-image: -webkit-linear-gradient(top,#6e6e6e,#373737);
  background-image: -moz-linear-gradient(top,#6e6e6e,#373737);
  background-image: -ms-linear-gradient(top,#6e6e6e,#373737);
  background-image: -o-linear-gradient(top,#6e6e6e,#373737);
}
.scb_s_experiment_step_progress_label {
  padding: 5px;
  text-align: center;
  left: 5px;
  letter-spacing: 1px;
  font-size: 13pt;
  vertical-align: middle;
  text-decoration: none;
  color: #316f94;
  display: inline-block;
  position: relative;
  font-family: 'sourcesanspro-bold';
  bottom: 10px;
}
.scb_s_experiment_step_div {
  display: inline-block;
  margin: 5px;
  margin-left: 15px;
  height: 112px;
  width: 887px;
  color: white;
  background: white;
  border-radius: 8px;
  vertical-align: top;
  margin-bottom: 10px;
}
.scb_s_experiment_step_design {
  width: 76px;
  left: 0;
  border-top-left-radius: 8px;
  height: inherit;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid white;
}
.scb_s_experiment_step_setup_and_run {
  width: 118px;
  border-right: 1px solid white;
}
.scb_s_experiment_step_select_technique {
  width: 162px;
}
.scb_s_experiment_step_text>a {
  color: white;
}
.scb_s_experiment_step_tech_steps {
  height: 72px;
  width: 882px;
  font-size: 13pt;
  letter-spacing: 1px;
}
.scb_s_experiment_step_tech_steps>div {
  display: inline-block;
}
.scb_s_experiment_step_main_steps {
  background: #e9ecf1;
  height: 42px;
  border-radius: 8px;
  width: 887px;
}
.scb_s_experiment_step_selected {
  background: #316f94 !important;
}
.arrow-down-design, .arrow-down-setup, .arrow-down-select {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #316f94;
  position: absolute;
}
.arrow-down-design {
  left: 30px;
}
.arrow-down-setup {
  left: 50px;
}
.arrow-down-select {
  left: 74px;
}
.scb_s_experiment_step_text {
  display: inline-block;
  position: relative;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  font-size: 13pt;
  letter-spacing: 1px;
  background: #d5dce4;
}
.scb_s_assignment_step_experiment_block {
  position: absolute;
  top: -25px;
  left: 300px;
  color: black;
  font-size: 12pt;
  overflow-x: hidden;
  width: 660px;
}
.scb_s_assignment_step_experiment {
  display: inline-block;
  margin-left: 5px;
}
.scb_s_assignment_step_experiment_line {
  position: absolute;
  top: 10px;
  height: 1px;
  background-color: #14ac63;
  font-size: 13pt;
}
label.custom-select {
  position: relative;
  display: inline-block;
  height: 19px;
}
.custom-select:hover {
  background: url("../images/setup/scb_experiment_dropdown_hover.png") no-repeat right #fff;
}
.custom-select {
  width: 219px;
  height: 21px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 10px;
  overflow: hidden;
  background: url("../images/setup/scb_experiment_dropdown.png") no-repeat right #fff;
  box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.3);
}
.custom-select select {
  background: transparent;
  width: 268px;
  color: #316f94;
  font-family: Arial;
  font-weight: normal;
  font-size: 10pt;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 22px;
  -webkit-appearance: none;
  bottom: 1px;
}
#jqDialog_options>button {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,#f2f2f2,#d3d1d2);
  background-image: -moz-linear-gradient(top,#f2f2f2,#d3d1d2);
  background-image: -ms-linear-gradient(top,#f2f2f2,#d3d1d2);
  background-image: -o-linear-gradient(top,#f2f2f2,#d3d1d2);
  border: 1px solid #e0e0e0;
  border-radius: 5pt;
  height: 30px;
  color: black;
  font-size: 10pt;
  font-family: 'sourcesanspro-semibold';
  cursor: pointer;
  text-transform: uppercase;
}
.scb_s_assignment_step_experiment_box {
  position: relative;
  top: 5px;
}
.scb_s_assignment_step_experiment>label, .scb_s_assignment_step_experiment>label>select {
  cursor: pointer;
}
.scb_s_assignments_link_img {
  background-image: url('../images/header/scb_assignment_off.png');
  background-repeat: no-repeat;
  height: 26px;
  width: 36px;
  margin-right: 15px;
}
.scb_s_experiments_link_img {
  background-image: url('../images/header/scb_experiments_off.png');
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-right: 15px;
}
.scb_s_lab_notebook_link_img {
  background-image: url('../images/header/scb_labnotebook_off.png');
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-right: 15px;
}
.scb_s_assignments_link_img_active {
  background-image: url('../images/header/scb_assignment_on.png');
  background-repeat: no-repeat;
  height: 26px;
  width: 36px;
  margin-right: 15px;
}
.scb_s_experiments_link_img_active {
  background-image: url('../images/header/scb_experiments_on.png');
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-right: 15px;
}
.scb_s_lab_notebook_link_img_active {
  background-image: url('../images/header/scb_labnotebook_on.png');
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-right: 15px;
}
.scb_s_assignment_step_wrapper {
  display: inline-flex;
  vertical-align: middle;
}
.scb_s_assignment_step {
  background: #d5dce4;
  color: #2c6596;
  width: 1002px;
  height: 70px;
  position: relative;
  text-transform: uppercase;
  box-shadow: 0 9px 9px -2px #939aa3 inset;
}
.scb_s_assignment_step>img {
  height: 69px;
  top: 1px;
  margin-left: -11px;
  margin-right: -13px;
  position: relative;
}
.scb_s_selection_arrow_img {
  float: right;
  padding-right: 7px;
}
.scb_s_assignment_step_link {
  width: 140px;
  height: 60px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12pt;
  text-decoration: none;
  color: #316f94;
  overflow: hidden;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  box-shadow: 0 1px 0 1px white;
  display: table-cell;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'sourcesanspro-semibold';
}
.scb_s_assignment_step_link_active {
  background: #8d97a3;
  box-shadow: inset 0 6px 17px -2px black;
  margin-left: -1px;
  color: white;
}
.scb_s_gray_button {
  background-color: #676767;
  border: 1px solid #e0e0e0;
  border-radius: 5pt;
  height: 30px;
  color: white;
  letter-spacing: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
}
