.scb_s_contact_dialog>iframe {
  background: #f4f6f8;
  border-radius: 5px;
  width: 450px;
  height: 500px;
  top: 0;
  font-family: 'sourcesanspro-bold';
  font-size: 10pt;
}
.scb_s_contact_dialog {
  position: absolute;
  background: #f4f6f8;
  border-radius: 5px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 110px;
  padding: 10px;
  width: 450px;
  top: 0;
  font-family: 'sourcesanspro-bold';
  font-size: 10pt;
}
