.scb_s_design_description {
  position: relative;
  margin-top: 8px;
  font-size: 12px;
  text-align: justify;
  display: inline-block;
  vertical-align: top;
  min-height: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  border-radius: 8px;
  padding: 10px;
  width: 928px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -moz-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -ms-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -o-linear-gradient(top,#ffffff,#e9ebea);
}
.scb_s_experiment_design_view {
  background-color: #f4f6f8;
  width: 960px;
}
.scb_s_experiment_design_techniques_container {
  text-align: left;
  position: relative;
  min-height: 200px;
}
.scb_s_experiment_design_techniques_tq {
  display: block;
  padding-bottom: 10px;
}
.scb_s_experiment_design_techniques_tq_note {
  display: block;
  padding-bottom: 10px;
  font-family: sourcesanspro-regular;
  font-size: 10pt;
}
.scb_s_design_description>.scb_f_open_assignment {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.scb_s_design_description>.scb_f_open_experiment_setup {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.scb_s_experiment_design_objective, .scb_s_experiment_design_hypothesis {
  width: 600px;
  height: 100px;
  font-size: 11pt;
}
.scb_s_experiment_design_hypothesis_text, .scb_s_experiment_design_objective_text, .scb_s_experiment_design_techniques_text {
  font-size: 11pt;
  text-align: left;
}
.scb_s_experiment_design_hypothesis_container, .scb_s_experiment_design_techniques_container {
  padding-top: 15px;
}
.scb_s_experiment_name_edit {
  font-family: 'sourcesanspro-semibold';
  font-size: 11pt;
}
.scb_s_experiment_design_technique_wb, .scb_s_experiment_design_technique_flow, .scb_s_experiment_design_technique_micro {
  display: inline-block;
  width: 200px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #edeef2;
  height: 180px;
  vertical-align: top;
  font-size: 10pt;
  padding-top: 20px;
  position: relative;
}
.scb_s_experiment_design_selected {
  border-width: 3px;
  border-color: #c9c9c9;
  position: relative;
  top: -2px;
  left: -2px;
  padding-right: 16px;
  padding-bottom: 4px;
}
.scb_s_experiment_design_unselected {
  opacity: .75;
}
.scb_s_experiment_design_technique:hover {
  position: relative;
  border-color: #b9b9b9;
  border-width: 3px;
  top: -2px;
  left: -2px;
  padding-right: 16px;
  padding-bottom: 4px;
}
