.scb_s_design_description {
  position: relative;
  margin-top: 8px;
  font-size: 12px;
  text-align: justify;
  display: inline-block;
  vertical-align: top;
  min-height: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  width: 938px;
}
.scb_s_experiment_design_techniques_container {
  text-align: center;
  position: relative;
  min-height: 200px;
}
.scb_s_design_description>.scb_f_open_assignment {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.scb_s_design_description>.scb_f_open_experiment_setup {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.scb_s_experiment_design_objective, .scb_s_experiment_design_hypothesis {
  width: 864px;
}
.scb_s_experiment_design_techniques_text {
  text-align: left;
}
