.scb_s_facs_chart_wrapper {
  position: relative;
  width: 400px;
  height: 360px;
}
.scb_s_facs_choose_samples_order_list {
  width: 200px;
  overflow: auto;
  max-height: 275px;
}
.scb_s_facs_choose_samples_order_list>li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  list-style-position: inside;
  margin-left: -20px;
}
.scb_s_facs_container {
  background: white;
  padding-bottom: 115px;
  box-shadow: 0 4px 14px -1px gray;
  position: relative;
  z-index: 1;
  top: 20px;
  margin-bottom: 21px;
}
.scb_s_facs_choose_samples_order {
  min-height: 284px;
  position: absolute;
  bottom: 84px;
}
.scb_s_facs_choose_samples_order_border {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 3px 3px -3px black;
  min-height: 284px;
}
.scb_s_facs_chart_yaxis {
  position: absolute;
  width: 360px;
  height: 25px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -165px;
  top: 140px;
  text-align: center;
  font-family: 'sourcesanspro-regular';
  font-size: 11pt;
}
.scb_s_facs_chart_xaxis {
  position: absolute;
  top: 325px;
  width: 400px;
  height: 25px;
  display: block;
  text-align: center;
  font-family: 'sourcesanspro-regular';
  font-size: 11pt;
}
.scb_s_facs_chart {
  margin: 20px;
  margin-left: 10px;
  position: absolute;
  width: 330px;
  height: 305px;
  top: 0;
  left: 25px;
}
.scb_s_facs_sample_selected {
  border-radius: 5px;
  background-color: #e0e0e0;
}
.scb_s_facs_progress {
  display: block;
  width: 800px;
  height: 120px;
  margin-left: 25px;
}
.scb_s_facs_progress_rest {
  display: inline-block;
  padding: 5px;
  padding-top: 8px;
  margin-left: 12px;
  border-radius: 6px;
  font-size: 9pt;
  height: 22px;
  width: 540px;
  position: relative;
  top: 5px;
}
.scb_s_facs_blank_space1 {
  width: 643px;
}
.scb_f_facs_sample_active_all_td {
  width: 436px;
}
.scb_f_facs_sample_inactive_all_td {
  width: 462px;
}
.scb_f_facs_sample_active_all, .scb_f_facs_sample_inactive_all {
  background: #676767;
  border: 1px solid #e0e0e0;
  border-radius: 5pt;
  width: 120px;
  height: 30px;
  color: white;
  font-size: 10pt;
  font-family: 'sourcesanspro-semibold';
  cursor: pointer;
}
.scb_s_facs_bar {
  top: 30px !important;
}
.scb_s_facs_single_range_button, .scb_s_facs_double_range_button {
  background-image: url('../../images/header/scb_histogram_icon.png') !important;
  height: 16px;
  width: 26px;
  background-repeat: no-repeat !important;
  border-radius: 5px;
  background-color: lightgray !important;
}
.scb_s_facs_double_range_button:active, .scb_s_facs_single_range_button:active {
  border-style: inset;
  background-image: url('../../images/header/scb_histogram_icon.png') !important;
  height: 16px;
  width: 26px;
  background-repeat: no-repeat !important;
  border-radius: 5px;
  background-color: #676767 !important;
}
.scb_s_facs_label.ui-state-active {
  background: #a7a7a7 50% 50% repeat-x !important;
}
.scb_s_facs_label>.ui-button-text {
  padding: 0 6px !important;
}
.scb_s_facs_single_range_button:checked>label, .scb_s_facs_double_range_button:checked>label {
  background-color: #676767 !important;
}
.scb_s_facs_left_facs {
  padding: 3px;
  margin: 0;
  margin-right: -2px;
  padding-bottom: 4px;
  border: inherit;
  background: 0;
  cursor: pointer;
  top: -7px;
  position: relative;
  width: 39px;
  background-image: url('../images/western_blot/scb_gray_left_arrow_inactive.png');
  height: 41px;
}
.scb_s_facs_right_facs {
  padding: 3px;
  margin: 0;
  margin-left: -5px;
  padding-bottom: 4px;
  border: inherit;
  background: 0;
  cursor: pointer;
  top: -7px;
  position: relative;
  width: 39px;
  background-image: url('../images/western_blot/scb_gray_right_arrow_inactive.png');
  height: 41px;
}
.scb_s_facs_left_facs:hover {
  background-image: url('../images/western_blot/scb_gray_left_arrow_hover.png') !important;
}
.scb_s_facs_right_facs:hover {
  background-image: url('../images/western_blot/scb_gray_right_arrow_hover.png') !important;
}
.scb_s_facs_left_facs:enabled {
  background-image: url('../images/western_blot/scb_gray_left_arrow_active.png');
}
.scb_s_facs_right_facs:enabled {
  color: #29a592;
  background-image: url('../images/western_blot/scb_gray_right_arrow_active.png');
}
.scb_f_facs_prepare_lysates {
  border-radius: 5px !important;
  position: relative !important;
  float: right !important;
  margin-right: 35px !important;
  bottom: 20px !important;
  right: -1px !important;
  top: 20px !important;
  display: inline-block !important;
  margin-top: 20px !important;
}
.scb_facs_details_view_inner {
  width: 950px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 25px;
  position: relative;
}
.scb_s_facs_vertical_line_1 {
  position: absolute;
  width: 2px;
  background-color: #b0b0b0;
  height: 12px;
  top: 55px;
  left: 75px;
}
.scb_s_facs_vertical_line_4 {
  position: absolute;
  width: 2px;
  background-color: #b0b0b0;
  height: 12px;
  top: 55px;
  left: 349px;
}
.scb_s_facs_vertical_line_7 {
  position: absolute;
  width: 2px;
  background-color: #b0b0b0;
  height: 12px;
  top: 55px;
  left: 622px;
}
.scb_s_facs_cell_treatment {
  position: relative;
}
.scb_s_facs_cell_treatment_radio {
  position: absolute;
  top: 4px;
}
.scb_s_facs_cell_treatment_text {
  position: absolute;
  top: 6px;
  left: 23px;
}
.scb_s_facs_vertical_line_1_top {
  position: absolute;
  z-index: 5;
  width: 2px;
  background-color: rgba(225,226,228,0.3);
  height: 17px;
  left: 18px;
  top: 2px;
}
.scb_s_facs_vertical_line_4_top {
  position: absolute;
  width: 2px;
  background-color: rgba(225,226,228,0.3);
  height: 17px;
  left: 292px;
  z-index: 5;
  top: 2px;
}
.scb_s_facs_vertical_line_7_top {
  position: absolute;
  width: 2px;
  background-color: rgba(225,226,228,0.3);
  height: 17px;
  left: 565px;
  z-index: 5;
  top: 2px;
}
.scb_facs_progress_2 {
  position: relative;
  left: 202px;
}
.scb_facs_progress_3 {
  position: relative;
  left: 431px;
}
.scb_facs_details_view {
  margin-top: -20px;
  padding-top: 10px;
  width: 939px;
  background: #f5f6f8;
  border-radius: 8px;
  position: relative;
  top: 23px;
  left: 33px;
}
.scb_s_facs_all_tabs {
  display: block;
  border-radius: 8px;
  position: relative;
  padding-bottom: 8px;
  padding-top: 44px;
  margin-left: 13px;
  width: 932px;
}
.scb_s_facs_view {
  background: #f4f6f8;
  width: 1002px;
}
.scb_s_facs_tabs>a {
  color: gray;
}
.scb_s_facs_active>span {
  color: black;
}
input[type=radio] {
  margin-right: 7px;
  -webkit-appearance: none;
  margin-bottom: 0;
  height: 13px;
  width: 12px;
  border: 1px solid #c0c0c0;
  background-color: #d0d0d0;
  border-radius: 6px;
  cursor: pointer;
}
input[type=radio]:checked {
  margin-right: 7px;
  -webkit-appearance: none;
  margin-bottom: 0;
  height: 13px;
  width: 12px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 6px;
}
input[type=radio]:checked:before {
  content: url("../../../images/homepage/dot5.png");
  bottom: 1px;
  position: relative;
  right: 2px;
}
input[type=radio]:disabled {
  opacity: .5;
}
.scb_s_facs_add_cross_facs {
  cursor: pointer;
  float: right;
  margin-right: 17px;
  position: relative;
  font-family: 'Lucida Grande';
}
.scb_f_facs_remove {
  border: none;
  background-color: white;
  cursor: pointer;
  float: right;
  margin-right: 18px;
  margin-top: 3px;
  font-size: 9pt;
}
.scb_s_facs_tab_content {
  margin-top: -27px;
  background-color: #fff;
  background-image: none;
  min-height: 225px;
  width: 895px;
  padding: 0;
  padding-bottom: 17px;
  margin-bottom: 10px;
  border: 1px solid #97a4ad;
}
.scb_s_facs_samples_container {
  position: relative;
  left: 16px;
  width: 856px;
  padding-top: 20px;
  padding-bottom: 33px;
  border: 1px #27956c solid;
  border-radius: 5px;
  background: #edeef2;
}
.sample_prep_select_facs {
  width: 75px;
}
.sample_prep_samples_facs {
  width: 342px;
}
.sample_prep_cellt_facs {
  width: 195px;
}
.sample_prep_dna_facs {
  width: 279px;
}
.sample_prep_blank_facs {
  width: 10px;
}
.scb_s_facs_samples_table {
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #edeef2;
  overflow: auto;
  border: 0;
}
.scb_s_facs_samples_select_all_abs {
  bottom: 0;
  position: absolute;
  border-top: #27956c solid 2px;
  padding-top: 2px;
}
.scb_s_facs_samples_table>table {
  width: 100%;
  border-collapse: collapse;
}
.scb_s_facs_samples_area {
  margin-top: 28px;
  height: 358px;
  margin-left: 8px;
  overflow: hidden;
}
.scb_s_facs_gel_tabs {
  width: 640px;
  height: 25px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  margin-left: 9px;
  margin-right: -1px;
  margin-top: -1px;
}
.scb_s_facs_samples_table>table>tbody {
  background-color: #edeef2;
}
.scb_s_facs_samples_table_heading {
  font-family: 'sourcesanspro-semibold';
  font-size: 10pt;
}
.scb_s_facs_samples_table_head>tr {
  position: absolute;
  top: 0;
  background: white;
}
.scb_s_facs_samples_graph_area {
  display: inline-block;
  vertical-align: top;
  width: 568px;
  height: 400px;
  padding-top: 20px;
  margin-left: 8px;
}
.scb_s_facs_samples_table_td {
  font-size: 10pt;
  height: 25px;
}
.scb_f_facs_run_samples {
  border: none;
  margin-top: 7px !important;
  margin-left: 88px !important;
  margin-right: 20px !important;
  float: none !important;
  height: auto !important;
  top: -1px !important;
}
.scb_f_facs_run_samples_short {
  border: none;
  margin-left: 92px !important;
  margin-right: 20px !important;
  float: none !important;
  height: auto !important;
  top: -3px !important;
}
.scb_s_facs_tab_content_analyze {
  padding: 5px;
  padding-bottom: 20px;
}
.scb_s_facs_tools {
  width: 205px;
  height: 350px;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 370px;
  border-left: 1px solid #e0e0e0;
  padding-left: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: sourcesanspro-regular;
  font-size: 12pt;
}
.scb_s_facs_samples_table_td>input[type=radio] {
  cursor: pointer;
}
.scb_f_facs_tools_start_analysis {
  bottom: 8px !important;
  border: none;
  left: 34px !important;
  padding-bottom: 20px !important;
  position: absolute !important;
  top: 306px !important;
}
.scb_s_facs_tools_instructions_initial {
  font-family: sourcesanspro-regular;
  font-size: 12pt;
}
.scb_f_note_close_button, .scb_f_controls_close_button, .scb_f_facs_note_close_button, .scb_f_western_blot_note_close_button, .scb_f_microscopy_note_close_button {
  padding-top: 0;
  float: right;
  -webkit-appearance: none;
  font-family: 'sourcesanspro-semibold';
  outline: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14pt;
  color: transparent;
  background: transparent;
  background-image: url('../../images/header/scb_close_button.png');
  padding-right: 4px;
  padding-left: 5px;
}
.scb_s_facs_apply {
  position: absolute;
  top: 320px;
  font-family: 'sourcesanspro-regular';
  font-size: 10pt;
}
.scb_s_facs_tools_analyze_data {
  border: 1px solid #27956c;
  margin-top: 10px;
  margin-left: -3px;
  overflow: auto;
  border-radius: 5px;
  border-spacing: 0;
  width: 189px;
  max-height: 200px;
  display: block;
  background-color: white;
  margin-bottom: 20px;
}
.scb_s_facs_tools_analyze_data>thead>tr>td {
  font-family: 'sourcesanspro-semibold';
  font-size: 10pt;
  padding-left: 5px;
}
.scb_s_facs_tools_analyze_data>tbody>tr>td {
  background-color: #edeef2;
  font-family: 'sourcesanspro-semibold';
  font-size: 10pt;
  padding-left: 5px;
  border-right: 1px solid #e0e0e0;
}
.scb_s_facs_tools_instructions_followup_toggle {
  outline: none;
  bottom: 34px;
  position: relative;
  left: 146px;
  background: none;
  border: none;
  height: 23px;
  width: 23px;
  color: white;
  letter-spacing: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
  background-image: url('../../images/header/scb_help.png');
  background-repeat: no-repeat;
}
.scb_s_facs_tools_samples_followup_toggle {
  outline: none;
  bottom: 11px;
  position: relative;
  left: 84px;
  background: none;
  border: none;
  height: 23px;
  width: 23px;
  color: white;
  letter-spacing: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
  background-image: url('../../images/header/scb_help.png');
  background-repeat: no-repeat;
}
.scb_f_facs_dna_followup {
  display: none;
  right: -66px;
  position: absolute;
  width: 181px;
  background: #f4f6f8;
  border-radius: 14px;
  padding: 4px;
  border: 4px solid white;
  bottom: 22px;
  z-index: 100;
  text-align: left;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
}
.scb_s_facs_dna_info {
  outline: none;
  right: 113px;
  bottom: -3px;
  position: absolute;
  background: none;
  border: none;
  height: 23px;
  width: 23px;
  color: white;
  letter-spacing: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
  background-image: url('../../images/header/scb_info.png');
  background-repeat: no-repeat;
  z-index: 6;
}
.scb_s_facs_tools_instructions_followup {
  left: 311px;
  position: absolute;
  width: 205px;
  background: #f4f6f8;
  border-radius: 14px;
  padding: 4px;
  border: 4px solid white;
  bottom: 338px;
  z-index: 5;
  text-align: left;
  font-size: 10pt;
}
.scb_s_facs_tools_samples_followup {
  left: 105px;
  bottom: 405px;
  position: absolute;
  width: 205px;
  background: #f4f6f8;
  border-radius: 14px;
  padding: 4px;
  border: 4px solid white;
  z-index: 1;
  text-align: left;
  font-size: 10pt;
}
.scb_f_facs_cell_followup {
  display: none;
  right: 144px;
  position: absolute;
  width: 205px;
  background: #f4f6f8;
  border-radius: 14px;
  padding: 4px;
  border: 4px solid white;
  bottom: 22px;
  z-index: 100;
  text-align: left;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
}
.scb_s_facs_cell_info {
  outline: none;
  right: 349px;
  bottom: -3px;
  position: absolute;
  background: none;
  border: none;
  height: 23px;
  width: 23px;
  color: white;
  letter-spacing: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
  background-image: url('../../images/header/scb_info.png');
  background-repeat: no-repeat;
  z-index: 6;
}
.scb_f_facs_histogram_followup {
  display: none;
  right: -4px;
  position: absolute;
  width: 205px;
  background: #f4f6f8;
  border-radius: 14px;
  padding: 4px;
  border: 4px solid white;
  bottom: 22px;
  z-index: 100;
  text-align: left;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
}
.scb_s_facs_histogram_info {
  outline: none;
  right: 200px;
  bottom: 2px;
  position: absolute;
  background: none;
  border: none;
  height: 23px;
  width: 23px;
  color: white;
  letter-spacing: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  cursor: pointer;
  background-image: url('../../images/header/scb_info.png');
  background-repeat: no-repeat;
  z-index: 6;
}
.scb_s_hidden_note {
  display: none;
}
