.scb_s_notebook_view {
  background: #f4f6f8;
  width: 1002px;
}
.scb_s_notebook_container {
  background: white;
  box-shadow: 0 4px 14px -1px gray;
  position: relative;
  padding-bottom: 20px;
  z-index: 1;
}
.scb_notebook_details_view {
  padding-top: 10px;
  width: 939px;
  background: #f5f6f8;
  border-radius: 8px;
  position: relative;
  margin-bottom: 42px;
  top: 23px;
  left: 33px;
}
.scb_s_notebook_all_tabs {
  display: block;
  border-radius: 8px;
  position: relative;
  padding-bottom: 8px;
  padding-top: 44px;
  margin-left: 13px;
  width: 932px;
}
.scb_notebook_details_view_inner {
  width: 950px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 25px;
  position: relative;
  min-height: 676px;
}
.scb_s_notebook_section {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  background-image: none;
  width: 895px !important;
  min-height: 315px;
  padding: 0;
  position: relative;
  border: 1px solid #97a4ad;
  padding-bottom: 10px;
}
.scb_s_notebook_section_name_edit {
  font-family: 'sourcesanspro-semibold';
  font-size: 11pt;
  left: 11px;
  position: relative;
  width: 396px;
}
.scb_s_notebook_text_button, .scb_s_notebook_image_button {
  border: none;
  height: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
}
.scb_s_notebook_element_edit_wrapper {
  bottom: 0;
  position: relative;
  width: 843px;
  border: 1px solid #d8eee7;
  background-color: #f4f6f8;
  box-shadow: 0 0 0 0;
  border-radius: 8px;
  margin: 25px;
  min-height: 215px;
}
.scb_s_notebook_image_insert_button:hover {
  background: #407d9e;
}
.scb_s_notebook_image_insert_button {
  float: bottom;
  -webkit-appearance: none;
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #59bbf2;
  padding-top: 5px;
  height: 23px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 9pt;
  font-family: 'sourcesanspro-semibold';
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-position: center;
  padding-left: 13px;
  padding-right: 9px;
  bottom: 8px;
  top: 1px;
  border: none;
}
.scb_s_notebook_add_section_button {
  width: 300px;
  height: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.scb_s_notebook_image_dialog_button_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
.scb_s_notebook_section_button_wrapper {
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.scb_f_notebook_remove {
  border: none;
  background-color: white;
  cursor: pointer;
  float: right;
  padding-bottom: 0;
  margin-right: 18px;
  margin-top: 3px;
}
.scb_s_notebook_save_text_button {
  border: none;
  height: 25px;
}
.scb_s_notebook_western_blot {
  display: inline !important;
}
.scb_s_notebook_text_section, .scb_s_notebook_image_section {
  margin: 15px;
  background: white;
  border: 2px solid black;
  padding: 5px;
}
.scb_s_notebook_experiment_design_techniques {
  min-height: 0 !important;
}
.scb_s_notebook_experiment_setup_table {
  font-size: 12px;
}
.scb_s_notebook_image_section_link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.scb_s_notebook_experiment_head_link {
  padding-left: 10px;
}
.scb_s_notebook_experiment_design_link, .scb_s_notebook_experiment_setup_link, .scb_s_notebook_wb_head_link, .scb_s_notebook_facs_head_link, .scb_s_notebook_micro_head_link {
  padding-left: 25px;
}
.scb_s_notebook_wb_link, .scb_s_notebook_facs_link, .scb_s_notebook_micro_link {
  padding-left: 50px;
}
