.scb_s_select_technique_view {
  background-color: #f4f6f8;
  width: 1002px;
}
.scb_s_select_technique_header {
  font-size: 1.5em;
}
.scb_s_select_technique_container {
  background: white;
  padding-bottom: 51px;
  box-shadow: 0 4px 14px -1px gray;
  position: relative;
  z-index: 1;
}
.scb_s_select_technique_western_blot_available {
  border: 1px solid #a0a0a0;
  height: 160px;
  width: 257px;
  background-color: white;
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 3px;
}
.scb_s_select_technique_open_western_blot, .scb_s_select_technique_open_facs, .scb_s_select_technique_open_microscopy {
  border: 0 solid white;
  padding-left: 15px;
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: underline;
  color: blue;
}
.scb_s_select_technique_open_western_blot:hover, .scb_s_select_technique_open_facs:hover {
  color: #6aa4eb;
}
.scb_f_new_western_blot {
  margin-top: 10px;
}
.scb_s_select_technique_details_view>.scb_f_open_experiment_setup_readonly {
  display: block;
  margin-top: 20px;
  width: 200px;
  left: 29px;
  float: left;
}
.scb_s_select_technique_western_blot {
  width: 252px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 8px;
  background-color: #edeef2;
  height: 368px;
  vertical-align: top;
  position: relative;
  font-size: 10pt;
}
.scb_s_select_technique_flow, .scb_s_select_technique_micro {
  width: 252px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 8px;
  margin-top: 10px;
  background-color: #edeef2;
  height: 368px;
  vertical-align: top;
  position: relative;
  font-size: 10pt;
}
.scb_s_select_technique_disabled {
  opacity: .25;
}
.scb_s_select_technique_details_view {
  position: relative;
  border-radius: 8px;
  width: 922px;
  top: 23px;
  margin-bottom: 20px;
  margin-left: 35px;
  padding-left: 10px;
  background: #f5f6f8;
  padding-bottom: 10px;
}
.scb_s_select_technique_details_view>.scb_s_experiment_step {
  left: -11px;
  top: 10px;
  padding-left: 5px;
}
.scb_s_select_technique_learn_more {
  display: inline-block;
  background: transparent;
  border-width: 0;
  background-size: 110px 33px;
  background-position: center;
  height: 24px;
  width: 95px;
  margin-left: 0;
  font-family: 'sourcesanspro-bold';
  font-size: 10.5pt;
  color: #27956c;
  background-position-x: 0;
  background-position-y: 1px;
  text-decoration: none;
}
.learn_more_western_blot, .learn_more_facs, .learn_more_microscopy {
  cursor: pointer;
}
.scb_s_select_technique_para {
  position: relative;
  margin-top: 24px;
}
.scb_s_facs_select_technique {
  position: absolute !important;
  bottom: -11px !important;
  margin-right: 15px;
}
.scb_f_new_flow_cytometry {
  position: relative;
  top: 15px;
  bottom: 5px;
  left: 20px;
  width: 228px;
  margin-right: 19px !important;
  margin-bottom: 18px !important;
}
.scb_f_new_western_blot {
  position: relative;
  float: none !important;
  display: block;
  left: 20px;
  bottom: 5px;
  width: 188px;
  top: 2px;
}
.scb_f_new_microscopy {
  position: relative;
  float: none !important;
  display: block;
  top: 2px;
  left: 20px;
  bottom: 5px;
  width: 188px;
}
.scb_s_select_technique_reminder {
  font-family: 'sourcesanspro-bold';
}
.scb_s_select_technique_none {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
