.scb_s_western_blot_tabs, .scb_s_microscopy_tabs {
  position: absolute;
  top: -42px;
  margin-left: 36px;
  min-width: 826px;
  overflow-y: hidden;
}
.scb_s_facs_tabs {
  position: absolute;
  top: -43px;
  margin-left: 36px;
  min-width: 826px;
  overflow-y: hidden;
}
.scb_s_western_blot_left_western_blot_left_small {
  position: relative;
  vertical-align: top;
  padding: 3px;
  margin: 0;
  margin-right: -2px;
  padding-bottom: 4px;
  border: inherit;
  background: 0;
  cursor: pointer;
  width: 39px;
  background-image: url('../images/western_blot/scb_gray_left_arrow_inactive.png');
  height: 41px;
}
.scb_s_western_blot_right_western_blot_right_small {
  position: relative;
  float: right;
  vertical-align: top;
  padding: 3px;
  margin: 0;
  margin-left: -3px;
  padding-bottom: 4px;
  border: inherit;
  background: 0;
  cursor: pointer;
  width: 39px;
  background-image: url('../images/western_blot/scb_gray_right_arrow_inactive.png');
  height: 41px;
}
.scb_s_facs_left_facs_left_small {
  padding: 3px;
  margin: 0;
  margin-right: -2px;
  padding-bottom: 4px;
  border: inherit;
  background: 0;
  top: 13px;
  cursor: pointer;
  position: relative;
  width: 39px;
  background-image: url('../images/western_blot/scb_gray_left_arrow_inactive.png');
  height: 41px;
}
.scb_s_facs_right_facs_right_small {
  padding: 3px;
  float: right;
  margin: 0;
  margin-left: -5px;
  padding-bottom: 4px;
  border: inherit;
  background: 0;
  top: 13px;
  cursor: pointer;
  position: relative;
  width: 39px;
  background-image: url('../images/western_blot/scb_gray_right_arrow_inactive.png');
  height: 41px;
}
.scb_s_western_blot_selected, .scb_s_facs_selected, .scb_s_microscopy_selected {
  color: #316f94 !important;
  position: relative;
  vertical-align: middle;
  font-family: 'sourcesanspro-semibold';
  font-size: 11pt;
  width: 85px;
  border: none;
}
.scb_s_facs_selected:hover, .scb_s_western_blot_selected:hover, .scb_s_microscopy_selected:hover {
  outline: 1px solid blue;
}
.scb_s_western_blot_tabs_more {
  position: absolute;
  top: -51px;
  min-width: 895px;
}
.scb_s_microscopy_tabs_more {
  position: absolute;
  top: -42px;
  min-width: 895px;
}
.scb_s_facs_tabs_more {
  position: absolute;
  top: -35px;
  min-width: 895px;
}
.scb_s_western_blot_active>span, .scb_s_facs_active>span, .scb_s_microscopy_active>span {
  color: #316f94 !important;
  position: relative;
  top: 3px;
  vertical-align: middle;
}
.scb_s_facs_add_facs, .scb_s_western_blot_add_western_blot {
  color: black;
  text-align: left;
  right: 1px;
  position: relative;
}
.scb_s_microscopy_add_microscopy {
  color: black;
  text-align: left;
}
.scb_s_western_blot_gel_content {
  height: 350px;
  width: 568px;
  position: relative;
  background-color: white;
  border: 1px solid #97a4ad;
}
.scb_s_select_technique_at_western_blot, .scb_s_select_technique_at_microscopy, .scb_s_select_technique_at_facs {
  display: block !important;
  position: relative !important;
  margin-left: -14px !important;
  width: 200px !important;
  margin-top: 20px !important;
  top: 20px !important;
  margin-bottom: -10px !important;
  float: left !important;
}
.scb_s_western_blot_active, .scb_s_microscopy_active {
  background: white;
  margin-right: 2px;
  margin-left: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  padding-left: 20px;
  padding-bottom: 13px;
  padding-top: 8px;
  position: relative;
  height: 19px;
  font-size: 11pt;
  z-index: 99;
  font-family: 'sourcesanspro-semibold';
  background-position-y: 2px;
  background-position-x: -4px;
  border: 1px solid #97a4ad;
  border-bottom: none;
}
.scb_s_facs_active {
  background: white;
  margin-right: 2px;
  margin-left: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 8px;
  position: relative;
  height: 19px;
  font-size: 11pt;
  z-index: 99;
  font-family: 'sourcesanspro-semibold';
  background-position-y: 2px;
  background-position-x: -4px;
  border: 1px solid #97a4ad;
  border-bottom: none;
}
.scb_s_western_blot_active>.scb_s_western_blot_remove {
  position: relative;
  top: 1px;
}
.scb_s_western_blot_open_western_blot, .scb_s_facs_open_facs, .scb_s_microscopy_open_microscopy {
  display: inline-block;
  width: 140px;
  padding-left: 20px;
  vertical-align: middle;
  position: relative;
  height: 19px;
  padding-bottom: 11px;
  padding-top: 11px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 11pt;
  font-family: 'sourcesanspro-semibold';
  text-decoration: none;
  color: #6f7171;
  bottom: 1px;
  background: #e9edf1;
}
.scb_s_western_blot_gel_tab {
  width: 127px;
  vertical-align: middle;
  position: relative;
  height: 17px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 9pt;
  font-family: 'sourcesanspro-semibold';
  background: #e9edf1;
  text-align: center;
  top: 4px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer !important;
  color: black;
}
.scb_s_microscopy_slide_tab {
  width: 127px;
  vertical-align: middle;
  position: relative;
  height: 17px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 11pt;
  font-family: 'sourcesanspro-semibold';
  background: #e9edf1;
  text-align: center;
  top: 4px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer !important;
  color: black;
}
.scb_s_western_blot_gel_active {
  width: 127px;
  vertical-align: middle;
  position: relative;
  height: 17px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 11pt;
  font-family: 'sourcesanspro-semibold';
  text-decoration: none;
  color: #316f94;
  text-align: center;
  top: 4px;
  display: inline-block;
  background: white;
  border: 1px solid #97a4ad;
  border-bottom: none;
  z-index: 99;
}
.scb_s_western_blot_more_open_western_blot, .scb_s_microscopy_more_open_microscopy {
  top: 9px;
}
.scb_s_facs_more_open_facs {
  top: -21px;
}
.scb_s_western_blot_remove {
  border: none;
  background-color: white;
}
.scb_s_western_blot_remove>img {
  height: 12px;
}
.scb_s_facs_tab_content, .scb_s_western_blot_tab_content, .scb_s_microscopy_tab_content {
  border-radius: 5px;
  position: relative;
  padding-bottom: 8px;
  width: 947px;
  background: white;
}
.scb_f_facs_note_close_button:hover, .scb_f_western_blot_note_close_button:hover, .scb_f_microscopy_note_close_button:hover, .scb_f_controls_close_button:hover {
  background-color: #e58986;
}
.scb_s_western_blot_samples_area, .scb_s_facs_samples_area {
  width: 290px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  border-top-width: 8px;
  box-shadow: 0 0 3px black;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}
.scb_s_microscopy_samples_area {
  width: 290px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  border-top-width: 8px;
  box-shadow: 0 0 3px black;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: white;
}
.scb_s_western_blot_samples_heading {
  font-size: 11pt;
  font-family: 'sourcesanspro-semibold';
  text-align: left;
  padding-top: 15px;
  margin-bottom: -10px;
  padding-left: 17px;
}
.scb_s_facs_samples_heading, .scb_s_microscopy_samples_heading {
  font-size: 11pt;
  font-family: 'sourcesanspro-semibold';
  text-align: left;
  padding-top: 15px;
  margin-bottom: -10px;
  padding-left: 22px;
}
.scb_s_facs_choose_samples_order_list>li {
  font-size: 10pt;
  padding: 3px;
  color: black;
  cursor: pointer;
}
.scb_s_western_blot_samples_gel_area, .scb_s_facs_samples_graph_area, .scb_s_microscopy_samples_gel_area {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  height: 400px;
  padding-top: 20px;
}
