.scb_s_western_blot_active, .scb_s_facs_active {
  margin-left: 5px;
  border-bottom: 1px white solid;
  background-image: url('../images/western_blot/WesternBlot_GrayTab.png');
  display: inline-block;
  width: 125px;
  padding-left: 20px;
  top: 7px;
  position: relative;
  height: 20px;
  font-size: 11pt;
  z-index: 99;
}
.scb_s_western_blot_open_western_blot, .scb_s_facs_open_facs {
  margin: 3px;
  margin-left: 5px;
  background-image: url('../images/western_blot/WesternBlot_GrayTab.png');
  display: inline-block;
  width: 119px;
  padding-left: 20px;
  top: 4px;
  position: relative;
  height: 19px;
  border-bottom: 1px solid #808080;
  font-size: 11pt;
  text-decoration: none;
  color: black;
}
.scb_s_western_blot_remove {
  border: none;
  background-color: white;
}
.scb_s_facs_tab_content, .scb_s_western_blot_tab_content {
  border: 1px solid #808080;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -moz-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -ms-linear-gradient(top,#ffffff,#e9ebea);
  background-image: -o-linear-gradient(top,#ffffff,#e9ebea);
}
