.scb_f_ug_close_button {
  padding-top: 0;
  float: right;
  -webkit-appearance: none;
  font-family: 'sourcesanspro-semibold';
  outline: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14pt;
  color: transparent;
  background: transparent;
  background-image: url('../../images/header/scb_close_button.png');
  padding-right: 4px;
  padding-left: 5px;
}
.scb_f_ug_close_button:hover {
  background-color: #e58986;
}
.scb_f_ug_green_line {
  height: 2px;
  width: 672px;
  right: 0;
  position: absolute;
  background-color: #7dd2ad;
}
.main_popout_disabled {
  background-image: url('../../images/header/scb_popout_off.png') !important;
}
.main_popout {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  width: 72px;
  height: 26px;
  color: black;
  padding-left: 30px;
  font-family: 'sourcesanspro-semibold';
  position: relative;
  top: 4px;
  cursor: pointer;
  left: 21px;
  font-size: 10pt;
  background-image: url('../../images/header/scb_popout_on.png');
}
.nav_divider {
  display: inline-block;
  height: 24px;
  width: 2px;
  position: absolute;
  top: 10px;
  background: #6fc7a8;
  left: 82px;
}
.scb_s_ug_home {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-image: url('../../images/header/scb_home_on.png');
  width: 72px;
  height: 26px;
  color: black;
  padding-left: 26px;
  cursor: pointer;
  font-family: 'sourcesanspro-semibold';
  position: relative;
  top: 4px;
  left: 11px;
  font-size: 10pt;
}
.scb_s_ug_home_disabled {
  background-image: url('../../images/header/scb_home_off.png') !important;
}
.scb_s_ug_form {
  background: #f4f6f8;
  color: black;
  padding: 5px;
  height: 25px;
  position: relative;
  left: 5px;
  text-transform: uppercase;
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#80d1ae,#189689);
  background-image: -moz-linear-gradient(top,#80d1ae,#189689);
  background-image: -ms-linear-gradient(top,#80d1ae,#189689);
  background-image: -o-linear-gradient(top,#80d1ae,#189689);
}
.scb_f_ug_search_line {
  height: 23px;
  width: 2px;
  background: #e0e0e0;
  position: absolute;
  bottom: -10px;
  left: 261px;
}
.scb_f_ug_up_button {
  -webkit-appearance: none;
  bottom: -11px;
  position: absolute;
  background: 0;
  border: 0;
  width: 19px;
  padding: 0 !important;
  left: 263px;
}
.scb_f_ug_down_button {
  -webkit-appearance: none;
  position: absolute;
  background: 0;
  border: 0;
  bottom: -10px;
  width: 19px;
  padding: 0 !important;
  left: 239px;
}
.scb_f_help_form {
  display: inline-block;
  margin-bottom: 0;
  width: 366px;
  height: 45px;
}
.arrow_background {
  position: absolute;
  width: 43px;
  height: 25px;
  top: 2px;
  left: 221px;
  background-image: url('../../../images/homepage/unable_updown.png');
}
.scb_s_search_wrapper {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  height: 28px;
  display: inline-block;
  position: absolute;
}
.scb_f_help_form>div>img {
  top: 2px;
  position: relative;
  left: 2px;
}
.scb_display_search_count {
  color: black;
  margin-left: 10px;
  font-size: 10pt;
  position: relative;
  bottom: -7px;
  right: 77px;
}
.scb_f_help_form>input {
  font-size: 12pt;
  display: inline-block;
  border-radius: 21px;
  padding: 6px;
  position: relative;
  bottom: 2px;
  left: 19px;
}
.scb_f_help_form>div {
  display: inline-block;
  background: white;
  box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.3);
  height: 28px;
  left: 20px;
  position: relative;
  top: 11px;
  width: 265px;
}
.search_found {
  display: inline !important;
}
#search {
  font-size: 9pt;
  padding: 4px 13px 15px;
  border-radius: 6px;
  height: 23px;
  width: 74px;
  right: 0;
  left: 314px;
  border: none;
  margin: 0;
  top: 13px;
  position: absolute;
  display: inline-block;
}
#closesearch {
  font-size: 9pt;
  padding: 1px 3px 15px;
  border-radius: 6px;
  height: 11px;
  width: 11px;
  top: 8px !important;
  right: 0;
  left: 288px;
  border: none;
  position: absolute;
  background: none;
  color: black;
}
#closesearch:hover {
  background-color: #e58986;
}
.help_search_input {
  color: #316f94;
  border-radius: 1px !important;
  padding: 4px !important;
  position: relative;
  outline: none;
  top: -7px;
  border: none;
  width: 141px;
  height: 17px;
  background: rgba(0,0,0,0);
  left: 2px;
}
.nav_buttons {
  width: 200px;
  position: relative;
  height: 30px;
  left: 20px;
  display: inline-block;
}
.scb_s_ug_dialog {
  background: rgba(0,0,0,0);
  width: 101%;
  border-color: rgba(0,0,0,0);
  overflow-y: auto;
  overflow-x: hidden;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  right: 2px;
  top: 35px;
  margin-top: -11px;
  min-height: 243px;
  position: relative;
}
.handel {
  position: relative;
  cursor: move;
  margin-bottom: 20px;
}
.user_guide_title {
  background: #38aa95;
  color: white;
  padding: 10px;
  padding-left: 20px;
  height: 25px;
  right: 6px;
  bottom: 6px;
  font-family: 'sourcesanspro-semibold';
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  font-size: 13pt;
  letter-spacing: .5px;
}
.scb_f_ug_help_search_bar {
  position: absolute;
  display: inline-table;
  overflow: auto;
  resize: both;
  width: 406px;
  height: 367px;
  margin-right: 100%;
  cursor: pointer;
  top: 140px;
  left: 207px;
  background: #f4f6f8;
  color: black;
  font-size: 16pt;
  font-family: 'Arial';
  z-index: 999;
  padding-bottom: 35px;
  border-radius: 14px;
  border: 4px solid white;
}
