.scb_f_ug_close_button {
  padding-top: 0;
  float: right;
  -webkit-appearance: none;
  font-family: 'sourcesanspro-bold';
  outline: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  font-size: 14pt;
  color: black;
  background: #f4f6f8;
}
.scb_f_ug_close_button:hover {
  background-color: #e58986;
}
.scb_s_ug_form {
  background: #f4f6f8;
  color: black;
  padding: 5px;
  height: 25px;
  position: relative;
  left: 5px;
  text-transform: uppercase;
  background-color: #189689;
  background-image: -webkit-linear-gradient(top,#80d1ae,#189689);
  background-image: -moz-linear-gradient(top,#80d1ae,#189689);
  background-image: -ms-linear-gradient(top,#80d1ae,#189689);
  background-image: -o-linear-gradient(top,#80d1ae,#189689);
}
.scb_f_ug_search_line {
  height: 32px;
  width: 2px;
  background: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 487px;
}
.scb_f_ug_up_button {
  -webkit-appearance: none;
  padding-top: 1px;
  padding-bottom: 1px;
  bottom: 5px;
  position: relative;
  background: 0;
  border: 0;
}
.scb_f_ug_down_button {
  -webkit-appearance: none;
  bottom: 5px;
  position: relative;
  background: 0;
  border: 0;
}
.scb_f_help_form {
  display: inline-block;
  margin-bottom: 0;
  width: 450px;
}
.scb_s_search_wrapper {
  border: 2px solid white;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  width: 624px;
  background: white;
  height: 28px;
}
.scb_display_search_count {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.scb_f_help_form>input {
  font-size: 12pt;
  display: inline-block;
  border-radius: 21px;
  border: none;
  padding: 6px;
  position: relative;
  bottom: 3px;
  right: 3px;
}
.search_found {
  display: inline !important;
}
.scb_s_ug_dialog {
  background: rgba(0,0,0,0);
  width: 101%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  right: 4px;
  margin-top: -10px;
  min-height: 400px;
}
.handel {
  position: relative;
  cursor: move;
  margin-bottom: 20px;
}
.scb_f_ug_help_search_bar {
  position: absolute;
  display: inline-table;
  overflow: auto;
  resize: both;
  width: 650px;
  height: 500px;
  margin-right: 100%;
  margin-left: 100%;
  cursor: pointer;
  top: 0;
  background: #cdcdcd;
  color: black;
  font-size: 16pt;
  font-family: 'Arial';
  padding: 5px;
  z-index: 999;
  border-radius: 5px;
  border: 2px solid #059789;
}
