.scb_s_navigation_button {
  background-image: url('../images/homepage/instructor_resources_button.png');
  padding: 6px 25px 6px 24px;
  margin-left: 12px;
  width: 180px;
  background-position: center;
  color: white;
  text-decoration: none;
  text-align: center;
}
