.scb_western_blot_details_view_inner {
  background: white;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  width: 950px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}
.scb_s_western_blot_samples_table {
  border: 1px #b0b0b0 solid;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.scb_f_open_western_blot {
  border: 1px #b0b0b0 solid;
  padding: 2px;
  margin: 3px;
  margin-left: 5px;
}
.scb_s_western_blot_active {
  border: 1px #b0b0b0 solid;
  padding: 2px;
  margin: 3px;
  margin-left: 5px;
  border-bottom: 1px white solid;
}
.scb_f_western_blot_prepare_lysates {
  border-radius: 5px;
  position: relative;
  left: 750px;
  bottom: 5px;
}
.scb_s_western_blot_progress {
  display: block;
  width: 800px;
  height: 80px;
  margin-left: 25px;
}
.scb_s_western_blot_progress_prefix {
  color: white;
  text-align: center;
  padding: 4px;
  font-size: 16pt;
  display: inline-block;
  position: relative;
}
.scb_s_western_blot_progress_prefix_img {
  top: 24px;
  vertical-align: top;
  display: inline;
  position: relative;
}
.scb_s_western_blot_progress_prefix_text {
  display: inline-block;
  max-width: 80px;
  text-align: center;
  vertical-align: middle;
}
.scb_s_western_blot_progress_rest {
  background: url('../images/western_blot/progress_bg.png');
  display: inline-block;
  padding: 5px;
  padding-top: 8px;
  margin-left: 12px;
  border-radius: 6px;
  font-size: 10.5pt;
  height: 22px;
  width: 540px;
}
.scb_s_western_blot_progress_item {
  display: inline-block;
  margin-left: 7px;
}
.scb_s_western_blot_progress_selected {
  color: green;
}
.scb_s_western_blot_samples_area {
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  border-top-width: 8px;
  box-shadow: 0 0 3px black;
  height: 368px;
}
.scb_s_western_blot_samples_gel_area {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  width: 600px;
  height: 400px;
  padding-top: 20px;
}
.scb_s_western_blot_gel_tabs {
  width: 600px;
  height: 25px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
}
.scb_s_western_blot_gel_tab {
  width: 75px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  border-bottom: 0;
  height: 25px;
  font-family: 'sourcesanspro-bold';
  font-size: 11.5pt;
  text-align: center;
}
.scb_s_western_blot_gel_active {
  width: 75px;
  display: inline-block;
  border: 1px solid #80d1ae;
  border-radius: 6px 6px 0 0;
  height: 25px;
  top: -1px;
  position: relative;
  z-index: 99;
  border-bottom-color: white;
  color: green;
}
.scb_s_western_blot_gel_tab_selected {
  display: inline-block;
  font-family: 'sourcesanspro-bold';
  font-size: 11.5pt;
  text-align: center;
}
.scb_f_western_blot_gel_remove {
  display: inline-block;
}
.scb_s_western_blot_gel_content {
  height: 350px;
  width: 600px;
  position: relative;
  border: 1px solid #80d1ae;
}
.scb_s_western_blot_gel {
  display: block;
  vertical-align: top;
}
.scb_s_western_blot_gel_number {
  width: 22px;
  display: inline-block;
}
.scb_s_western_blot_gel_numbers {
  padding-left: 20px;
}
.scb_s_western_blot_tools {
  width: 225px;
  height: 400px;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 370px;
}
.scb_s_western_blot_run_gel_and_transfer {
  position: relative;
  top: 250px;
  left: 40px;
}
.scb_s_western_blot_gel_canvas_wrapper {
  position: relative;
}
.scb_s_western_blot_progress_vertical_line {
  padding-left: 6px;
  vertical-align: top;
}
.scb_s_western_blot_progress_prefix_group1 {
  left: 10px;
  position: relative;
}
.scb_s_western_blot_samples_heading {
  font-size: 14pt;
  font-family: 'sourcesanspro-semibold';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.scb_s_western_blot_choose_samples_order_list>li {
  font-size: 11pt;
  padding: 3px;
  color: gray;
}
.scb_s_western_blot_marker {
  font-size: 11pt;
  color: gray;
  left: 15px;
  position: relative;
  top: -10px;
}
.scb_s_western_blot_choose_gel_type {
  font-size: 12pt;
  color: gray;
  text-align: center;
}
.scb_s_western_blot_load_marker {
  border: 0;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.scb_f_wb_anti_body_select_primary, .scb_f_wb_anti_body_select_secondary {
  font-size: 12pt;
}
