@defmixin gradient(POS, START_COLOR, END_COLOR, FALLBACK_COLOR) {
  background-color: FALLBACK_COLOR; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(POS, START_COLOR, END_COLOR);               /* Chrome 10+,Safari 5.1+ */
  /* @alternate */ background-image: -moz-linear-gradient(POS, START_COLOR, END_COLOR); /* FF3.6+ */
  /* @alternate */ background-image: -ms-linear-gradient(POS, START_COLOR, END_COLOR);  /* IE10 */
  /* @alternate */ background-image: -o-linear-gradient(POS, START_COLOR, END_COLOR);   /* Opera 11.10+ */
}

/*.scb_microscopy_details_view{
	padding-top: 30px;
	width: 960px;
}*/

.scb_microscopy_details_view_inner {
    width: 950px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 25px;
    position: relative;
}

.scb_s_microscopy_samples_table,.scb_s_facs_samples_table {
    border:1px #80d1ae solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top:20px;
    min-height: 300px;
    background-color: #EDEEF2;

}

.scb_s_microscopy_samples_table{
	width: 70%;
}


.scb_s_microscopy_progress {
    display: block;
    width:800px;
    height:80px;
    margin-left:25px;
}

.scb_s_microscopy_progress_prefix {
    color: white;
    text-align: center;
    padding: 4px;
    font-size:16pt;
    display: inline-block;
    position: relative;
}

.scb_s_microscopy_progress_prefix_img {
    top: 24px;
    vertical-align: top;
    display: inline;
    position: relative;
}

.scb_s_microscopy_progress_prefix_text {
    display: inline-block;
    max-width: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    padding-top:10px
}

.scb_s_microscopy_progress_rest {
    background: url('../images/microscopy/progress_bg.png');
    display: inline-block;
    padding: 5px;
    padding-top:8px;
    margin-left: 12px;
    border-radius: 6px;
    font-size:10.5pt;
    height:22px;
    width:540px;
    position: relative;
    top:5px;
}

.scb_s_microscopy_progress_item {
    display:inline-block;
    margin-left:7px;
    color:gray;
    font-family: "sourcesanspro-semibold";
}
.scb_s_microscopy_progress_selected {
    color:#189689;
}


.scb_s_microscopy_samples_area {
	margin-top:28px;
	margin-left: 15px;
}

.lens{
	display: inline-block;
	border: 2px solid #189689;
	border-radius: 250px;
}
.lens_panel{
    display: inline-block;
	width:300px;
}

.scb_s_microscopy_tools {
    width:225px;
    height: 350px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 367px;
    border-left: 1px solid #e0e0e0;
    padding-left: 6px;
}

.scb_s_microscopy_progress_vertical_line {
    padding-left:6px;
    vertical-align: top;
}


body.dragging, body.dragging * {
  cursor: move !important;
}


.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}


.scb_s_microscopy_marker {
    font-size: 10pt;
    color: black;
    left: 19px;
    position: relative;
    top: -10px;
}

.scb_s_microscopy_choose_gel_type {
    font-size: 11pt;
    color: black;
    text-align: left;
    left: 23px;
    display: inline-block;
    position: relative;
    font-family: 'sourcesanspro-semibold';
    margin-top: 10px;
}


.scb_s_microscopy_samples_slide_area{
	display: inline-block;
	margin-top: 15px;
	left:350px;
	width:600px;
}

#lens{
	display: inline-block;
	border: 2px solid #189689;
	border-radius: 250px;
}


#scb_s_microscopy_lens_controls, .scb_s_list_slides{
	font-size: 11pt;
    color: black;
    text-align: center;
    left: 23px;
    display: inline-block;
    font-family: 'sourcesanspro-semibold';
    right:0px;
    margin-top:28px;
	margin-left: 15px;
	width:160px;
	border: 1px solid #e0e0e0;
	border-radius:2px;
	vertical-align: top;
	border-top-width: 8px;
	box-shadow: 0px 0px 3px black;
	overflow-y:auto;
	overflow-x: hidden;
	background-color:white;
	margin-bottom: 15px;
}
.scb_s_microscopy_load_marker {
        text-align: center;
        margin-left: 22px;
@mixin gradient(top,#f2f2f2, #d3d1d2, #ffffff);
    border: 1px solid #e0e0e0;
    border-radius: 5pt;
    width: 140px;
    height: 30px;
    color: black;
    font-size: 10pt;
    font-family: 'sourcesanspro-semibold';
}

.scb_f_wb_anti_body_select_primary {
    font-size:10pt;
}

.scb_f_wb_anti_body_select_secondary {
    font-size:10pt;
}

.scb_f_microscopy_remove {
    border:none;
    background-color: white;
}


.scb_s_microscopy_tab_content>.scb_f_open_select_technique {

    bottom: 10px;
    left: 10px;
}


.scb_s_microscopy_tab_content{
	margin-top: -27px;
 
}


.scb_s_microscopy_samples_table > table {
    width:100%;
	border-collapse: collapse;
}

.scb_s_microscopy_samples_table_head {
    background-color: white;
    font-family: 'sourcesanspro-semibold';
    font-size:10pt;
    border-spacing: 0;
    border:0;
}

.scb_s_microscopy_samples_table_heading {
    margin: 0px;
    font-size:10pt;
}

.scb_s_microscopy_samples_table_td {
    margin: 0px;
    font-size:10pt;

}

.scb_s_microscopy_samples_table_tr {
    margin: 0px;
}

.scb_s_microscopy_blank_space1{
	width: 404px;
}

.scb_s_microscopy_blank_space2{
	width: 14px;
}

.scb_f_microscopy_sample_inactive_all {
@mixin gradient(top,#f2f2f2, #d3d1d2, #ffffff);
    border: 1px solid #e0e0e0;
    border-radius: 5pt;
    width: 120px;
    height: 30px;
    color: black;
    font-size: 10pt;
    font-family: 'sourcesanspro-semibold';
    cursor:pointer;
}

.scb_f_microscopy_sample_active_all {
@mixin gradient(top,#f2f2f2, #d3d1d2, #ffffff);
    border: 1px solid #e0e0e0;
    border-radius: 5pt;
    width: 120px;
    height: 30px;
    color: black;
    font-size: 10pt;
    font-family: 'sourcesanspro-semibold';
    cursor:pointer;
}

.scb_s_microscopy_choose_gel_type_input_disabled {
    opacity: .5;
}

.scb_s_select_technique_at_microscopy {
    display: block;
    margin-left: 20px;
    margin-top: -33px;
}

.scb_s_microscopy_view {
    background: #F4F6F8;
    width:960px;
}

.scb_s_microscopy_tab_content {

}

.scb_s_microscopy_green_line {
    width:100%;
    height:2px;
    background-color: #80d1ae;
    margin-bottom:2px;
}


.scb_s_microscopy_video_box_wrapper {
    width: 266px;
    height:238px;
    float:right;
    background-color: #e1e3e8;
    border-radius: 1px;
    border: 1px solid #e1e3e8;
    position: absolute;
    top:110px;
    right:0px;
    box-shadow: 0px 0px 6px gray;

}

.scb_s_navigation_button_choose_slide_button{
	position:relative;
	left: 120px;
	padding: 3px 20px;
	width: 200px;
	min-width: 120px;
	background-position: center;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 12pt;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	box-shadow: 0 0 5px #a9a9a9;
	font-family: 'sourcesanspro-semibold';
	cursor: pointer;
	background-color: #008ddd;}

.scb_s_microscope_status{
	color: #189689;
	font-size: 15pt;
}

.scb_s_controls_note{
	font-size: 9pt;
}
.scb_s_micro_arrows{
	cursor: pointer;
}

.scb_s_microscopy_video_box_wrapper_title {
    text-align: center;
    font-size: 16pt;
    margin-bottom: -27px;
}
.scb_s_microscopy_video_box {
    width: 240px;
    height:188px;
    background-color: #FFFFFF;
    margin-left:12px;
    margin-top:27px;
    overflow:hidden;
    font-size: 8pt;
}

.scb_s_microscopy_video_box_img {
    width: 240px;
    height:160px;
    margin-bottom: -5px;
}

.scb_s_microscopy_video_heading{
    color: black;
    font-size: 7.5pt;
    font-family: 'sourcesanspro-semibold';
    display: inline-block;
    padding-left:2em;
}

.scb_s_microscopy_video_text{
	color:black;
	font-size: 7.5pt;
	font-family: 'sourcesanspro-regular';
	display: inline-block;
}

.scb_s_microscopy_video_text_second{
	color:black;
	font-size: 7pt;
	font-family: 'sourcesanspro-regular';
	display: inline-block;
	padding-left:1.5em;
}

.scb_s_microscopy_learn_more {
    color: #189689;
    font-weight: bold;
}


.scb_f_microscopy_prepare_slides {
    border-radius: 5px;
    position: relative;
    left:420px;
    top: 0px;
    bottom: 10px;
    display:inline-block;
}
