.scb_f_help_wrapper{

	vertical-align: middle;
	margin-left: auto;
	margin-right:auto;
}

.scb_f_help{
	width: 600px;
	height:500px;
	min-width:400px;
	min-height:400px;
	position:relative;
	display: block;
    background: #f4f6f8;
    vertical-align: middle;
	margin-left: auto;
	margin-right:auto;
    border-radius: 5px;
    border: 2px solid #059789;
    font-family: 'Arial';
    font-size: 16px;
    #resize: both;
}

.scb_f_help_search_bar{
	cursor: move;
	background: #289A7B;
	padding:10px;
	height: 55px;
	color: white;
	font-size: 16pt;
	font-family: 'Arial';
}


.scb_f_help_display{
	font-family: 'Arial';
	padding-top: 10px;
    padding-left: 10px;
    height: 390px;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.scb_f_help_form > input{
	font-size: 14pt;
	display: inline-block;
}

.scb_s_main_help_link{
	color:blue;
	cursor:pointer;
}
.search_found{
	display:inline !important;
}

.scb_f_help_footer{
	background: gray;
	padding:10px;
	height: 25px;
}