.heading, .subheading {
	
	font-size: small;
	cursor:pointer;
	font-weight:bold;
}

body{
	background-color: #f4f6f8;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif; 
	width:920px;
	padding:15px;
}

.SCBTOC1Allcaps{
	font-size: 18pt ;
}

.SCB-Heading1Allcaps{
	font-size: medium;
	line-height: 1.5em;
	
}
 
.SCBTOC1 >a{
	font-size: medium;
	color: #316f94 !important;
	font-weight: bold;
	text-transform:uppercase;
}
 
/* 
.SCBTOC2, .SCBTOC3, .SCBTOC4{
	font-size: 10pt;
}
 */
 
.SCBTOC2 >a, .SCBTOC3>a, .SCBTOC4>a{
color: #316f94 !important;
 }

.rl_main_title{
	text-transform: uppercase;
	font-weight:bold;
	font-size: 20pt;
}
.dividing_line{
	height:2px;
	background:  #B0B0B0 ;
	width: 900px;
}


.subheading > a{
color: #316f94 !important;
}
.heading > a{
color: #316f94 !important;
text-transform:uppercase;
}

.subheading{
	font-weight:normal;
}

.heading > ol{
	color: black;
	font-weight:normal;
}

.heading3 >a >p {
	margin-left: 50px;
}

.heading5 >a >p {
	margin-left: 75px;
}


.body > p{
	margin:0px;
}


.heading > .subheading > p {
	text-indent:0px;
}



.rl_dividing_line{
	height: 2px;
	background-color: #cdcdcd;
	width:950px;
	position:absolute;
	left: 8px;
}

.SCB-Normal{
	font-weight:normal;
}

.SCB-Normalwithtab{
	font-weight: normal;
}

.body li {
	text-indent: 0px;
}



.SCB-Heading1, .SCB-Heading3, .SCB-Heading5{
font-size:small;
color: #316f94;
font-weight: bold;
}


.SCB-Footer{
font-size: small;
}