.heading, .subheading {
	
	font-size: 12pt;
	cursor:pointer;
	font-weight:bold;
}

body{
	background: #e9edf1;
}

.SCBTOC1Allcaps{
	font-size: 18pt;
}
/* 
.SCBTOC1{
	font-size: 12pt;
}
 */
/* 
.SCBTOC2, .SCBTOC3, .SCBTOC4{
	font-size: 10pt;
}
 */

.rl_main_title{
	text-transform: uppercase;
	font-weight:bold;
	font-size: 20pt;
}

.body{
	font-family: 'Verdana';
	background: #f4f6f8;
	width:920px;
	padding: 15px;
}
.subheading > a{
	color: #289a7b;
}
.heading > a{
color: #289a7b;
}

.subheading{
	font-weight:normal;
}

.heading > ol{
	color: black;
	font-weight:normal;
}

.heading3 >a >p {
	margin-left: 100px;
}

.heading5 >a >p {
	margin-left: 150px;
}


.body > p{
	margin:0px;
}


.heading > .subheading > p {
	text-indent:0px;
}



.rl_dividing_line{
	height: 2px;
	background-color: #cdcdcd;
	width:950px;
	position:absolute;
	left: 8px;
}

.SCB-Normal{
	font-weight:normal;
}

.SCB-Normalwithtab{
	font-weight: normal;
}

.body li {
	text-indent: 0px;
}