{namespace scb_auth}

/**
* Login
*/
{template .login}
<div class='scb_s_login_dialog'>
    <button class='scb_f_login_close_button'>Close</button>
    <button class='scb_f_login_button'>Login</button>
</div>
{/template}

/**
* Login
*/
{template .logout}
<div class='scb_s_logout_dialog'>
    <button class='scb_f_logout_close_button'>Close</button>
    <button class='scb_f_logout_button'>Logout</button>
</div>
{/template}




