div.back_button { 
    position: relative; 
    margin: 6px 0 0 12px; 
    height: 26px; 
    border: 1px solid rgba(0,0,0, 0.4);  
    -webkit-border-radius: 5px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa)); 
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
}
div.back_button div { 
    position: absolute; 
    z-index: 1; 
    top: 4px; 
    left: -7px; 
    -webkit-transform: rotate(51deg);
}
div.back_button span { 
    -webkit-transform: skew(15deg);
    display: block; 
    width: 15px; 
    height: 16px; 
    background: -webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa));   
    -webkit-border-radius: 1px; 
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
} 
div.back_button p { 
    position: absolute; 
    z-index: 2; 
    top: 4px; 
    left: 2px; 
    margin: 0; 
    padding: 0; 
    font-size: 12px; 
    font-weight: normal; 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    padding-left:10px;
    padding-right:10px;
}