{namespace scb_contact}

/**
* Contact
*/
{template .contact}
<div class='scb_s_contact_dialog' role='dialog' aria-label='Feedback Form'>  
	<div class='scb_s_feedback_form' role='presentation'> Feedback Form
	<button class='scb_f_contact_close_button' role='button' aria-label='Close Feedback Form' >&#215;</button></div>

	<iframe role='presentation' class='scb_s_contact_iframe' src='/static/contact/contact.html'>
        </iframe>
</div>
{/template}



