{namespace scb_contact}

/**
* Contact
*/
{template .contact}
<div class='scb_s_contact_dialog'>  
	<div class='scb_s_feedback_form'> Feedback Form
	<button class='scb_f_contact_close_button'>&#215;</button></div>

	<iframe class='scb_s_contact_iframe' src='/static/contact/contact.html'>
        </iframe>
</div>
{/template}



