{namespace scb_contact}

/**
* Contact
*/
{template .contact}
<div class='scb_s_contact_dialog'>
	<iframe src='/static/contact/contact.html'>
        </iframe>
  <button class='scb_f_contact_close_button'>Close</button>
</div>
{/template}



