{namespace scb_microscopy}

/**
* Assignment selector
* @param t template
* @param global_template
* @param last_step
* @param prev_step
* @param context
* @param assignment AssignmentView
* @param experiment
* @param microscopy MicroscopyView
* @param rows
* @param kind
* @param kinds
* @param can_prepare_slide
*/
{template .main}
<div class='scb_s_microscopy_view'>

    {call scb_homepage.display_header}
    {param global_template:$global_template /}
    {param context:$context /}
    {/call}
    {call scb_common.assignment_step}
        {param step:6/}
        {param last_step: $last_step/}
        {param prev_step: $prev_step/}
        {param assignment_name:$assignment.name/}
        {param experiment_name:$experiment.name/}
        {param assignment:$assignment/}
        {param experiment:$experiment/}
        {param technique_name:'MICROSCOPY' /}
        {param technique_view:'microscopy' /}
        {param technique_param:'microscopy_id' /}
        {param technique_id:$microscopy.id /}
    {/call}
    {call .display_details}
    {param t:$t/}
    {param global_template:$global_template /}
    {param assignment:$assignment/}
    {param microscopy:$microscopy /}
    {param rows:$rows /}
    {param kind:$kind /}
    {param kinds:$kinds /}
    {param can_prepare_slide:$can_prepare_slide/}
    {/call}
    {call scb_homepage.display_footer}
    {param global_template:$t /}
    {param assignment:$assignment/}
    {/call}
</div>
{/template}

/** Display Microscopy main screen

@/param t template
@param assignment
@param experiment
@param microscopy
@param rows
@param kind
@param kinds
@param can_prepare_slide
*/
{template .display_details}
<div class='scb_s_microscopy_container'>
<div class='scb_microscopy_details_view'>
	{call scb_common.experiment_step}
        {param step:7/}
     	{param last_step: 6/}
    	{param assignment: $assignment/}
        {param experiment: $experiment/}
    {/call}
	<div class='scb_s_microscopy_all_tabs'>
    <div class='scb_microscopy_details_view_inner'>

        {call .display_tabs}
        {param assignment:$assignment/}
        {param experiment:$experiment /}
        {param microscopy:$microscopy /}
        {param rows:$rows /}
        {param kind:$kind /}
        {param kinds:$kinds/}
        {param can_prepare_slide:$can_prepare_slide/}
        {/call}
    </div>
	</div>

</div>
</div>
{/template}








/**
@param assignment
@param experiment
@param microscopy
@param rows
@param kind
@param kinds
@param can_prepare_slide
*/
{template .display_tabs}


<div class='scb_s_microscopy_tab_content {if $kind == 'sample_prep'}scb_s_microscopy_tab_content_sample_prep{/if}'>
{call .display_tabs_selector}
    {param assignment:$assignment/}
    {param experiment:$experiment /}
    {param microscopy:$microscopy /}
{/call}
    {if $kind == 'sample_prep'}
    {call .sample_prep}
    {param assignment:$assignment/}
    {param experiment:$experiment/}
    {param microscopy:$microscopy/}
    {param rows:$rows/}
    {param kinds:$kinds/}
    {param can_prepare_slide:$can_prepare_slide/}
    {/call}
    </div>
    {/if}
    {if $kind == 'prepare_slide'}
    {call .prepare_slide}
    {param assignment:$assignment/}
    {param experiment:$experiment/}
    {param microscopy:$microscopy/}
    {param rows:$rows/}
    {/call}
    </div>
    {/if}
    	
    <a class="scb_s_navigation_button scb_f_open_select_technique scb_s_select_technique_at_microscopy"
       href="#view=select_technique&assignment_id={$assignment.id}&experiment_id={$experiment.id}"
       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'>&#9664; SELECT TECHNIQUE</a>

{/template}

/**
@param assignment
@param experiment
@param microscopy
*/
{template .display_tabs_selector}
<div class=' {if $experiment.microscopy_list.list.length >= 5} scb_s_microscopy_tabs_more {else} scb_s_microscopy_tabs{/if} '>
	{if $experiment.microscopy_list.list.length < 5}
		{foreach $m in $experiment.microscopy_list.list}
		{if $microscopy.id == $m.id}
		<span class='scb_s_microscopy_active'>
		<span class='scb_s_microscopy_selected' microscopy_id='{$m.id}' assignment_id='{$assignment.id}'
			  experiment_id='{$experiment.id}' contenteditable="true">{$m.name}</span>
		<button class='scb_s_microscopy_remove scb_f_microscopy_remove' microscopy_id='{$m.id}' assignment_id='{$assignment.id}'
				experiment_id='{$experiment.id}'>| &#215;
		</button>
		</span>
		{else}
		<a class='scb_f_open_microscopy scb_s_microscopy_open_microscopy'
		   href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}&microscopy_id={$m.id}'
		   microscopy_id='{$m.id}'>{$m.name}</a>
		{/if}
		{/foreach}
		<span class='scb_s_microscopy_add_microscopy' assignment_id='{$assignment.id}'
							experiment_id='{$experiment.id}' microscopy_id='{$experiment.microscopy_list.list[length($experiment.microscopy_list.list)-1].id}'>
							 <a class='scb_f_open_microscopy scb_s_microscopy_open_microscopy' href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>ADD 
					<span class='scb_s_microscopy_add_cross_microscopy'>| + </span></a>
		</span>
	{else}
		<button class='scb_s_microscopy_left_microscopy' microscopy_id='{$microscopy.id}'
             			assignment_id='{$assignment.id}'
             			experiment_id='{$experiment.id}'>
    	</button>
    		{if $experiment.microscopy_list.list.length -1 == $experiment.microscopy_list.start_tabs_index + 3}
				{foreach $m in $experiment.microscopy_list.list}
					{if index($m) >= $experiment.microscopy_list.start_tabs_index and index($m) < $experiment.microscopy_list.start_tabs_index +4}     				

						{if $microscopy.id == $m.id}
						<span class='scb_s_microscopy_active'>
							  
						<input class='scb_s_microscopy_selected' facs_id='{$m.id}' assignment_id='{$assignment.id}'
			 			 experiment_id='{$experiment.id}' value='{$m.name}' type='text' maxlength=10></input>

						<button class='scb_s_microscopy_remove scb_f_microscopy_remove' microscopy_id='{$m.id}' assignment_id='{$assignment.id}'
								experiment_id='{$experiment.id}'>| &#215;
						</button>
						</span>
						{else}
						<a class='scb_f_open_microscopy scb_s_microscopy_open_microscopy'
						   href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}&microscopy_id={$m.id}'
						   microscopy_id='{$m.id}'>{$m.name}</a>
						{/if}
					{/if}
				{/foreach}
		<span class='scb_s_microscopy_add_microscopy' assignment_id='{$assignment.id}'
							experiment_id='{$experiment.id}' microscopy_id='{$experiment.microscopy_list.list[length($experiment.microscopy_list.list)-1].id}'>
							 <a class='scb_f_open_microscopy scb_s_microscopy_open_microscopy' href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>ADD 
					<span class='scb_s_microscopy_add_cross_microscopy'>| + </span></a>
		</span>
		{else}
				{foreach $m in $experiment.microscopy_list.list}
					{if index($m) >= $experiment.microscopy_list.start_tabs_index and index($m) < $experiment.microscopy_list.start_tabs_index +5}     				

						{if $microscopy.id == $m.id}
						<span class='scb_s_microscopy_active'>
							  
						<input class='scb_s_microscopy_selected' facs_id='{$m.id}' assignment_id='{$assignment.id}'
			 			 experiment_id='{$experiment.id}' value='{$m.name}' type='text' maxlength=10></input>

						<button class='scb_s_microscopy_remove scb_f_microscopy_remove' microscopy_id='{$m.id}' assignment_id='{$assignment.id}'
								experiment_id='{$experiment.id}'>| &#215;
						</button>
						</span>
						{else}
						<a class='scb_f_open_microscopy scb_s_microscopy_open_microscopy'
						   href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}&microscopy_id={$m.id}'
						   microscopy_id='{$m.id}'>{$m.name}</a>
						{/if}
					{/if}
				{/foreach}
		{/if}
		<button class='scb_s_microscopy_right_microscopy' microscopy_id='{$microscopy.id}'
             			assignment_id='{$assignment.id}'
             			experiment_id='{$experiment.id}' >
    	</button>
    {/if}
</div>
{/template}


/**
@param assignment
@param experiment
@param microscopy
@param rows
@param kinds
@param can_prepare_slide
*/
{template .sample_prep}

{call .display_m_progress}
{param step:1/}
{/call}

<div class = 'scb_s_microscopy_slide_prep_instructions'>

	<ul class='scb_s_experiment_setup_list'>
   <li>To prepare a sample for microscopy, click the checkbox to the left of each sample name or click <b>SELECT ALL</b> to select all samples.</li>
   <li>Select the type of microscopy analysis you would like to perform by selecting the appropriate Microscopy Analysis and Conditions, when appropriate.</li>
   <li>Note: The microscopy experimental technique in StarCellBio draws upon real microscopy images. Not all slide types and conditions may be available for each sample in your experiment.</li>
   </ul>
   </div>


<div class='scb_s_microscopy_samples_container' style='{if length($rows) >=12}  height: 342px;	{else} height: 342px;		{/if}'>



<div class='scb_s_western_blot_samples_table'  style='{if length($rows) >=12} height: 330px;   min-height: 330px;  {else} 	height: 330px; {/if}'>
    <table>
        <thead class='scb_s_microscopy_samples_table_head'>
        <td class='scb_s_microscopy_samples_table_heading m_sample_prep_select scb_s_experiment_setup_table_border'>Select</td>
        <td class='scb_s_microscopy_samples_table_heading m_sample_prep_samples scb_s_experiment_setup_table_border'>Samples</td>
        <td class='scb_s_microscopy_samples_table_heading m_sample_prep_lysate scb_s_experiment_setup_table_border'>Microscopy Analysis
        		<button class='scb_f_info_icon scb_s_microscopy_slide_type_info' note='scb_f_microscopy_slide_type_followup'> </button>
					<div class='scb_f_microscopy_slide_type_followup scb_f_controls_note'>
		<!-- 
						<button class='scb_f_controls_close_button' aria-label='Close'>&#215;</button>	
		 -->
								Antibody-labeling Immunohistochemistry (IHC) uses a series of antibodies to 
								specifically detect a protein of interest using a colorimetric reaction. 
								Antibody-labeling Immunofluorescence (IF) uses a series of antibodies, 
								including a fluorescently-labeled secondary antibody, to specifically 
								detect the protein(s) of interest. &nbsp;
								<a href="static/ref_lib/full_library.html#" target='_blank' class='scb_s_select_technique_learn_more '>Learn more &gt;&gt;</a>
		
					 </div>
        </td>
        <td class='scb_s_microscopy_samples_table_heading m_sample_prep_blank scb_s_experiment_setup_table_border'>Conditions
<!-- 
        		<button class='scb_f_info_icon scb_s_microscopy_conditions_info' note='scb_f_microscopy_conditions_followup'> </button>
					<div class='scb_f_microscopy_conditions_followup scb_f_controls_note'>
								TBD &nbsp;
								<a href="static/ref_lib/full_library.html#" target='_blank' class='scb_s_select_technique_learn_more '>Learn more &gt;&gt;</a>
		
					 </div>
 -->
        
        </td>
        </thead>
        {foreach $r in $rows}
        <tr class='scb_s_microscopy_samples_table_tr {if $r.display_sample} scb_s_microscopy_row_border{/if}'>
            <td class='scb_s_microscopy_sample_checkbox scb_s_microscopy_samples_table_td {if $r.display_sample}{else}scb_s_experiment_setup_table_border{/if}' >{if $r.display_sample}
                <input type="checkbox" class="scb_f_microscopy_sample_active" microscopy_id='{$microscopy.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' cell_treatment_id='{$r.cell_treatment.id}'
                       
                {if $r.is_sample_enabled}checked="checked"{/if}
                >
                {/if}
            </td>
            <td class='scb_s_microscopy_sample_name scb_s_microscopy_samples_table_td {if $r.display_sample}{else}scb_s_experiment_setup_table_border{/if}' >{if $r.display_sample}
                {$r.display_text}
                {/if}
            </td>
            <td class='scb_s_microscopy_sample_type scb_s_microscopy_samples_table_td {if $r.display_sample}{else}scb_s_experiment_setup_table_border{/if}'>
                {call .display_slide_types}
                {param assignment:$assignment/}
                {param experiment:$experiment/}
                {param microscopy:$microscopy/}
                {param cell_treatment:$r.cell_treatment/}
                {param kinds:$kinds/}
                {param lane:$r/}
                {/call}
            </td>
            <td class=' scb_s_microscopy_samples_table_td {if $r.display_sample}{else}scb_s_experiment_setup_table_border{/if} scb_s_microscopy_conditions'>
            {if $r.lane}
				{if $r.lane.kind == 'IHC'}
					  {foreach $k in keys($assignment.template.slide_parser[$r.lane.cell_treatment.treatment_list.list[0].collection_id][$r.lane.kind])}
					  	<div>
					  	{if $k == 'secondary'}
						  <input class='scb_f_microscopy_select_conditions' type="radio" name="{if $r.kind == 'existing'}{$r.lane.id}{/if}" value="secondary" microscopy_id='{$microscopy.id}' cell_treatment_id='{$r.cell_treatment.id}'
								   assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
								   {if $r.is_sample_enabled and $r.lane.slide_conditions == 'secondary'}checked='checked'{/if}/><span class="scb_s_western_blot_choose_gel_type_input_text ">{$assignment.template.micro_kinds.IHC.conditions.secondary.name}</span>
							&nbsp;&nbsp;
						{elseif $k == 'ki67'}
							<input class='scb_f_microscopy_select_conditions' type="radio" name="{if $r.kind == 'existing'}{$r.lane.id}{/if}" value="ki67" microscopy_id='{$microscopy.id}' cell_treatment_id='{$r.cell_treatment.id}'
								   assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
								   {if $r.is_sample_enabled and $r.lane.slide_conditions == 'ki67'}checked='checked'{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text ">{$assignment.template.micro_kinds.IHC.conditions.ki67.name}</span>
							&nbsp;
						{elseif $k == 'NFIB'}
							<input class='scb_f_microscopy_select_conditions' type="radio" name="{if $r.kind == 'existing'}{$r.lane.id}{/if}" value="NFIB" microscopy_id='{$microscopy.id}' cell_treatment_id='{$r.cell_treatment.id}'
							   assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
							   {if $r.is_sample_enabled and $r.lane.slide_conditions == 'NFIB'}checked='checked'{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text ">{$assignment.template.micro_kinds.IHC.conditions.NFIB.name}</span>
						{/if}
						</div>
					{/foreach}
					{elseif $assignment.id =='assignment_706_2014'}
					<div>			
					 <input class="scb_f_microscopy_select_conditions {if $r.is_sample_enabled}{else}scb_s_microscopy_dim_conditions{/if}" microscopy_id='{$microscopy.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' type="radio" value="rgb" cell_treatment_id='{$r.cell_treatment.id}'
                       lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
						{if $r.is_sample_enabled}checked="checked"{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text {if $r.is_sample_enabled}{else}scb_s_microscopy_dim_conditions{/if}">{$assignment.template.micro_kinds.IF.conditions.rgb.name}</span>
					</div>
				{elseif $r.lane.kind == 'IF' and not ($assignment.id =='assignment_706_2014')}
					
					{foreach $k in keys($assignment.template.slide_parser[$r.lane.cell_treatment.treatment_list.list[0].collection_id][$r.lane.kind])}
					
					<div>
					{if $k == 'rgb' and not ($assignment.id =='assignment_706_2014')}
					 <input class="scb_f_microscopy_select_conditions" microscopy_id='{$microscopy.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' type="radio" value="rgb" cell_treatment_id='{$r.cell_treatment.id}'
                       lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
						{if $r.is_sample_enabled}checked="checked"{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text ">{$assignment.template.micro_kinds.IF.conditions.rgb.name}</span>
					{/if}
					</div>
					{/foreach}
				{elseif $r.lane.kind == 'Dye'}
					{foreach $k in keys($assignment.template.slide_parser[$r.lane.cell_treatment.treatment_list.list[0].collection_id][$r.lane.kind])}
					<div>
					{if $k == 'HnE'}
					 <input class="scb_f_microscopy_select_conditions" microscopy_id='{$microscopy.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' type="radio" value="HnE" cell_treatment_id='{$r.cell_treatment.id}'
                       lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
						{if $r.is_sample_enabled}checked="checked"{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text ">{$assignment.template.micro_kinds.Dye.conditions.HnE.name}</span>
					{/if}
					</div>
					{/foreach}
				{/if}
			{elseif $assignment.id =='assignment_706_2014'}	
				<div>
					 <input class="scb_f_microscopy_select_conditions {if $r.is_sample_enabled}{else}scb_s_microscopy_dim_conditions{/if}" microscopy_id='{$microscopy.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' type="radio" value="rgb" cell_treatment_id='{$r.cell_treatment.id}'
                       lane_kind="{$r.kind}" lane_id="{if $r.kind == 'existing'}{$r.lane.id}{/if}" 
						{if $r.is_sample_enabled}checked="checked"{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text scb_s_microscopy_dim_conditions">{$assignment.template.micro_kinds.IF.conditions.rgb.name}</span>
				</div>
			{/if}
            </td>
			<td class='scb_s_microscopy_samples_table_td {if $r.display_sample}{else}scb_s_experiment_setup_table_border{/if}'>
				{if $r.kind == 'existing'}
				<button class="scb_f_microscopy_sample_remove" microscopy_id='{$microscopy.id}'
						assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' lane_id='{$r.lane.id}'
				{if $r.is_sample_enabled}{else}disabled="disabled"{/if}><img alt="Delete" title="Delete" src="images/setup/scb_remove.png">
				</button>
				{else}
				{/if}
			</td>
        </tr>
        {/foreach}
        {if length($rows) >= 10}
        <tr class='scb_s_microscopy_samples_select_all_rel'>
        	<td class='scb_f_microscopy_sample_active_all_td' colspan='2'>
                <button class='scb_f_microscopy_sample_active_all'>SELECT ALL</button>
            </td>
        	<td class='scb_f_microscopy_sample_inactive_all_td' colspan='2' align='right'>
                <button class='scb_f_microscopy_sample_inactive_all'>CLEAR ALL</button>
            </td>
        </tr>
        
        {else}
        <tr class='scb_s_microscopy_samples_select_all_abs'>
        	<td colspan='1'>
                <button class='scb_f_microscopy_sample_active_all'>SELECT ALL</button>
            </td>
            <td colspan='1' class='scb_s_microscopy_blank_space1'>
            </td>
            <td colspan='1'>
                <button class='scb_f_microscopy_sample_inactive_all'>CLEAR ALL</button>
            </td>
            <td colspan='1'> &nbsp;
            </td>
        </tr>
        {/if}
    </table>
</div>
	{if length($rows) >=10}
    	<div class="scb_s_western_blot_green_line"></div>
    {/if}
</div>
</div>        
<a class='scb_s_navigation_button scb_f_microscopy_prepare_slides' microscopy_id='{$microscopy.id}'
   assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
{if $can_prepare_slide}{else}disabled='disabled'{/if}> PREPARE SLIDES  &nbsp; &#9654;
</a>
{/template}

/**
@param assignment
@param experiment
@param microscopy
@param rows
*/
{template .prepare_slide}


<div class='scb_s_microscopy_tab_content_slide'>
{if $microscopy.samples_finished}
{call .display_m_progress}
{param step:3 /}
{/call}
{else}
{call .display_m_progress}
{param step:2 /}
{/call}
{/if}
<div class = 'scb_s_microscopy_prepare_slide_instructions'>


	
	<ul class='scb_s_experiment_setup_list'>
   <li>Note: Not all microscope controls will be relevant for each image.</li>
   <li>Once you have manipulated the microscope controls, they will be automatically saved when navigating away from the image.</li>
   </ul>
</div>
<div class='scb_s_microscopy_samples_area'>
	<div class='scb_s_microscopy_samples_heading'>
        Samples
         {if $microscopy.samples_finished}
    	 
            <button class='scb_f_microscopy_tools_toggle scb_s_microscopy_tools_samples_followup_toggle'  note='scb_s_microscopy_tools_samples_followup' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
             microscopy_id='{$microscopy.id}'></button>
    		<div class='scb_s_microscopy_tools_samples_followup {if $microscopy.samples_show_state}{else}scb_s_hidden_note{/if}' >

				<button class='scb_f_microscopy_note_close_button' aria-label='Close' note='scb_s_microscopy_tools_samples_followup' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
             microscopy_id='{$microscopy.id}'><span>&#215;</span></button>
							
							 To view the sample on the microscope, select the sample name 
							 from the Samples window. Then at the right, select the tab 
							 that represents the appropriate type of microscopy analysis.
	 
			</div>
		{/if}
    </div>

    
    <div class='{if $microscopy.samples_finished} scb_s_microscopy_choose_samples_order_no_border{else}scb_s_microscopy_choose_samples_order{/if}'>
        <ol class='scb_s_microscopy_choose_samples_order_list' >
            {foreach $r in $rows}
            {if $r.is_valid}
            	{if $r.index == 0}
					<li 
					microscopy_lane_id='{$r.lane.id}'
					assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' 
					microscopy_id='{$microscopy.id}' 
					lane_kind = '{$r.lane.kind}' 
					slide_conditions = '{$r.lane.slide_conditions}'
					title='{$r.display_text} '
					{if $microscopy.selected_lane and $r.cell_treatment.id == $microscopy.selected_lane.cell_treatment_id}class='scb_s_microscopy_sample_selected'{/if}>

					 &nbsp;&nbsp;{$r.display_text} 
					</li>
            	{/if}
            {/if}
            {/foreach}
            </ol>
    </div>
    {if $microscopy.samples_finished}
    {else}
    <button class='scb_f_microscopy_load_slides scb_s_navigation_button' microscopy_id='{$microscopy.id}' 
                assignment_id="{$assignment.id}"
                experiment_id="{$experiment.id}">LOAD
	</button>
	{/if}
</div>

	<div class='scb_s_microscopy_samples_slide_area'>

        <div class='scb_s_western_blot_gel_tabs'>
                    {if $microscopy.samples_finished}
        			{foreach $r in $rows}
        				{if $r.is_valid and $r.lane.id == $microscopy.selected_lane.id}
        				<span class='scb_s_western_blot_gel_active scb_s_microscopy_slide_tab '>

						<div class='scb_s_microscopy_gel_tab_selected'>{$microscopy.selected_lane.kinds[$microscopy.selected_lane.kind].conditions[$microscopy.selected_lane.slide_conditions].short_name}
						</div>
						</span>
        				{elseif $r.is_valid and $r.cell_treatment.id == $microscopy.selected_lane.cell_treatment_id}
							<div class='scb_s_microscopy_slide_tab' microscopy_id='{$microscopy.id}' 
							assignment_id='{$assignment.id}'
							experiment_id='{$experiment.id}' microscopy_lane_id='{$r.lane.id}'>{$r.lane.kinds[$r.lane.kind].conditions[$r.lane.slide_conditions].short_name}
							</div>
						{/if}
					{/foreach}
					{else}
					<span class='scb_s_western_blot_gel_active scb_s_microscopy_slide_tab'>

                    <div class='scb_s_microscopy_gel_tab_selected'>SLIDE
                    </div>
                    </span>
					{/if}
       	</div>
       	{if $microscopy.samples_finished}
       	  {foreach $r in $rows}
       	  	{if $r.is_valid and $microscopy.lane_selected == $r.lane.id}
				{call .display_lens}
				{param assignment:$assignment/}
				{param experiment:$experiment/}
				{param microscopy:$microscopy/}
				{param lane: $r.lane/}
				{param microscopy_line_id: $microscopy.lane_selected/}
				{/call}
			{/if}
		  {/foreach}
		{else}
				{call .display_lens}
				{param assignment:$assignment/}
				{param experiment:$experiment/}
				{param microscopy:$microscopy/}
				{param lane: false/}
				{param microscopy_line_id: $microscopy.lane_selected/}
				{/call}
		{/if}
 		</div>
</div>	
{/template}

/**
@param assignment
@param experiment
@param microscopy
@param microscopy_line_id
*/
{template .display_lens}

<div class='scb_s_microscopy_load_followup scb_s_controls_note'>
			<button class='scb_f_controls_close_button' aria-label='Close'><span>&#215;</span></button>
						Your slides have been loaded. Every time you switch samples, the chosen slide will be automatically loaded. <p/>

						You may need to use the arrow keys or navigation arrows to find the image present within each slide. <p/>

						{if $microscopy.disable_blur and $microscopy.disable_brightness}
							Please note that the brightness and focus microscope controls have been disabled.
						{elseif $microscopy.disable_blur}
							Please note that the focus microscope controls have been disabled.
						{elseif $microscopy.disable_brightness}
							Please note that the brightness microscope controls have been disabled.
						{/if}
						
						
		
	 <div class='scb_s_microscope_status'></div>
			 </div>
			 
			 
			 

    		<div class='scb_s_microscopy_tools_navigation_followup {if $microscopy.navigation_show_state}{else}scb_s_hidden_note{/if}' >

				<button class='scb_f_microscopy_note_close_button' aria-label='Close' note='scb_s_microscopy_tools_navigation_followup' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
             microscopy_id='{$microscopy.id}'><span>&#215;</span></button>
							
							 Click the appropriate the navigation arrows or 
							 use the arrows on your computer to 
							 move the microscope lens across the image.
	 
			</div>			 
			 
			 
			 
			 
			 
			 
			 

<div class='scb_s_microscopy_slide_content' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
			 microscopy_id='{$microscopy.id}'
			{if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if}>									
			

			
			<div class = 'scb_s_microscopy_slide_content_lens_outline'>
				<svg id = 'svg'>
    <filter id="lensfilter" x="0" y="0" width= '100%' height='100%' >
      <fegaussianBlur id='focus' in="SourceGraphic"  stdDeviation="2"/>
      <fecomponenttransfer id='brightness' >
        <fefuncr id='b_red' type="linear" slope="1"/>
        <fefuncg id='b_green' type="linear" slope="1"/>
        <fefuncb id='b_blue' type="linear" slope="1"/>
      </fecomponenttransfer>
    </filter>
    <image xlink:href="" x="0" y="0" filter="url(#lensfilter)" width="300px" height="300px"/>
</svg>

			</div>
			
			
			
			
			<div id='scb_s_microscopy_lens_controls'>
			<div class = 'scb_s_microscopy_lens_controls_section_1'>
			 		<span class="scb_s_microscopy_title_label">Microscope Controls</span>
			 		<button class='scb_f_microscopy_tools_toggle scb_s_microscopy_tools_navigation_followup_toggle'  note='scb_s_microscopy_tools_navigation_followup' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
             microscopy_id='{$microscopy.id}'></button>
<!-- 
    			<button class='scb_s_microscopy_instructions_followup_toggle'> </button>
 -->
   			 </div>
    
    <div class = 'scb_s_microscopy_lens_controls_section_2'>
    <span class="scb_s_microscopy_lens_label">Light:</span> <input type="checkbox" class="scb_f_microscopy_light" microscopy_id='{$microscopy.id}'
			   assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' {if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if} {if $microscopy.light_on}checked='checked'{else}{/if} >
    </div>
    <div class = 'scb_s_microscopy_lens_controls_section_3'>
    				<span class="scb_s_microscopy_brightness_label"></span>
    				<img class='scb_s_microscopy_black_icon' src='images/microscopy/Brightness/Brightness_Dark.png'/>
    				<img class='scb_s_microscopy_white_icon' src='images/microscopy/Brightness/Brightness_Light.png'/>
    				<button class ='scb_s_micro_arrows' id='brightdown'></button>
    				<div class='scb_s_microscopy_brightness_focus_middle'>
    					{if $microscopy.disable_brightness}
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
						{else}
							{if $microscopy.selected_lane and $microscopy.selected_lane.lens_map.brightness}
								{if $microscopy.selected_lane.lens_map.brightness > 0 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if} 
								{if $microscopy.selected_lane.lens_map.brightness > 0.1 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.2 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.3 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.4 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.5 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.6 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.7 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 0.8 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								
								
								{if $microscopy.selected_lane.lens_map.brightness > 0.9 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 1 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 1.5 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 2 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 3 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 5 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 7 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 9 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
								{if $microscopy.selected_lane.lens_map.brightness > 11 }
									<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								{else}
									<img src = 'images/microscopy/Brightness/Brightness_Line_Gray.png'/>
								{/if}
							{else}
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/> 
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
						
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
								<img src = 'images/microscopy/Brightness/Brightness_Line_Green.png'/>
							{/if}
						{/if}

    				</div>
					<button class ='scb_s_micro_arrows' id='brightup'></button>
    </div>
    
    <div class = 'scb_s_microscopy_lens_controls_section_4'>
    <span class="scb_s_microscopy_laser_label">Laser:</span>	 
    	<input type="checkbox" class="scb_f_microscopy_laser" microscopy_id='{$microscopy.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' {if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if} {if $microscopy.laser_on}checked='checked'{else}{/if}>	 		 	 
			 
    </div>
    
	<div class = 'scb_s_microscopy_lens_controls_section_5'>
    			<span class='scb_s_microscopy_filter_label'>Filters:</span>
    					<input class='scb_f_microscopy_red scb_s_microscopy_if' disabled='disabled'  microscopy_id='{$microscopy.id}' title='Red'  name='IF' type="radio" assignment_id='{$assignment.id}'
				experiment_id='{$experiment.id}' {if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if} {if $microscopy.red_enabled}checked='checked'{/if}>
				<input class='scb_f_microscopy_blue scb_s_microscopy_if ' disabled='disabled' microscopy_id='{$microscopy.id}' title='Blue' name='IF' type="radio" assignment_id='{$assignment.id}'
				experiment_id='{$experiment.id}' {if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if} {if $microscopy.blue_enabled}checked='checked'{/if}>
				<input class='scb_f_microscopy_green scb_s_microscopy_if' disabled='disabled' microscopy_id='{$microscopy.id}' title='Green' name='IF' type="radio" assignment_id='{$assignment.id}'
				experiment_id='{$experiment.id}' {if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if} {if $microscopy.green_enabled}checked='checked'{/if}>
				<input class='scb_f_microscopy_all scb_s_microscopy_if' disabled='disabled' microscopy_id='{$microscopy.id}'  title='All' name='IF' type="radio" assignment_id='{$assignment.id}'
				experiment_id='{$experiment.id}' {if $microscopy_line_id}microscopy_lane_id='{$microscopy_line_id}'{/if} {if $microscopy.merge_enabled}checked='checked'{/if}>
				<br/>
<!-- 
				<img class = 'scb_s_microscopy_filter' src = '{if $microscopy.red_enabled}images/microscopy/Filter_Slider_Red.png{elseif $microscopy.blue_enabled}images/microscopy/Filter_Slider_Blue.png{elseif $microscopy.green_enabled}images/microscopy/Filter_Slider_Green.png{elseif $microscopy.merge_enabled}images/microscopy/Filter_Slider_All.png{else}images/microscopy/Filter_Slider_Red.png {/if}' />
 -->
				<br/>
    
    </div>
    
	<div class = 'scb_s_microscopy_lens_controls_section_6'>
				<span class='scb_s_microscopy_focus_label'>Focus:</span>
				
					<button class ='scb_s_micro_arrows' id='fblurup'></button>
					<img class='scb_s_microscopy_tight_focus_middle' src = 'images/microscopy/Tight_Focus/Focus_Tight_Middle.png'/>
					<button class ='scb_s_micro_arrows' id='fblurdown'></button>

					<img class='scb_s_microscopy_focus_knob' src = 'images/microscopy/Focus_Knob.png'/>
					
					<button class ='scb_s_micro_arrows' id='blurup'></button>
					<img class='scb_s_microscopy_rough_focus_middle' src = 'images/microscopy/Loose_Focus/Focus_Loose_Middle.png'/>
					<button class ='scb_s_micro_arrows' id='blurdown'></button>
					
    
    
    </div>
    
	<div class = 'scb_s_microscopy_lens_controls_section_7'>
	
			  <span class='scb_s_microscopy_obj_label'>Objective:</span> <span class='scb_s_microscopy_mag'></span><br/>
    
    </div>
			
<!-- 
			<button class='scb_f_microscopy_tools_toggle scb_s_microscopy_tools_navigation_followup_toggle'  note='scb_s_microscopy_tools_navigation_followup' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
             microscopy_id='{$microscopy.id}'></button>
    		<div class='scb_s_microscopy_tools_navigation_followup {if $microscopy.navigation_show_state}{else}scb_s_hidden_note{/if}' >

				<button class='scb_f_microscopy_note_close_button' aria-label='Close' note='scb_s_microscopy_tools_navigation_followup' assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
             microscopy_id='{$microscopy.id}'><span>&#215;</span></button>
							
							 Click the appropriate the navigation arrows or 
							 use the arrows on your computer to 
							 move the microscope lens across the image.
	 
			</div>
 -->

				
<!-- 				<button class='scb_f_save_button scb_s_gray_button'>SAVE IMAGE</button> -->
					<button class ='scb_s_micro_arrows' id='up'></button>
					<button class ='scb_s_micro_arrows' id='down'></button>
					<button class ='scb_s_micro_arrows' id='left'></button>
					<button class ='scb_s_micro_arrows' id='right'></button>

			</div>
			
	</div>	
{/template}



/**
@param assignment
@param experiment
@param microscopy
@param cell_treatment
@param lane
@param kinds
*/
{template .display_slide_types}
 
{if length(keys($kinds)) ==1}
		{foreach $k in keys($kinds)}
		<span class="scb_f_microscopy_select_slide_type {if $lane.is_sample_enabled}{else}scb_s_microscopy_dim_conditions{/if}" cell_treatment_id='{$cell_treatment.id}'
				microscopy_id='{$microscopy.id}' assignment_id="{$assignment.id}" experiment_id="{$experiment.id}" value="{$k}"
				lane_kind="{$lane.kind}" lane_id="{if $lane.kind == 'existing'}{$lane.lane.id}{/if}">{$kinds[$k].name}</span>
		{/foreach}
{else}
	<select class="scb_f_microscopy_select_slide_type" cell_treatment_id='{$cell_treatment.id}'
			microscopy_id='{$microscopy.id}' assignment_id="{$assignment.id}" experiment_id="{$experiment.id}"
			lane_kind="{$lane.kind}" lane_id="{if $lane.kind == 'existing'}{$lane.lane.id}{/if}"
	{if $lane.is_sample_enabled}{else}disabled="disabled"{/if}
	>
	{if $lane.kind == 'existing'}
		{if $lane.cell_treatment.cell_line == $assignment.template.model.microscopy.valid[0] and $lane.cell_treatment.treatment_list.list[0].drug_list.list[0].drug_id == $assignment.template.model.microscopy.valid[1]}
			{foreach $k in keys($assignment.template.slide_parser[$lane.cell_treatment.treatment_list.list[0].collection_id])}	
			<option value='{$k}'
			{if $lane.lane.kind == $k}selected="selected"{/if}>{$kinds[$k].name}</option>
			{/foreach}
		{else}
			{foreach $k in keys($assignment.template.slide_parser.default)}
			<option value='{$k}'
			{if $lane.lane.kind == $k}selected="selected"{/if}>{$kinds[$k].name}</option>
			{/foreach}
		{/if}
		
	{else}
	{if length(keys($kinds)) != 1}
	<option selected="selected" disabled="disabled" value=''>Select Analysis</option>
	{/if}
	{if $lane.cell_treatment.cell_line == $assignment.template.model.microscopy.valid[0] and $lane.cell_treatment.treatment_list.list[0].drug_list.list[0].drug_id == $assignment.template.model.microscopy.valid[1]}
		{foreach $k in keys($assignment.template.slide_parser[$lane.cell_treatment.treatment_list.list[0].collection_id])}	
		<option value='{$k}'>{$kinds[$k].name}</option>
		{/foreach}
	{else}
		{foreach $k in keys($assignment.template.slide_parser.default)}
		<option value='{$k}'>{$kinds[$k].name}</option>
		{/foreach}
	{/if}
	{/if}
	</select>
{/if}

{/template}


/**
@param step
*/
{template .display_m_progress}
<div class='scb_s_microscopy_progress'>
	<div class='scb_s_microscopy_video_box_wrapper'>
            <div class='scb_s_microscopy_video_box_wrapper_title'>
                 IN THE LAB
            </div>
            <div class='scb_s_microscopy_video_reminder'>
                   <div class='scb_s_microscopy_video_box'> 
                   </div>
            </div>
	 </div>
    
    
    <div class='scb_s_microscopy_vertical_line_1'></div>
    <div class='scb_s_microscopy_vertical_line_4'></div>
	<div class='scb_s_microscopy_vertical_line_7'></div>
    <div class='scb_s_western_blot_progress_bar'>

		<div class = 'scb_s_western_blot_progress_gray_bar'>
			<div class='scb_s_facs_vertical_line_1_top'></div>
			<div class='scb_s_facs_vertical_line_4_top'></div>
			<div class='scb_s_facs_vertical_line_7_top'></div>
			<div class='scb_s_western_blot_progress_stripe_bar' style='width: 

						{if $step== 1}20px;{/if}
				{if $step== 2} 289px;{/if}
				{if $step== 3}607px; border-top-right-radius:8px; border-bottom-right-radius:8px;{/if}'>
			</div>
		</div>
	
		<div class='scb_s_facs_progress_rest'>
			<div class='scb_s_western_blot_progress_item scb_microscopy_progress_1'>
				1. Microscopy Prep
			</div>
	 
			<div class='scb_s_western_blot_progress_item scb_microscopy_progress_2'>
				2. Load
			</div>
  
			<div class='scb_s_western_blot_progress_item scb_microscopy_progress_3'>
				3. Analyze
			</div>
		</div>
    </div>
</div>
{/template}
