{namespace scb_select_technique}

/**
*
* @param t template
* @param global_template
* @param context
* @param last_step
* @param assignment AssignmentView
* @param experiment
*/
{template .main}
<div class='scb_s_select_technique_view' xmlns="http://www.w3.org/1999/html">
    {call scb_homepage.display_header}
    {param global_template:$global_template /}
    {param context:$context /}
    {/call}
    {call scb_common.assignment_step}
        {param step:5/}
        {param last_step: $last_step/}
        {param assignment_name:$assignment.name/}
        {param experiment_name:$experiment.name/}
        {param assignment:$assignment/}
        {param experiment:$experiment/}
    {/call}

    {call .display_details}
    {param t:$t/}
    {param global_template:$global_template /}
    {param assignment:$assignment/}
    {/call}
    {call scb_homepage.display_footer}
    {param t:$t /}
    {/call}
</div>
{/template}


/**
Select technique area

TODO: westernblot links
TODO: new western blot
TODO: facs links
TODO: new facs

@/param t template
@param assignment
@param experiment
*/
{template .display_details}
<div class='scb_s_select_technique_details_view'>
    {call scb_common.experiment_step}
        {param step:4/}
    {/call}
    <div class='scb_s_select_technique_western_blot scb_f_select_technique'>
        <h1 class='scb_s_select_technique_header'>Available Western Blot:</h1>
        <div class='scb_s_select_technique_western_blot_available'>
        {foreach $w in $experiment.western_blot_list.list}
            <a class='scb_f_open_western_blot scb_s_select_technique_open_western_blot' western_blot_id='{$w.id}' href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}&western_blot_id={$w.id}'>{$w.name}</a><br>
        {/foreach}
        {if $experiment.western_blot_list.length == 0}
            <p class='scb_s_select_technique_none'>No available western blots.</p>
            <p class='scb_s_select_technique_none'>Select <b>New Western Blot</b> below.</p>
        {/if}
        </div>
        <p>
            <span class='scb_s_select_technique_reminder'>Reminder:</span><br>
            Western blotting detects overall changes in the amount or chemical modifications of a particular protein. &nbsp;
            <a href="pdf/Reference%20Library.pdf" class='scb_s_select_technique_learn_more'>Learn More</a>
        </p>
        <a class='scb_s_navigation_button scb_f_new_western_blot ' href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>NEW WESTERN BLOT &nbsp; &#9654;</a>
    </div>


    <div class='scb_s_select_technique_flow scb_f_select_technique'>
        <h1 class='scb_s_select_technique_header'>Available Flow Cytometry:</h1>
        <div class='scb_s_select_technique_western_blot_available'>
            {foreach $w in $experiment.facs_list.list}
                <a class='scb_f_open_facs scb_s_select_technique_open_facs' facs_id='{$w.id}' href='#view=facs&experiment_id={$experiment.id}&assignment_id={$assignment.id}&facs_id={$w.id}'>{$w.name}</a><br>
            {/foreach}
            {if $experiment.facs_list.length == 0}
                <p class='scb_s_select_technique_none'>No available flow cytometry techniques.</p>
                <p class='scb_s_select_technique_none'>Select <b>New Flow Cytometry</b> below.</p>
            {/if}

        </div>
        <p>
            <span class='scb_s_select_technique_reminder'>Reminder:</span><br>
            Flow cytometry is used to count and analyze the size, shape and properties of individual cells within a heterogeneous population of cells. &nbsp;
            <a href="pdf/Reference%20Library.pdf" class='scb_s_select_technique_learn_more'>Learn More</a>
        </p>
        <a class='scb_s_navigation_button scb_f_new_flow_cytometry' href='#view=facs&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>NEW FLOW CYTOMETRY &nbsp; &#9654;</a>
    </div>


    <div class='scb_s_select_technique_micro scb_f_select_technique'>
        <h1 class='scb_s_select_technique_header'>Available Microscopy:</h1>
        <div class='scb_s_select_technique_western_blot_available'>
        	{foreach $w in $experiment.microscopy_list.list}
                <a class='scb_f_open_microscopy scb_s_select_technique_open_microscopy' microscopy_id='{$w.id}' href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}&microscopy_id={$w.id}'>{$w.name}</a><br>
            {/foreach}
            {if $experiment.facs_list.length == 0}
                <p class='scb_s_select_technique_none'>No available microscopy techniques.</p>
                <p class='scb_s_select_technique_none'>Select <b>New Microscopy</b> below.</p>
            {/if}
        </div>
        <p>
            <span class='scb_s_select_technique_reminder'>Reminder:</span><br>
            Microscopy is used to study the shape, morphology and properties of cells, tissues or organisms that otherwise cannot be observed by eye. &nbsp;
            <a href="pdf/Reference%20Library.pdf" class='scb_s_select_technique_learn_more'>Learn More</a>
        </p>
        <a class='scb_s_navigation_button scb_f_new_microscopy ' href='#view=microscopy&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>NEW MICROSCOPY &nbsp; &#9654;</a>
    </div>

    <a class="scb_s_navigation_button scb_f_open_experiment_setup_readonly"
       href="#view=experiment_run&assignment_id={$assignment.id}&experiment_id={$experiment.id}">&#9664; &nbsp; REVIEW SET-UP</a><br/>

</div>
{/template}