{namespace scb_userguide}

/**
* Contact
*/
{template .userguide}
<!-- 
	<div class='scb_s_ug_form'> StarCellBio User Guide
	<button class='scb_f_ug_close_button'>&#215;</button></div>
 -->

	<iframe class='scb_s_ug_dialog' src='/static/ug/help.html'>
        </iframe>
{/template}



