{namespace scb_western_blot}

/**
* Assignment selector
* @param t template
* @param global_template
* @param context
* @param assignment AssignmentView
* @param experiment
* @param last_step
* @param prev_step
* @param western_blot WesternBlotView
* @param rows
* @param kind
* @param kinds
* @param can_prepare_lysate
*/
{template .main}
<div class='scb_s_western_blot_view'>

    {call scb_homepage.display_header}
    {param global_template:$global_template /}
    {param context:$context /}
    {/call}
    {call scb_common.assignment_step}
        {param step:6/}
        {param last_step: $last_step/}
        {param prev_step: $prev_step/}
        {param assignment_name:$assignment.name/}
        {param experiment_name:$experiment.name/}
        {param assignment:$assignment/}
        {param experiment:$experiment/}
        {param technique_name:'WESTERN BLOT' /}
        {param technique_view:'western_blot' /}
        {param technique_param:'western_blot_id' /}
        {param technique_id:$western_blot.id /}
    {/call}
    {call .display_details}
    {param t:$t/}
    {param global_template:$global_template /}
    {param assignment:$assignment/}
    {param western_blot:$western_blot /}
    {param rows:$rows /}
    {param kind:$kind /}
    {param kinds:$kinds /}
    {param can_prepare_lysate:$can_prepare_lysate/}
    {/call}
    {call scb_homepage.display_footer}
    {param global_template:$t /}
    {param assignment:$assignment/}
    {/call}
    {call .well_images/}
</div>
{/template}

/** Display Western Blot main screen

@/param t template
@param assignment
@param experiment
@param western_blot
@param rows
@param kind
@param kinds
@param can_prepare_lysate
*/
{template .display_details}
<div class='scb_s_western_blot_container'>
<div class='scb_western_blot_details_view'>
		{call scb_common.experiment_step}
        {param step:5/}
        {param last_step: 6/}
    	{param assignment: $assignment/}
        {param experiment: $experiment/}
    {/call}
	<span class='scb_s_western_blot_all_tabs'>

    <div class='scb_western_blot_details_view_inner'>
		

        {call .display_tabs}
        {param assignment:$assignment/}
        {param experiment:$experiment /}
        {param western_blot:$western_blot /}
        {param rows:$rows /}
        {param kind:$kind /}
        {param kinds:$kinds/}
        {param can_prepare_lysate:$can_prepare_lysate/}
        {/call}
    
    </div>
    </span>
</div>
</div>
{/template}

/**
@param assignment
@param experiment
@param western_blot
@param rows
@param kind
@param kinds
@param can_prepare_lysate
*/
{template .display_tabs}
<div class='scb_s_western_blot_tab_content {if $kind == 'sample_prep'}scb_s_western_blot_tab_content_sample_prep{/if}'>

{call .display_tabs_selector}
    {param assignment:$assignment/}
    {param experiment:$experiment /}
    {param western_blot:$western_blot /}
{/call}
    {if $kind == 'sample_prep'}
    {call .sample_prep}
    {param assignment:$assignment/}
    {param experiment:$experiment/}
    {param western_blot:$western_blot/}
    {param rows:$rows/}
    {param kinds:$kinds/}
    {param can_prepare_lysate:$can_prepare_lysate/}
    {/call}
    
	</div>
    {/if}
    {if $kind == 'prepare_gel'}
    {call .prepare_gel}
    {param assignment:$assignment/}
    {param experiment:$experiment/}
    {param western_blot:$western_blot/}
    {param rows:$rows/}
    {/call}
    
	</div>
    {/if}
    {if $kind == 'load_gel'}
    {call .display_wb_progress}
    {param step:3/}
    {/call}
    
	</div>
    {/if}
    {if $kind == 'gel_operations'}
	
	</div>
    {/if}
    <a class="scb_s_navigation_button scb_f_open_select_technique scb_s_select_technique_at_western_blot"
       href="#view=select_technique&assignment_id={$assignment.id}&experiment_id={$experiment.id}"
       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'>&#9664; SELECT TECHNIQUE</a><br/>

{/template}

/**
@param assignment
@param experiment
@param western_blot
*/
{template .display_tabs_selector}
<div class='{if $experiment.western_blot_list.list.length >= 5}scb_s_western_blot_tabs_more {else} scb_s_western_blot_tabs{/if}'>
	{if $experiment.western_blot_list.list.length < 5}

		{foreach $wb in $experiment.western_blot_list.list}
		{if $western_blot.id == $wb.id}
		<span class='scb_s_western_blot_active'>
		<input class='scb_s_western_blot_selected' western_blot_id='{$wb.id}' assignment_id='{$assignment.id}'
			  experiment_id='{$experiment.id}' value ='{$wb.name}' type='text' maxlength=10 ></input>
		<button class='scb_s_western_blot_remove scb_f_western_blot_remove' western_blot_id='{$wb.id}' assignment_id='{$assignment.id}'
				experiment_id='{$experiment.id}' 
				>
					  | &#215;
		</button>
		</span>
		{else}
		<a class='scb_f_open_western_blot scb_s_western_blot_open_western_blot' 
		   href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}&western_blot_id={$wb.id}'
		   western_blot_id='{$wb.id}'>{$wb.name}</a>
		{/if}
		{/foreach}
		<span class='scb_s_western_blot_add_western_blot' assignment_id='{$assignment.id}'
             			experiment_id='{$experiment.id}' western_blot_id='{$experiment.western_blot_list.list[length($experiment.western_blot_list.list)-1].id}'> 
             			<a class='scb_f_open_western_blot scb_s_western_blot_open_western_blot' 
             			href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>
             			<span class='scb_s_add_tab'>ADD </span>
				<span class='scb_s_western_blot_add_cross_western_blot'>| + </span></a>
		</span>
		

	{else}
		<button class='scb_s_western_blot_left_western_blot' western_blot_id='{$western_blot.id}'
             			assignment_id='{$assignment.id}'
             			experiment_id='{$experiment.id}'>
    	</button>
    	{if $experiment.western_blot_list.list.length -1 == $experiment.western_blot_list.start_tabs_index +3}
    	
			{foreach $wb in $experiment.western_blot_list.list}
				{if index($wb) >= $experiment.western_blot_list.start_tabs_index and index($wb) < $experiment.western_blot_list.start_tabs_index +4}     				
				
					{if $western_blot.id == $wb.id}
					<span class='scb_s_western_blot_active scb_s_western_blot_more_open_western_blot'>
					<input class='scb_s_western_blot_selected' western_blot_id='{$wb.id}' assignment_id='{$assignment.id}'
			  experiment_id='{$experiment.id}' value ='{$wb.name}' type='text' maxlength=10 ></input>
					<button class='scb_s_western_blot_remove scb_f_western_blot_remove' western_blot_id='{$wb.id}' assignment_id='{$assignment.id}'
							experiment_id='{$experiment.id}'>| &#215;
					</button>
					</span>
					{else}
					<a class='scb_f_open_western_blot scb_s_western_blot_open_western_blot scb_s_western_blot_more_open_western_blot'
					   href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}&western_blot_id={$wb.id}'
					   western_blot_id='{$wb.id}'>{$wb.name}</a>
					{/if}
				{/if}
			{/foreach}
			<span class='scb_s_western_blot_add_western_blot scb_s_western_blot_more_open_western_blot' assignment_id='{$assignment.id}'
										 experiment_id='{$experiment.id}' western_blot_id='{$experiment.western_blot_list.list[length($experiment.western_blot_list.list)-1].id}'> 
										 <a class='scb_f_open_western_blot scb_s_western_blot_open_western_blot' href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}'>
										 <span class='scb_s_add_tab'>ADD </span>
									<span class='scb_s_western_blot_add_cross_western_blot'>| + </span></a>
					</span>
		{else}
			{foreach $wb in $experiment.western_blot_list.list}
				{if index($wb) >= $experiment.western_blot_list.start_tabs_index and index($wb) < $experiment.western_blot_list.start_tabs_index +5}     				
				
					{if $western_blot.id == $wb.id}
					<span class='scb_s_western_blot_active scb_s_western_blot_more_open_western_blot'>
					<input class='scb_s_western_blot_selected' western_blot_id='{$wb.id}' assignment_id='{$assignment.id}'
			  			experiment_id='{$experiment.id}' value ='{$wb.name}' type='text' maxlength=10 ></input>
					<button class='scb_s_western_blot_remove scb_f_western_blot_remove' western_blot_id='{$wb.id}' assignment_id='{$assignment.id}'
							experiment_id='{$experiment.id}'>| &#215;
					</button>
					</span>
					{else}
					<a class='scb_f_open_western_blot scb_s_western_blot_open_western_blot scb_s_western_blot_more_open_western_blot'
					   href='#view=western_blot&experiment_id={$experiment.id}&assignment_id={$assignment.id}&western_blot_id={$wb.id}'
					   western_blot_id='{$wb.id}'>{$wb.name}</a>
					{/if}
				{/if}
			{/foreach}


		{/if}
		<button class='scb_s_western_blot_right_western_blot' western_blot_id='{$western_blot.id}'
             			assignment_id='{$assignment.id}'
             			experiment_id='{$experiment.id}' >
    	</button>
		
	{/if}

</div>
{/template}

/**
@param assignment
@param experiment
@param western_blot
@param rows
@param kinds
@param can_prepare_lysate
*/
{template .sample_prep}
{call .display_wb_progress}
{param step:1/}
{/call}
<div class='scb_s_western_blot_samples_container' style='{if length($rows) >=12}  height: 306px;	{else} 	height:auto;{/if}'>
<div class='scb_s_western_blot_samples_table'  style='{if length($rows) >=12} height: 216px;   min-height: 300px;  {else} 	height:auto;{/if}'>
    <table>
        <thead class='scb_s_western_blot_samples_table_head'>
        <td class='scb_s_western_blot_samples_table_heading sample_prep_select scb_s_experiment_setup_table_border'>Select</td>
        <td class='scb_s_western_blot_samples_table_heading sample_prep_samples scb_s_experiment_setup_table_border'>Samples</td>
        <td class='scb_s_western_blot_samples_table_heading sample_prep_lysate scb_s_experiment_setup_table_border'>Lysate type</td>
        <td class='scb_s_western_blot_samples_table_heading sample_prep_blank scb_s_experiment_setup_table_border'>&nbsp;</td>
        </thead>
        {foreach $r in $rows}
        <tr class='scb_s_western_blot_samples_table_tr'>
            <td class='scb_s_western_blot_samples_table_td scb_s_experiment_setup_table_border' style='width:96px;'>{if $r.display_sample}
                <input type="checkbox" class="scb_f_western_blot_sample_active" western_blot_id='{$western_blot.id}'
                       assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
                       cell_treatment_id='{$r.cell_treatment.id}'
                {if $r.is_sample_enabled}checked="checked"{/if}
                >
                {/if}
            </td>
            <td class='scb_s_western_blot_samples_table_td scb_s_experiment_setup_table_border'  style='width:491px;'>{if $r.display_sample}
                {$r.display_text}
                {/if}
            </td>
            <td class='scb_s_western_blot_samples_table_td scb_s_experiment_setup_table_border'>
                {call .display_lysate_types}
                {param assignment:$assignment/}
                {param experiment:$experiment/}
                {param western_blot:$western_blot/}
                {param cell_treatment:$r.cell_treatment/}
                {param kinds:$kinds/}
                {param lane:$r/}
                {/call}
            </td>
            <td class='scb_s_western_blot_samples_table_td scb_s_experiment_setup_table_border scb_s_experiment_setup_table_border'>
                {if $r.kind == 'existing'}
                <button class="scb_f_western_blot_sample_remove" western_blot_id='{$western_blot.id}'
                        assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' lane_id='{$r.lane.id}'
                {if $r.is_sample_enabled}{else}disabled="disabled"{/if}>&#215;
                </button>
                {else}
                <button class="scb_f_western_blot_sample_remove"
                disabled="disabled">&#215;
                </button>

                {/if}
            </td>
        </tr>
        {/foreach}
        {if length($rows) >= 10}
        <tr class='scb_s_western_blot_samples_select_all_rel'>
        	<td class='scb_f_western_blot_sample_active_all_td' colspan='2'>
                <button class='scb_f_western_blot_sample_active_all'>SELECT ALL</button>
            </td>
        	<td class='scb_f_western_blot_sample_inactive_all_td' colspan='2' align='right'>
                <button class='scb_f_western_blot_sample_inactive_all'>CLEAR ALL</button>
            </td>
        </tr>
        {else}
        <tr class='scb_s_western_blot_samples_select_all_abs'>
        	<td colspan='1'>
                <button class='scb_f_western_blot_sample_active_all'>SELECT ALL</button>
            </td>
            <td colspan='1' class='scb_s_western_blot_blank_space1'>
            </td>
            <td colspan='1'>
                <button class='scb_f_western_blot_sample_inactive_all'>CLEAR ALL</button>
            </td>
            <td colspan='1' >&nbsp;
            </td>
        </tr>
        {/if}
    </table>

</div>
	{if length($rows) >=10}
    	<div class="scb_s_western_blot_green_line"></div>
    {/if}
</div>

</div>
<a class='scb_s_navigation_button scb_f_western_blot_prepare_lysates' western_blot_id='{$western_blot.id}'
   assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'
{if $can_prepare_lysate}{else}disabled='disabled'{/if}> PREPARE LYSATES  &nbsp; &#9654;
</a>
{/template}

/**
@param assignment
@param experiment
@param western_blot
@param rows
*/
{template .prepare_gel}
{call .display_wb_progress}
    {param step:$western_blot.gel_type?3:2/}
{/call}
<div class='scb_s_western_blot_samples_area'>
<!-- 
        	<button class='scb_s_western_blot_gel_type_info'> </button>
			<div class='scb_s_wb_gel_type_followup scb_s_controls_note'>
<!~~ 
				<button class='scb_f_controls_close_button' aria-label='Close'>&#215;</button>	
 ~~>
						Gel type refers to the percentage of acrylamide that is used to make the gel. 
						Lower acrylamide concentrations are used to separate large proteins, 
						while high acrylamide concentrations are used to separate small proteins. 
						<a href="static/ref_lib/full_library.html#GelPreparation" target='_blank' class='scb_s_select_technique_learn_more '>Learn more &gt;&gt;</a>
		
			 </div>
 -->
			{if $western_blot.marker_loaded}
			{else}
<!-- 
			<button class='scb_s_western_blot_marker_info'> </button>

			<div class='scb_s_wb_marker_followup scb_s_controls_note'>
<!~~ 
				<button class='scb_f_controls_close_button' aria-label='Close'>&#215;</button>	
 ~~>
						A protein marker or ladder consisting of multiple proteins of known sizes 
						is loaded into one of the gel's wells that serves as a measurement tool 
						against which you can measure the protein of interest. The protein marker 
						usually consists of wide range of protein sizes, ranging from 10-250 kilodaltons (kDa).  
						 <a href="static/ref_lib/full_library.html#LoadGel" target='_blank' class='scb_s_select_technique_learn_more '>Learn more &gt;&gt;</a>
		
			 </div>
 -->
			 {/if}
    <div class='scb_s_western_blot_choose_gel_type'>
        <!-- TODO: Gel Type stuff -->
        <div class='scb_s_western_blot_choose_gel_type_title'>Gel Type:</div>
         {if $western_blot.wells_loaded}
            {if $western_blot.gel_type =='.10'}&nbsp;&nbsp;&nbsp;10%{/if}
            {if $western_blot.gel_type =='.12'}&nbsp;&nbsp;&nbsp;12%{/if}
            {if $western_blot.gel_type =='.15'}&nbsp;&nbsp;&nbsp;15%{/if}
         {else}
        <input class='scb_s_western_blot_choose_gel_type_input' type="radio" name="gel_type" value=".10" western_blot_id='{$western_blot.id}'
               assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' {if $western_blot.gel_type == '.10'}checked='checked'{/if}/><span class="scb_s_western_blot_choose_gel_type_input_text">10%</span>
        &nbsp;&nbsp;
<!-- 
        <input class='scb_s_western_blot_choose_gel_type_input' type="radio" name="gel_type" value=".12" western_blot_id='{$western_blot.id}'
               assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' {if $western_blot.gel_type == '.12'}checked='checked'{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text ">12%</span>
        &nbsp;<input class='scb_s_western_blot_choose_gel_type_input' type="radio" name="gel_type" value=".15" western_blot_id='{$western_blot.id}'
               assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' {if $western_blot.gel_type == '.15'}checked='checked'{/if} /><span class="scb_s_western_blot_choose_gel_type_input_text ">15%</span>
 -->
		{/if}
    </div>
    <div class='scb_s_western_blot_samples_heading'>
        Samples 
        {if $western_blot.wells_loaded == false} 
        <span class='scb_s_wb_button_wrapper'>
        <button class='scb_f_wb_up_button'>&#x25B2;</button>
		&nbsp;
		<button class='scb_f_wb_down_button'>&#x25BC;</button></span><br/><br/>
		{/if}
    </div>
    <div class='scb_s_western_blot_choose_samples_order'>
    	{if $western_blot.gel_type}{else}<div class='order_overlay'></div>{/if}
        <ol class='{if not $western_blot.wells_loaded} scb_s_western_blot_sortable_list  {else} scb_s_western_blot_static_list {/if} scb_s_western_blot_choose_samples_order_list' >
            {foreach $r in $rows}
            {if $r.kind =='existing' and  $western_blot.marker_loaded == true and $r.lane.id == 'marker' }
                	<li class="scb_s_western_blot_marker scb_s_western_blot_choose_samples_list_item scb_s_western_blot_sortable_item scb_s_movable_item" assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' western_blot_id='{$western_blot.id}' id='{$r.lane.id}'>Marker</li>
            {/if}
            {if $r.is_valid}

				<li class="scb_s_western_blot_choose_samples_list_item scb_s_western_blot_sortable_item scb_s_movable_item" assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' western_blot_id='{$western_blot.id}' id='{$r.lane.id}' title='{$r.display_text} - {$r.lane.kinds[$r.lane.kind].name}'>
					{$r.display_text} - {$r.lane.kinds[$r.lane.kind].name}
				</li>
            {/if}
            {/foreach}
            
            </ol>
    </div>
    {if $western_blot.marker_loaded == false and $western_blot.wells_loaded == false}
    <div class='scb_s_western_blot_add_marker_wrapper'><button class='scb_s_western_blot_load_marker' western_blot_id='{$western_blot.id}'
            assignment_id='{$assignment.id}' experiment_id='{$experiment.id}'>
    </button>
    <div class='scb_s_western_blot_add_marker_text'>ADD MARKER +</div>
    </div>
    {/if}
    {if $western_blot.wells_loaded == false} 
    <a class='scb_s_western_blot_load_all scb_s_navigation_button' western_blot_id='{$western_blot.id}'
                    assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' href="#view=western_blot_gel&experiment_id={$experiment.id}&assignment_id={$assignment.id}&western_blot_id={$western_blot.id}">LOAD GEL</a>
   	{/if}
</div>
<div class='scb_s_western_blot_samples_gel_area'>
    <div class='scb_s_western_blot_gel_tabs'>
        <div class='scb_s_western_blot_gel_tab scb_s_western_blot_gel_active' contenteditable="true">GEL</div>
    </div>
    <div class='scb_s_western_blot_gel_content'>

    <canvas class='scb_s_western_blot_gel' src='images/western_blot/SCB_WesternBlotting_GelNumbers.png'/>

    <div class='scb_s_western_blot_tools'>
    	{if ($western_blot.wells_loaded == true and $western_blot.marker_loaded == true) or $western_blot.wells_loaded == true}

        <a class='scb_s_western_blot_run_gel_and_transfer scb_s_navigation_button' western_blot_id='{$western_blot.id}'
                    assignment_id='{$assignment.id}' experiment_id='{$experiment.id}' href="#view=western_blot_gel&experiment_id={$experiment.id}&assignment_id={$assignment.id}&western_blot_id={$western_blot.id}">RUN GEL & TRANSFER</a>
        {/if}
    </div>
    </div>
</div>
{/template}


/**

*/
{template .display_western_blot_numbers}
<span class='scb_s_western_blot_gel_numbers'>
<span class='scb_s_western_blot_gel_number'>1</span>
<span class='scb_s_western_blot_gel_number'>2</span>
<span class='scb_s_western_blot_gel_number'>3</span>
<span class='scb_s_western_blot_gel_number'>4</span>
<span class='scb_s_western_blot_gel_number'>5</span>
<span class='scb_s_western_blot_gel_number'>6</span>
<span class='scb_s_western_blot_gel_number'>7</span>
<span class='scb_s_western_blot_gel_number'>8</span>
<span class='scb_s_western_blot_gel_number'>9</span>
<span class='scb_s_western_blot_gel_number'>10</span>
<span class='scb_s_western_blot_gel_number'>11</span>
<span class='scb_s_western_blot_gel_number'>12</span>
<span class='scb_s_western_blot_gel_number'>13</span>
<span class='scb_s_western_blot_gel_number'>14</span>
<span class='scb_s_western_blot_gel_number'>15</span>
</span>

{/template}
/**
@param assignment
@param experiment
@param western_blot
@param cell_treatment
@param lane
@param kinds
*/
{template .display_lysate_types}
{if length(keys($kinds)) < 1}
	{foreach $k in keys($kinds)}
		<div class="scb_f_western_blot_select_lysate_type"  kind='{$k}' cell_treatment_id='{$cell_treatment.id}'
        western_blot_id='{$western_blot.id}' assignment_id="{$assignment.id}" experiment_id="{$experiment.id}"
        lane_kind="{$lane.kind}" lane_id="{if $lane.kind == 'existing'}{$lane.lane.id}{/if}">{$kinds[$k].name}</div>
	{/foreach}
{else}

{if length(keys($kinds)) == 1}
	{foreach $k in keys($kinds)}
		<span class="scb_f_western_blot_select_lysate_type" cell_treatment_id='{$cell_treatment.id}'
			western_blot_id='{$western_blot.id}' assignment_id="{$assignment.id}" experiment_id="{$experiment.id}"
			lane_kind="{$lane.kind}" lane_id="{if $lane.kind == 'existing'}{$lane.lane.id}{/if}" value='{$k}'>{$kinds[$k].name}</span>

	{/foreach}
{else}
	<select class="scb_f_western_blot_select_lysate_type" cell_treatment_id='{$cell_treatment.id}'
			western_blot_id='{$western_blot.id}' assignment_id="{$assignment.id}" experiment_id="{$experiment.id}"
			lane_kind="{$lane.kind}" lane_id="{if $lane.kind == 'existing'}{$lane.lane.id}{/if}"
	{if $lane.is_sample_enabled}{else}disabled="disabled"{/if}
	>
	{if $lane.kind == 'existing'}
		{foreach $k in keys($kinds)}
		<option value='{$k}'
		{if $lane.lane.kind == $k}selected="selected"{/if}>{$kinds[$k].name}</option>
		{/foreach}
	{else}
		{if length(keys($kinds)) != 1}
		<option selected="selected" disabled="disabled" value=''>Pick Lysate Type</option>
		{/if}
		{foreach $k in keys($kinds)}
			<option value='{$k}'>{$kinds[$k].name}</option>
		{/foreach}
	{/if}
	</select>
	{/if}
{/if}
{/template}

/**
@param step
*/
{template .display_wb_progress}
<div class='scb_s_western_blot_progress'>
    <div class='scb_s_western_blot_video_box_wrapper'>
            <div class='scb_s_western_blot_video_box_wrapper_title'>
                 IN THE LAB
            </div>
            
            <div id='slider' class='scb_s_western_blot_video_box swipe'>
				<div  class='slides_container swipe-wrap'>
					<div>
						<img class='scb_s_western_blot_video_box_img' src='images/western_blot/in_the_lab_all.png' ><br/>
						<span class='scb_s_western_blot_video_heading'>Reminder:&nbsp;&nbsp;</span>
						<span class='scb_s_western_blot_video_text'>The gel only has 15 lanes and one&nbsp;</span><br/>
						<span class='scb_s_western_blot_video_text_second'>lane must be reserved for the protein marker.&nbsp;</span><br/>
						
					</div>
					<div>
							<iframe height='124' width='187' class='scb_s_experiment_setup_video_box_vid'  src="//www.youtube.com/embed/u7VwmJw9Gbc" frameborder="0" allowfullscreen></iframe>

					</div>
				</div>
			</div>
				<div class='slider_controls' style='text-align:center;'>
  
			  		<button onclick='mySwipe.prev()'>&#x25c0;</button> 
					  <nav id = 'nav'>
						<ul class='slider_dots'>
						<li class='on'></li>
						<li ></li>
						</ul>
						</nav>

			  		<button onclick='mySwipe.next()'>&#x25b6;</button>

				</div> 
            

    </div>
               
     <div class='scb_s_western_blot_vertical_line_1'></div>
    <div class='scb_s_western_blot_vertical_line_2'></div>
    <div class='scb_s_western_blot_vertical_line_3'></div>
    <div class='scb_s_western_blot_vertical_line_4'></div>
    <div class='scb_s_western_blot_vertical_line_5'></div>
	<div class='scb_s_western_blot_vertical_line_6'></div>
	<div class='scb_s_western_blot_vertical_line_7'></div>
    <div class='scb_s_western_blot_progress_bar'>

	<div class = 'scb_s_western_blot_progress_gray_bar'>
		<div class='scb_s_western_blot_vertical_line_1_top'></div>
        <div class='scb_s_western_blot_vertical_line_2_top'></div>
    	<div class='scb_s_western_blot_vertical_line_3_top'></div>
        <div class='scb_s_western_blot_vertical_line_4_top'></div>
        <div class='scb_s_western_blot_vertical_line_5_top'></div>
        <div class='scb_s_western_blot_vertical_line_6_top'></div>
        <div class='scb_s_western_blot_vertical_line_7_top'></div>
		<div class='scb_s_western_blot_progress_stripe_bar' style='width: 

                {if $step== 1}32px;{/if}
        {if $step== 2}123px;{/if}
        {if $step== 3}214px;{/if}
        {if $step== 4}305px;{/if}
        {if $step== 5}396px;{/if}
        {if $step== 6}487px;{/if}
        {if $step== 7}607px; border-top-right-radius:8px; border-bottom-right-radius:8px;{/if}'>
		</div>
	</div>
    <div class='scb_s_western_blot_progress_rest'>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_1 '>
            1. Sample Prep
        </div>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_2 '>
            2. Prepare Gel
        </div>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_3'>
            3. Load Gel
        </div>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_4 '>
            4. Run
        </div>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_5 '>
            5. Transfer
        </div>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_6 '>
            6. Blot
        </div>
        <div class='scb_s_western_blot_progress_item scb_s_western_blot_progress_7 '>
            7. Develop
        </div>
    </div>

    </div>

</div>
{/template}

/**
*/
{template .well_images}
    <span class='scb_wells' style='display:none;'>
        <img src='images/western_blot/WesternBlot_BlueWells_01.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_02.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_03.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_04.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_05.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_06.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_07.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_08.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_09.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_10.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_11.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_12.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_13.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_14.png'>
        <img src='images/western_blot/WesternBlot_BlueWells_15.png'>
        <img src='images/western_blot/SCB_WesternBlotting_GelNumbers.png'>
    </span>
{/template}

/**
* Western Blot Lane Error
*/
{template .wb_sample_error}
You have selected more than 15 samples. The gel only has 15 lanes. Please only select 15
 samples, and remember that one lane is usually reserved for a protein marker."
{/template}
