<style>
	.new_password{
		float:right; 
		-webkit-appearance:none; 
		border-radius: 5px; 
		letter-spacing:1px;
		text-transform:uppercase;
		border: 1px solid #e0e0e0; 
		background: #676767; 
		height: 30px;
		color: white;
		font-size: 10pt; 
		cursor:pointer;
	}
	
	.inlineLabels{

		border:0;
	}
</style>




{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- 
<h1>{% trans "Password Reset" %}</h1>
 -->
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Enter your e-mail address below and we will send an email to your email address with information on how to reset your password." %}</p>

<form method="POST" action="" class="password_reset uniForm">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ password_reset_form|as_uni_form }}
    <div class = "buttonHolder">
      <input class='new_password' type="submit" value="{% trans "Reset My Password" %}" />
    </div>
  </fieldset>
</form>

<!-- 
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
 -->
{% endblock %}

{% block extra_body %}
<script>
  $("#id_email").focus();
</script>
{% endblock %}
