<style>

body {

    position: absolute;
    background: #f4f6f8;
    top:0px;
    font-family: 'sourcesanspro-bold';
    font-size: 10pt;
    color:#007bb5;
    
}
	.new_password{
		float:right; 
		-webkit-appearance:none; 
		border-radius: 8px; 
		letter-spacing:1px;
		text-transform:uppercase;
		background: #68bfa2; 
		height: 27px;
		color: white;
		font-size: 9pt; 
		cursor:pointer;
		position:relative;
		bottom: 8px;
		padding-left: 13px;
		padding-right: 9px;
		top:1px;
		border: 0;

	}
	
.inlineLabels{
margin-left: -10px;
border:0;
}

ul{	
	padding: 0;
}

ul > a{
	float: left;
	font-weight: bold;
	color: #35b696;
	font-size: 10pt;
	text-decoration: none;
}


#div_id_email > label{
	color: #007bb5;
	font-size: 9pt;
	letter-spacing: 1px;
	font-weight: bold;
	float: left;
	display:block;
	text-transform: uppercase;
	margin-bottom: 5px;
}


input{
	height: 31px;
	clear: left;
}

#div_id_email > input{

	display: block;
	width: 373px;
	box-shadow: inset 1px 1px 4px 0px gray;
}
</style>




{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- 
<h1>{% trans "Password Reset" %}</h1>
 -->
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<br/>
<p>{% trans "Enter your e-mail address below and we will send an email to your email address with information on how to reset your password." %}</p>

<form method="POST" action="" class="password_reset uniForm">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ password_reset_form|as_uni_form }}
    <div class = "buttonHolder">
      <input class='new_password' type="submit" value="{% trans "Reset My Password" %}" />
    </div>
  </fieldset>
</form>

<!-- 
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
 -->
{% endblock %}

<script>
  document.getElementById('div_id_email').children[0].innerHTML='E-MAIL';

</script>
