<style>

body {

    position: absolute;
    background: #f4f6f8;
    top:0px;
    font-family: 'sourcesanspro-bold';
    font-size: 10pt;
    
}

</style>
{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

<b>REGISTER FOR A STUDENT ACCOUNT</b>
{% block content %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup uniForm" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
 Your instructor should have provided you with a code that you need to enter below to register and use this StarCellBio tool.
  Please contact your instructor if you have not received this code. 
    <input name="CC" value="Course Code" />

        
  <div class="buttonHolder">
      <button class="primaryAction auth_submit_button" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </div>
  </fieldset>

<!-- 
 <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
 -->

</form>

{% endblock %}


