<style>

body {

    position: absolute;
    background: #f4f6f8;
    top:0px;
    font-family: 'sourcesanspro-bold';
    font-size: 10pt;
    
}

.inlineLabels{

		border:0;
	}
	
.auth_submit_button{
		float:right; 
		-webkit-appearance:none; 
		border-radius: 5px; 
		letter-spacing:1px;
		text-transform:uppercase;
		border: 1px solid #e0e0e0; 
		background: #676767; 
		height: 30px;
		color: white;
		font-size: 10pt; 
		cursor:pointer;
}


#div_id_password1{
	position:relative;
	left: 46px;
}

#div_id_email{
	position:relative;
	left: 64px;
}
.course_code{
	position: relative;
	left: 26px;
}

</style>
{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

<b>REGISTER FOR A STUDENT ACCOUNT</b>
{% block content %}

<!-- 
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
 -->

<form class="signup uniForm" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
   <div class='course_code'>
    <label>Course Code* </label>
    <input name="CC"  placeholder=''/>
	</div>
    Your instructor should have provided you with a code that you need to enter below to register and use this StarCellBio tool.
  Please contact your instructor if you have not received this code. 
      
  <div class="buttonHolder">
      <button class="primaryAction auth_submit_button" type="submit">{% trans "Create Account" %}</button>
    </div>
  </fieldset>

<!-- 
 <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
 -->

</form>

{% endblock %}


