.making_lysates_schedule, .making_lysates_temperature, .making_lysates_treatments {
  display: inline-block;
  font-size: 12px;
}
.making_lysates_treatment_name, .making_lysates_treatment_concentration {
  display: inline-block;
  font-size: 9px;
}
tr.tr_making_lysates_row:nth-child(2n) {
  background: #eee;
}
tr.tr_making_lysates_row:nth-child(odd) {
  background: #fff;
}
.making_lysates_list {
  width: 100%;
}
.create_new_making_lysates {
  padding-left: 20px;
  text-decoration: underline;
}
