.scb_s_course_setup_view {
  width: 1002px;
  background-color: #f4f6f8;
}
.scb_s_course_setup_container {
  background: white;
  padding-bottom: 51px;
  position: relative;
  z-index: 1;
}
.scb_s_course_setup_title {
  font-size: 16pt;
  font-weight: bold;
  font-family: 'sourcesanspro-semibold';
  color: #316f94;
  text-transform: capitalize;
  padding-top: 15px;
  padding-left: 10px;
}
.scb_s_course_setup_course_name_heading {
  font-size: 12pt;
  font-weight: bold;
  font-family: 'sourcesanspro-semibold';
  color: #316f94;
  padding-top: 15px;
  padding-left: 10px;
}
.scb_s_course_setup_text_field {
  font-size: 10pt;
  font-family: 'sourcesanspro-regular';
  color: black;
  font-style: italic;
  margin-left: 27px;
  margin-top: 10px;
  padding: 5px;
}
.scb_s_course_setup_text_field::-webkit-input-placeholder {
  color: #999;
}
.scb_s_course_setup_radio_text {
  position: relative;
  top: -1px;
}
.scb_s_course_setup_radio_choice {
  margin-left: 7px;
  padding-top: 10px;
}
.scb_s_course_setup_assignment_list, .scb_s_course_setup_course_list {
  display: inline-block;
  margin-left: 28px;
}
.scb_s_course_setup_save_button {
  border: none;
  width: 193px;
  height: 30px;
  margin: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-semibold';
  text-transform: initial;
  padding-top: 2px;
  text-align: left;
  margin-right: 19px;
}
.scb_s_course_setup_back_button {
  border: none;
  width: 193px;
  height: 30px;
  margin: 1px;
  font-size: 10pt;
  font-family: 'sourcesanspro-semibold';
  text-transform: initial;
  padding-top: 2px;
  text-align: left;
  float: left;
}
