{namespace scb_ex2_text}

/**
*/
{template .goal}
<h2>Goal</h2>
<p>
In this exercise, you will use StarCellBio, a cell and molecular experiment simulator, to examine the orientation of
transmembrane proteins int he plasma membrane using western blotting and flow cytometry.
</p>
<h2>
Learning Objectives
</h2>
<p>
After completing this exercise, you will be able to:
<ol>
<li>Use StarCellBio to perform simulated western blot and flow cytometry experiments.  </li>
<li>Design and implement experiments in StarCellBio using the appropriate experimental conditions and the
relevant positive and/or negative controls.
</li>
<li>Analyze western blot and flow cytometry results to determine the orientation of transmembrane proteins in
the plasma membrane. </li>
<li>Evaluate the advantages and disadvantages of interrogating a scientific question using complementary
approaches. </li>
<li>Synthesize results obtained from western blotting and flow cytometry analyses into a coherent, logical
conclusion.
</li>
</ol>
</p>
{/template}

/**
*/
{template .intro}
<h2>Introduction</h2>
<p>
Your summer undergraduate research project is to determine the orientation of two newly discovered transmembrane
proteins, Protein X and Protein Y, in mammalian cells to better understand how these proteins respond to
extracellular and intracellular signals.
</p>
<p>
As shown in Figure 1 below, transmembrane proteins can span the plasma membrane once (single-pass proteins) or
multiple times (multi-pass proteins). Depending on the number of times a protein spans the plasma membrane and
the protein’s orientation in the plasma membrane, a protein’s N-terminal and C-terminal ends could be found either
inside or outside the cell. The orientation of a protein within the plasma membrane will dictate which amino acid
residues are accessible or respond to extracellular or intracellular signals, allowing a better understanding of their
function within signaling transduction pathways. </p>
<p>
To determine the orientation of Proteins X and Protein Y in the plasma membrane with respect to the location of their
N- and C-terminal ends, you decide to two produce mammalian cell lines stably expressing epitope-tagged copies of
Protein X and Y, called His-ProX-FLAG and His-ProY-FLAG, respectively. The epitope-tagged versions of Proteins X
and Y have a 6xHis tag (a tag containing six copies of the amino acid histidine) on their N-termini and a FLAG tag (a
short peptide consisting of a specific 8 amino acid sequence) on their C-termini. Both the 6xHis and FLAG tags are
detectable by specific antibodies. If the N-terminus is intracellular, then the 6xHis tag will be located on the inside of
the cell as shown in Figure 1, and if the N-terminus is extracellular, then the 6xHis tag will be located outside of the
cell. Similarly, the C-terminus can be intracellular, in which case the FLAG tag will be inside the cell, or extracellular,
in which case the FLAG tag will be outside the cell.
</p>
<img src="../../images/protein_topology_v3.jpg" alt="Protein Topology" width="100%">
<p>To determine the orientation of Protein X and Protein Y in the plasma membrane you decide to use two different
experimental techniques, western blotting and flow cytometry.
</p>
{/template}


/**
*/
{template .bg_info}
<h2>
Background Information
</h2>
<h3>
Cell Lines
</h3>
You are provided with the following cell lines:
<style>
table.scb_ex2_text_table td {lb}
    border: 1px solid black;
{rb}

table.scb_ex2_text_table {lb}
border-collapse: collapse;
{rb}
</style>
 <table class='scb_ex2_text_table'>

<thead>
    <td style='width:75pt'>
        <strong>Strain</strong>
    </td>
    <td>
        <strong>Description</strong>
    </td>
</thead>
 <tbody>
 <tr>
 <td>NoTags</td><td>	A mammalian cell line expressing only wild-type Protein X and Protein Y and no copies of the
6xHis and FLAG tagged proteins.
</td>
 </tr>
 <tr><td>ProX-Null </td><td>	A mammalian cell line in which the gene encoding Protein X has been knocked out. This cell line
does not express any Protein X.
 </td>
 </tr>
 <tr>
 <td>ProY-Null</td>
<td>A mammalian cell line in which the gene encoding Protein Y has been knocked out. This cell line
does not express any Protein Y. </td>
</tr>
 <tr>
 <td>His-ProX-FLAG </td><td>	A mammalian cell line stably expressing an epitope-tagged copy of Protein X with a 6xHis
 tag on the N-terminus and a FLAG tag on the C-terminus. </td>
 </tr>
 <tr>
 <td>His-ProY-FLAG</td><td>A mammalian stably expressing an epitope-tagged copy of Protein Y with a 6xHis tag on the
 N-terminus and a FLAG tag on the C-terminus</td>
 </tr>
 </tbody>

</table>
<h3>Treatments</h3>
You are provided with the following treatments:
<table class='scb_ex2_text_table'>
<thead>
    <td>
        <strong>Treatment</strong>
    </td>
    <td>
        <strong>Description</strong>
    </td>
</thead>
<tr><td>Growth media + buffer</td><td>Cells grown in growth media are collected. Intact cells are incubated with buffer only.</td></tr>
<tr><td>Growth media + ProK</td><td>Cells grown in growth media are collected. Intact cells are incubated with the Proteinase K (ProK)
enzyme and appropriate buffer to digest any peptides outside the cell<sup>1</sup>.</td></tr>

</table>


<h3>Western Blotting</h3>
You are provided with the following antibodies for western blotting experiments:
<table class='scb_ex2_text_table'>
<thead>
    <td>
        <strong>Antibody</strong>
    </td>
    <td>
        <strong>Description</strong>
    </td>
    <td>
        <strong>Expected Molecular Weight (kDa)</strong>
    </td>
</thead>
<tbody>
<tr><td>Mouse anti-Protein X </td><td>Mouse anti-Protein X </td><td>82 (wild type) <br> 84 (His-ProX-Flag) </td></tr>
<tr><td>Rabbit anti-Protein Y</td><td>Rabbit anti-Protein Y</td><td>230 (wild type) <br> 232 (His-ProY-Flag)</td></tr>
<tr><td>Mouse anti-6xHis </td><td>Primary antibody recognizing the 6xHis epitope tag. </td><td>Varies, depending on the size of the 6xHis
tagged protein. The 6xHis tag adds about 1 kDa to the molecular weight of the tagged protein. </td></tr>
<tr><td>Rabbit anti-FLAG </td><td>Primary antibody recognizing the FLAG epitope tag.</td><td>Varies, depending on the size of the FLAG
tagged protein. The FLAG tag adds about 1 kDa to the molecular weight of the tagged protein. </td></tr>
<tr><td>Mouse anti-PGK1 </td><td>Primary antibody recognizing PGK1, a housekeeping protein expressed in all cell
types at relatively equal levels. </td><td>44</td></tr>
<tr><td>Rabbit anti-mouse HRP </td><td>Secondary antibody recognizing mouse
primary antibodies, conjugated to horseradish peroxidase (HRP)<sup>2</sup>.</td><td>Varies, depending on primary antibody used.</td></tr>
<tr><td>Goat anti-rabbit HRP</td><td>Secondary antibody recognizing rabbit
primary antibodies, conjugated to horseradish
peroxidase (HRP)<sup>2</sup>.</td><td>Varies, depending on primary antibody
used. </td></tr>

</tbody></table>

<h3>Flow Cytometry</h3>
You are provided with the following conditions for flow cytometry experiments:
<table class='scb_ex2_text_table'>
<thead>
    <td>
        <strong>Condition</strong>
    </td>
    <td>
        <strong>Description</strong>
    </td>
</thead>

<tbody>
<tr><td>His A488 </td><td>Fixed, intact cells incubated with mouse anti-6xHis primary antibody, followed by
incubation with secondary antibody conjugated to Alexa Fluor 488 (green)<sup>3</sup>. </td></tr>
<tr><td>FLAG A590 </td><td>Fixed, intact cells incubated with mouse anti-FLAG primary antibody, followed by
incubation with secondary antibody conjugated to Alexa Fluor 590 (red)<sup>4</sup>.</td></tr>
<tr><td>ProX A488 </td><td>Fixed, intact cells incubated with mouse anti-Protein X antibody, followed by incubation
with secondary antibody conjugated to Alexa Fluor 488 (green)<sup>3</sup>. Note: The anti-Protein X antibody recognizes a region
of Protein X known to be extracellular. </td></tr>
<tr><td>ProY A488</td><td>Fixed, intact cells incubated with mouse anti-Protein Y antibody, followed by incubation
with secondary antibody conjugated to Alexa Fluor 488 (green)<sup>2</sup>. Note: The anti-Protein Y antibody recognizes a region
of Protein Y known to be extracellular. </td></tr>

</tbody>
</table>



<h3>Notes: </h3>
<p>
<sup>1</sup>Proteinase K is an enzyme that digests proteins. It cannot penetrate the plasma membrane when cells are intact
(when the plasma membrane has not been disrupted or permeabilized). As a result, incubating intact cells with
Proteinase K results in the digestion of extracellular peptides only
</p>
<p>
<sup>2</sup>The provided secondary antibodies are conjugated to horseradish peroxidase (HRP). Horseradish peroxidase
catalyzes a reaction that produces light as a by-product, which is detected using photographic film. The intensity and
location of the light emission captured on the film indicates the relative amount and location of the bound secondary
antibody on the western blot.
</p>
<p><sup>3</sup>
This secondary antibody is conjugated to a fluorescent molecule, or fluorophore, called Alexa Fluor 488 (A488),
which fluoresces or emits green light when excited by light with a wavelength of 488 nm.
</p>
<p><sup>4</sup>This secondary antibody is conjugated to a fluorescent molecule, or fluorophore, called Alexa Fluor 590 (A590),
which fluoresces or emits red light when excited by light with a wavelength of 590 nm.
</p>

{/template}


/**
*/
{template .questions}
<h2>Question 1</h2>
<p>Your graduate student advisor suggests you first determine the orientation of Protein X and Protein Y in the plasma
membrane using western blotting, an experimental technique that allows for the detection of a specific protein or
peptide after cells are lysed and proteins are isolated from the rest of the cell’s components. The intensity of the band
on the western blot is proportional to the amount of the protein of interest expressed in the cells.</p>
<p>Before performing the western blotting procedure, you collect His-ProX-FLAG or His-ProY-FLAG cells and incubate
the intact cells with Proteinase K. Because Proteinase K cannot penetrate the membrane of intact, unpermeablized
cells, only intracellular proteins and peptides will remain undigested after Proteinase K treatment. After Proteinase K
digestion, you lyse the cells and perform a western blot analysis to determine the presence or absence of each
epitope tag using the appropriate primary and secondary antibody combinations, while ensuring to include any
relevant controls.</p>
<p>Based on your western blotting experimental results, what are the orientations of Protein X and Protein Y in the
His-ProX-FLAG and His-ProY-FLAG cell lines, respectively, with respect to the location of their N- and C-terminal ends
in plasma membrane? Explain how you arrived at your answer. In your explanation include the results you obtained from
any control experiments you performed and why they were important.</p>

<h2>Question 2</h2>
<p>Your advisor then suggests using a different experimental technique, flow cytometry, to determine the orientation of
Protein X and Y in the plasma membrane. Flow cytometry allows for the detection and quantification of proteins or
peptides in cells. In flow cytometry, the amount of fluorescence signal emitted corresponds to the relative amount of
bound secondary antibody and therefore, to the relative amount of protein/peptide present. </p>
<p>In this flow cytometry experiment, you collect and fix intact cells from the His-ProX-FLAG and His-ProY-FLAG cell
lines. Then, you incubate the cells with either the anti-FLAG or anti-6xHis primary antibody, followed by incubation
with the appropriate fluorescently-labeled secondary antibody. Because antibodies cannot penetrate intact,
unpermeablized cells, the anti-6xHis and anti-FLAG antibodies can only bind to extracellular 6xHis or FLAG epitopes.
After secondary antibody incubation, you perform flow cytometry analysis to quantify the amount of emitted
fluorescence while ensuring the relevant controls are included.
</p>
<p>Based on your flow cytometry experimental results, what are the orientations of Protein X and Protein Y in the
His-ProX-FLAG and His-ProY-FLAG cell lines, respectively, with respect to the location of their N- and C-terminal ends
in plasma membrane? Explain how you arrived at your answer. In your explanation include the results you obtained from
any control experiments you performed and why they were important.</p>
<h2>Question 3</h2>
<p>Do the conclusions for Questions 1 and 2 agree? Justify your answer.
</p>
<h2>Question 4</h2>
<ol type="a">
<li>Compare and contrast the information you obtain regarding the location of a protein’s termini (inside or outside of
the cell) through western blotting versus flow cytometry approaches.</li>
<li>What are the advantages and disadvantages of examining transmembrane protein orientation using both of these
techniques versus only one of these specific approaches?</li>
</ol>

<h2>Question 5</h2>
<p>a) What is the number of transmembrane segments that a transmembrane protein can have if:</p>
<ol type="i">
<li>both terminal ends are extracellular?</li>
<li> one terminal end is extracellular and the other is intracellular?</li>
<li> both terminal ends are intracellular?</li>
</ol>
<p>Explain your answers. If for any given scenarios there is more than one possibility, explain what rules or restrictions
determine the number of segments.</p>
<p>b) Which scenarios (i, ii, and/or iii) can apply to single-pass and multi-pass proteins? </p>

<h2>Question 6</h2>
<p>Based on the results from all of your experiments, what can you conclude about the number of transmembrane
segments in Protein X and Protein Y? Can Protein X and Protein Y be single-pass and/or multi-pass proteins?
Explain your answers.</p>

{/template}

/**

*/
{template .experiment_setup}
<ul role='list' class='scb_assignment_specific_tufts_experiment_setup'>
    <li role='listitem'>
        To setup your experiment, select <b role='presentation' >Add Samples</b> in the experimental set-up table below. <br>
    </li>
    <li  role='listitem'>
        Select all of the treatment protocols for your experiment within the <b role='presentation'>Add Samples</b> pop up window, and
        then click <b role='presentation'>Add Samples</b>.
    </li>
</ul>
{/template}