{namespace scb_assignment_sutd_intro_biology}

/**
*/
{template .goal}
<h2>Goal</h2>
<p>
The goal of this worksheet is to increase understanding of <b>signal transduction</b> pathways and <b>cell biology
techniques</b> by providing you with the opportunity to conduct and analyze data from your own cell biology
experiments using StarCellBio. </p>
{/template}

/**
*/
{template .bg_info}
<h2>
Background Information
</h2>

<p>You have discovered a new signaling pathway that promotes cell activities and is expressed in all mammalian cells.
This pathway is activated by the addition of an extracellular ligand. </p>
<p>You have identified five components of this pathway in a human cell line, Proteins A-E, which have not been
previously characterized. First, you test the relative protein levels of Proteins A-E before and after pathway activation.
You observe that within the time frame in which your experiment is conducted, the levels of Proteins A-E do not
change upon the addition of extracellular ligand. Therefore, you determine that within this pathway, Proteins A-E are
not regulated through changes in their protein levels.</p>
<p>To further characterize this pathway you would like to determine the order of Proteins A-E within this signal
transduction cascade by testing the effect of pathway activation on the behavior of Proteins A-E. To do this, you are
being asked to perform a series of experiments that will allow you to determine the following features about Proteins
A-E: </p>
<ol>
<li>Location within the cell </li>
<li>Regulation of protein activity through changes in phosphorylation </li>
</ol>
<p>To perform these experiments you are provided with the activating ligand as well as a small molecule inhibitor of
this signal transduction pathway. This inhibitor can be used for experiments testing the location of the protein within
the cell, phosphorylation and to order the components of this signal transduction. The following is a summary of the
available conditions/treatments: </p>


<style>
table.sutd1_text_table td {lb}
    border: 1px solid black;
{rb}
table.sutd1_text_table {lb}
border-collapse: collapse;
{rb}
</style>

 <table class='sutd1_text_table'>
 <thead>
<td style='width:75pt'>Treatment</td><td>Description</td>
 </thead>
 <tbody>
<tr><td>Growth media only </td><td>Cells are cultured in growth media only and collected. </td></tr>
<tr><td>Growth media + ligand</td><td>Cells, previously cultured in growth media only, are grown in growth media
containing the activating ligand for a given period of time and collected for
further analysis.  </td></tr>
<tr><td>Growth media + inhibitor</td><td>Cells, previously cultured in growth media only, are grown in growth media
containing an inhibitor of the signaling pathway for a given period of time
and collected for further analysis.  </td></tr>
<tr><td>Growth media only + ligand + inhibitor</td><td>Cells, previously cultured in growth media only, are grown in growth media
containing the activating ligand and inhibitor of the signaling pathway for a
given period of time and collected for further analysis. </td></tr>
</tbody>
</table>





<h3>1. Microscopy</h3>
<p>First, you decide to determine the location of Proteins A-E in the cell prior to and after pathway activation. To do this,
you generate human cell lines, each stably expressing a fusion protein in which Green Fluorescent Protein (GFP) is
fused in frame to one of the five proteins. These fusion cell lines are called GFP-Protein A, GFP-Protein B, etc. You
then look at the localization of these fusion proteins using fluorescence microscopy and the cell culturing conditions
you have been provided. In addition, you are provided with a series of cell lines that can be used as controls to
assess the location of proteins in the cell. In these control cell lines the protein fused to GFP has a known location,
which does not change upon the addition of the extracellular ligand that activates the signal transduction pathway in
question. </p>
<p>Below is a summary of cell lines provided to you: </p>

<table class='sutd1_text_table'>
<thead>
<td style='width:75pt'>Strain</td><td>Description</td>
</thead>
<tbody>
<tr><td>GFP-Protein A</td><td>	A human cell line stably expressing Protein A fused to GFP. </td></tr>
<tr><td>GFP-Protein B</td><td>	A human cell line stably expressing Protein B fused to GFP. </td></tr>
<tr><td>GFP-Protein C</td><td>	A human cell line stably expressing Protein C fused to GFP. </td></tr>
<tr><td>GFP-Protein D</td><td>	A human cell line stably expressing Protein D fused to GFP. </td></tr>
<tr><td>GFP-Protein E</td><td>	A human cell line stably expressing Protein E fused to GFP. </td></tr>
<tr><td>GFP</td><td>A human cell line stably expressing GFP, which localizes to both the
nucleus and cytoplasm.</td></tr>
<tr><td>GFP-Histone H2B</td><td> A human cell line stably expressing Histone H2B, a protein that localizes to
the nucleus, fused to GFP. </td></tr>
<tr><td>GFP-p100</td><td>A human cell line stably expressing p100, a protein that localizes to the
cytoplasm, fused to GFP.  </td></tr>
<tr><td>GFP-pTD</td><td>A human cell line stably expressing a pTD, a protein that localizes to the
plasma membrane, fused to GFP.  </td></tr>
 </tbody>
</table>


<h3>2. Western Blotting</h3>
<p>In addition to location in cell, you also want to test the phosphorylation status of proteins A-E. As the signaling
pathway that you identified is new, you have not yet defined the critical phosphorylation events required for signal
transduction. You are fortunate in that there is a commercially available phospho-specific antibody available for one
site in each of your proteins. These phospho-antibodies only recognize the phosphorylated form of each protein at
that site, but there is no guarantee that this phosphorylation site is relevant to your signal transduction pathway. You
also have an antibody against the control protein, GAPDH, which is not affected by activation of this pathway. </p>

 <table class='sutd1_text_table'>
 <thead>
<td style='width:75pt'>Antibody</td><td>Description</td><td>Expected molecular weight of detected band(s) (kDa) </td>
 </thead>
 <tbody>
 <tr><td>Anti-phospho-proteinA </td><td>Primary antibody recognizing Protein A phosphorylated at a
specific site. Can recognize endogenous and GFP-Protein A fusion proteins. </td><td>46 (Endogenous Protein A) <br>
73 (GFP tagged Protein A) </td></tr>

<tr><td>Anti-phospho-protein B </td><td>Primary antibody recognizing Protein B phosphorylated at a
specific site. Can recognize endogenous and GFP-Protein B fusion proteins. </td><td>134 (Endogenous Protein B) <br>
161 (GPF tagged Protein B) </td></tr>

<tr><td>Anti-phospho-protein C </td><td>Primary antibody recognizing Protein C phosphorylated at a
specific site. Can recognize endogenous and GFP-Protein C fusion proteins.  </td><td> 44 (Endogenous Protein C)<br>
71.(GFP tagged Protein C) </td></tr>

<tr><td>Anti-phospho-protein D </td><td>Primary antibody recognizing Protein D phosphorylated at a
specific site. Can recognize endogenous and GFP-Protein D fusion proteins.  </td><td> 67 (Endogenous Protein D)<br>
94 (GFP tagged Protein D) </td></tr>

<tr><td>Anti-phospho-protein E </td><td>Primary antibody recognizing Protein E phosphorylated at a
specific site. Can recognize endogenous and GFP-Protein E fusion proteins. </td><td>74 (Endogenous Protein E)<br>
101 (GFP tagged Protein E)  </td></tr>

<tr><td>anti-GAPDH</td><td>Primary antibody recognizing GAPDH. </td><td>37</td></tr>
<tr><td>Rabbit antimouse</td><td>Secondary antibody recognizing mouse primary antibodies. </td><td>N/A</td></tr>
<tr><td>Goat antirabbit</td><td>Secondary antibody recognizing rabbit primary antibodies. </td><td>N/A</td></tr>
</tbody>
</table>

<p>Conduct the appropriate experiments within StarCellBio to determine the effect of pathway activation and inhibition
on the location (within a cell) and phosphorylation of Proteins A-E. Using the results that you obtain from these
experiments, answer the following questions concerning Proteins A-E and the order of the signal transduction
pathway in question. </p>

{/template}


/**
*/
{template .questions}
<h2>Question 1</h2>
<p>Using your experimental results, describe the effect of pathway activation on each of the five proteins in the table
below by indicating 1) whether the protein is phosphorylated (by answering “Yes” or “No”), and 2) location of the
protein in the cell. Please answer this question on your worksheet. </p>

<table class='sutd1_text_table'>
<thead>
<td style='width:75pt'></td><td></td><td>No pathway activation <br>(-Ligand) </td><td>Pathway activation <br>(+ Ligand) </td>
</thead>
<tbody>
<tr><td rowspan="2">Protein A</td><td>Phosphorylation</td><td></td><td></td></tr>
<tr><td>Location in the cell</td><td></td><td></td></tr>
<tr><td rowspan="2">Protein B</td><td>Phosphorylation</td><td></td><td></td></tr>
<tr><td>Location in the cell</td><td></td><td></td></tr>
<tr><td rowspan="2">Protein C</td><td>Phosphorylation</td><td></td><td></td></tr>
<tr><td>Location in the cell</td><td></td><td></td></tr>
<tr><td rowspan="2">Protein D</td><td>Phosphorylation</td><td></td><td></td></tr>
<tr><td>Location in the cell</td><td></td><td></td></tr>
<tr><td rowspan="2">Protein E</td><td>Phosphorylation</td><td></td><td></td></tr>
<tr><td>Location in the cell</td><td></td><td></td></tr>
</tbody>
</table>


<h2>Question 2. Part A</h2>

<p>For the current experiment, we do not know the relationship between Proteins A-E and the exercise simply suggests
their relative position within the signal transduction pathway. Hence, addition of ligand results in the activation of the
pathway and in the expression of genes important for cell activities. Given your experimental results, suggest the
most likely order for Proteins A-E within this pathway, starting with the addition of ligand and ending with the resulting
gene expression. Please answer this question on your worksheet. </p>

<p>ligand _____ _____ _____ ______ _____ gene expression</p>

<h2>Questions 2. Part B</h2>

<p>At which point within the pathway does the inhibitor act? Please answer this question on your worksheet. </p>
<p>Downstream of _____ and upstream of or inhibiting _____</p>

<h2>Question 2. Part C</h2>
<p>Explain the reasoning by which you ordered the signal transduction pathway using your experimental results to
justify your explanation.</p>
{/template}

/**

*/
{template .experiment_setup}
<ul role='list'  class='scb_assignment_specific_tufts_experiment_setup'>
    <li  role='listitem'>
        To setup your experiment, select <b role='presentation' >Add Samples</b> in the experimental set-up table below. <br>
    </li>
    <li  role='listitem'>
        Select all of the treatment protocols for your experiment within the <b role='presentation' >Add Samples</b> pop up window, and
        then click <b role='presentation' >Add Samples</b>.
    </li>
</ul>
{/template}
