{namespace scb_ui}

/**
* Making Western Blot 
* @param current
* @param template
* @param making_lysates_list
*/
{template .western_blot}
	{if $current == null }
		{call .dashboard /}
	{else}
		{call .western_blot_display}
			{param current:$current /}
			{param template:$template /}
			{param making_lysates_list:$making_lysates_list /}
		{/call}
	{/if}
{/template}


/**
* Western Blots sidebar
* @param list
* @param current 
* 
{template .western_blot_sidebar}
	<div class='create_new_western_blot'>Create New Western Blot</div>			
	<ul class='sidebar_list'>
	{foreach $ml in $list.list}
		<li><a href='#{$ml.id}' model_id='{$ml.id}' 
			class='a_black_link select_western_blot {if $current!=null}{if $current.id == $ml.id}experiment_sidebar_selected_experiment{/if}{/if}'>
			{$ml.name}</a></li>
	{/foreach}  
	</ul>
{/template}
*/

/**
* Display making lysates
* @param current
* @param template
* @param making_lysates_list
*/
{template .western_blot_display}
		<div class='making_lysates_display'>
		{call .western_blot_name}
			{param current:$current /}
		{/call}
		
		{call .display_lysates_selector}
			{param current:$current /}
			{param template:$template /}
			{param making_lysates_list:$making_lysates_list /}
		{/call}	
		
		</div>
		<div>
				<div id='dialog_edit' style='display:none'>
		</div>	
{/template}

/**
* Display making lysates
* @param current
* @param template
* @param making_lysates_list
*/
{template .display_lysates_selector}
	<div class='western_blot_display_lysate'>
		{if $current.sdsgelrun}
		{else}
		<div class='space_above scb_section_title'>
		Select lysates:
		</div>
		<div class='western_blot_display_lysate_picker'>
		<select class='western_blot_display_lysate_select'>
			{foreach $ml in $making_lysates_list.list}
				<option lysate_id='{$ml.id}' {if $current.display_lysates_id == $ml.id}selected='selected'{/if}>{$ml.name}</option>			
			{/foreach}
		</select>
		</div>
		
		<table class='making_lysates_list'>
			<th class='making_lysates_table_header>
				<td class='cell_line_name'>Cell line</td>
				<td class='treatments'>Treatments</td>
				<td class='collection_time'>Collection time</td>
				<td class='whole_cell'>Whole Cell</td>
				<td class='cytoplasm'>Cytoplasm</td>
				<td class='nuclear'>Nuclear</td>
				<td class='ip'>IP</td>
			</th>
				{foreach $t in $current.display_lysates.lysate_kind_list.list}
				{if $t.empty}
				{else}
				<tr class='tr_making_lysates_row'>
					{call .western_blot_making_lysates_row_drag_and_drop}
						{param t:$t/} 
						{param template:$template/}
						{param making_lysate_id:$current.display_lysates.id/}
					{/call} 
				</tr>
				{/if}
			{/foreach}
		</table>
	 	{/if}
	 	<div class='western_blot_lanes'>
	 		{call .western_blot_lanes_list}
	 			{param current:$current/}
	 			{param template:$template/}
	 		{/call}
	 	</div>
	 	
		{if $current.sdsgelrun}
		{else}
	 	<div class='western_blot_run_sds'>
	 		<button class='western_blot_run_sds_button'>Run SDS-PAGE gel and transfer</button>
	 	</div>
	 	{/if}

		{if $current.sdsgelrun}
		<div class='western_blot_anti_body'>
			{call .western_blot_anti_body_select}
				{param current:$current /}
	 			{param template:$template /}				
			{/call}
		</div>
		<div class='western_blot_exposure'>
			<div class='experiment_collection_title scb_section_title'>
				Select Exposure Times
			</div>
		
			{call .western_blot_exposure}
				{param current:$current /}
				
			{/call}
		</div>
		{if $current.finished}
		{else}
		<div class='western_blot_develop'>
			<button class='western_blot_develop_button'>Develop Western Blot</button>
		</div>
		{/if}
			{if $current.finished}
				HERE WILL COME PROCESSED WESTERN BLOT FOR ALL EXPOSURE TIMES
			{/if}
		
		{else}
	 	{/if}	 	
	 	
	</div>
{/template}

/**
* Display making lysates
* @param t
* @param template
*/
{template .western_blot_making_lysates_row_first_columns}

	<td class='cell_line_name'>{$template.cell_lines[$t.cell_line_id].name}</td>
	<td class='treatments'>
		{foreach $tl in $t.treatment_list}
		<div class='making_lysates_treatment_row {if index($tl)%2==0}making_lysates_treatment_row_even{else}making_lysates_treatment_row_odd{/if}'>
			<div class='making_lysates_schedule'>
				{$tl.schedule}
			</div>
			<div class='making_lysates_temperature'>
				{$tl.temperature}
			</div>
			<div class='making_lysates_treatments'> 
				{foreach $td in $tl.drug_list}
				<div class='making_lysates_treatment'>
					<div class='making_lysates_treatment_name'>{$td.name}</div>
					<div class='making_lysates_treatment_concentration'>{$td.concentration}</div>
				</div>
				{/foreach}
			</div>
		</div>
		{/foreach} 
	</td>
	<td class='collection_time'>{$t.collection_time}</td>
{/template}

/**
* Display making lysates
* @param t
* @param template
* @param making_lysate_id
*/
{template .western_blot_making_lysates_row_drag_and_drop}

	<td class='cell_line_name'>{$template.cell_lines[$t.cell_line_id].name}</td>
	<td class='treatments'>
		{foreach $tl in $t.treatment_list}
		<div class='making_lysates_treatment_row {if index($tl)%2==0}making_lysates_treatment_row_even{else}making_lysates_treatment_row_odd{/if}'>
			<div class='making_lysates_schedule'>
				{$tl.schedule}
			</div>
			<div class='making_lysates_temperature'>
				{$tl.temperature}
			</div>
			<div class='making_lysates_treatments'> 
				{foreach $td in $tl.drug_list}
				<div class='making_lysates_treatment'>
					<div class='making_lysates_treatment_name'>{$td.name}</div>
					<div class='making_lysates_treatment_concentration'>{$td.concentration}</div>
				</div>
				{/foreach}
			</div>
		</div>
		{/foreach} 
	</td>
	<td class='collection_time'>{$t.collection_time}</td>
	<td class='whole_cell'>
	{if $t.whole_cell}
		<button class='western_blot_add_lysate_button' making_lysate_id='{$making_lysate_id}' lysate_kind_id='{$t.id}' kind='whole_cell'>Add</button>
	{/if}
	</td>
	<td class='cytoplasm'>
	{if $t.cytoplasm}
		<button class='western_blot_add_lysate_button' making_lysate_id='{$making_lysate_id}'  lysate_kind_id='{$t.id}' kind='cytoplasm'>Add</button>
	{/if}
	</td>
	<td class='nuclear'>
	{if $t.nuclear}
		<button class='western_blot_add_lysate_button' making_lysate_id='{$making_lysate_id}'  lysate_kind_id='{$t.id}' kind='nuclear'>Add</button>
	{/if}
	</td>
	<td class='ip'>
	{if $t.ip}
		<button class='western_blot_add_lysate_button' making_lysate_id='{$making_lysate_id}'  lysate_kind_id='{$t.id}' kind='ip'>Add <!--{$t.ip_primary_anti_body} {$t.ip_secondary_anti_body}--></button>
	{/if}
	</td>
{/template}

/**
* Display making lysates
* @param current
* @param template
*/
{template .western_blot_lanes_list}
	<div class='space_above scb_section_title'>Western Blot lanes</div>
	<table style='width:100%'>
	{foreach $item in $current.lanes_list.list}
		<tr>
		{call .western_blot_making_lysates_row_first_columns}
			{param t:$item.lysate_kind/}
			{param template:$template/}
		{/call}
		<td>
			{$item.kind}
		</td>
		<td>
			<label for='protein_{$item.id}'>Amount to Load:</label><input name='protein_{$item.id} type='text' value='1'/>
		</td>
		<td>
			<button model_id='{$item.id}' class='delete_western_blot_lane'>Delete</button>
		</td>
		</tr>
	{/foreach} 
	</table>
{/template}

/**
* Display making lysates
* @param current
* @param template
*/
{template .western_blot_anti_body_select}
	<div class='western_blot_anti_body_select scb_section_title space_above'>
		Select Primary and Secondary Antibody {$current.name}
	</div>
	<div class='western_blot_anti_body_primary'>
	<div class='scb_inline scb_200px'>
		Primary Antibody
	</div>
	<select class='western_blot_anti_body_select_primary'>
	{foreach $pab in keys($template.primary_anti_body)}
		<option model_id='{$pab}'>{$template.primary_anti_body[$pab].name}</option>
	{/foreach}
	</select>
	</div>

	<div class='western_blot_anti_body_secondary'>
	<div class='scb_inline scb_200px'>
		Secondary Antibody
	</div>
	<select class='western_blot_anti_body_select_secondary'>
	{foreach $pab in keys($template.secondary_anti_body)}
		<option model_id='{$pab}'>{$template.secondary_anti_body[$pab].name}</option>
	{/foreach}
	</select>
	</div>
	
	
{/template}


/**
* Display exposure
* @param current Selected experiment
* @param template Template
*/
{template .western_blot_exposure}
			<div class='experiment_collection_times'>
			{foreach $t in $current.exposure_list.list}
				{call .western_blot_exposure_one}
					{param schedule:$t/}
					{param template:$template/}				
				{/call}
			{/foreach}
			<div class='add_western_blot_exposure_time scb_inline'>&nbsp; 
				<img class='add_western_blot_exposure_time add_schedule' src='icons/actions/Add.png' width='24px'> 
			</div>
			</div>
{/template}
/**
* Display schedule
* @param schedule Schedule
*
*/
{template .western_blot_exposure_one}
	<div class='scb_250px collection_schedule_time ' schedule_id='{$schedule.id}'>
		{$schedule.schedule}
		<div class='experiment_row_treatment_tools' >
			<img class='experiment_row_treatment_edit' src='icons/actions/Edit.png' width='24px'>
			<img class='experiment_row_treatment_delete' src='icons/actions/Delete.png' width='24px'>
		</div>
		<div class='experiment_row_treatment_tools_spacer'>
		</div>
	</div>
{/template}


/**
* Display Name DIV
* @param current
*/
{template .western_blot_name}
			<div class='making_lysates_name'>
				Western Blot title: <div class='making_lysates_text'>
					{$current.name}
					<div class='edit_tools'>
						{call scb_util.small_icon_without_text}
							{param src:'icons/actions/Edit.png'/}
							{param text:'Edit'/}
							{param cls:'edit_experiment_name_text'/}
						{/call}
					</div>
					<div class='edit_tools_spacer'>
					</div>
				</div>
			</div>
{/template}

