.scb_mit706s14_dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  background-color: #80808080;
  font-family: 'sourcesanspro-regular';
  font-size: 10pt;
}
.scb_s_experiment_setup_center_cell {
  text-align: center;
  vertical-align: middle;
}
.scb_s_2014_samples {
  left: 496px;
  position: relative;
}
.scb_s_experiment_setup_special {
  width: 734px !important;
}
.scb_s_experiment_setup_table_heading_strain {
  width: 125px;
}
.scb_mit706s16_inner_dialog_title_close {
  padding-top: 0;
  float: right;
  -webkit-appearance: none;
  font-family: 'sourcesanspro-semibold';
  outline: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14pt;
  color: transparent;
  background: transparent;
  background-image: url('../../images/header/scb_close_button.png');
  background-repeat: no-repeat;
}
.scb_mit706s16_inner_dialog_title_close:hover {
  background-color: #e58986;
}
.scb_mit706s16_inner_dialog {
  opacity: 5;
  width: 75%;
  height: 75%;
  overflow: auto;
  margin-top: 12%;
  margin-left: 12%;
  position: relative;
  border: 5px solid white;
  border-radius: 9px;
  background-color: #f5f5f5;
}
.scb_mit706s16_inner_dialog_title {
  font-size: 12pt;
  color: white;
  margin: 0;
  margin-bottom: 5px;
  padding: 6px;
  text-align: left;
  cursor: move;
  background-color: #27956c;
  background-image: -webkit-linear-gradient(top,#27956c,#189689);
  background-image: -moz-linear-gradient(top,#27956c,#189689);
  background-image: -ms-linear-gradient(top,#27956c,#189689);
  background-image: -o-linear-gradient(top,#27956c,#189689);
  font-family: 'sourcesanspro-bold';
}
.scb_mit706s16_inner_dialog_body {
  padding: 20px;
  padding-top: 0;
}
.scb_mit706s16_inner_dialog_body>h1 {
  font-size: 12pt;
  font-family: sourcesanspro-regular;
}
.scb_mit706s16_inner_dialog_body>h1>b {
  font-size: 12pt;
  font-family: sourcesanspro-semibold;
}
.scb_mit706s16_inner_dialog_cancel {
  width: 115px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.scb_mit706s16_button_float {
  display: block;
}
