{% extends "instructor/assignment_base.html" %}

{% block content %}
    Assignment: {{ assignment.name }} - Edit Assignment Text
    {% if message %}
        {{ messsage }}
    {% endif %}
    <div>
        <form method="post">{% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {{ form.as_p }}

                {% if form.instance.id %}

                {% endif %}
            {% endfor %}
            <input type="submit" value="Submit Questions"/>
        </form>

    </div>
{% endblock %}