{% extends "instructor/assignment_edit_base.html" %}

{% block sidebar %}
    <div style="width:220px; display:block;float:left">

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Assignment</div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "assignment" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class='scb_s_assignment_sidebar_link'
               href="{% if new %}{% url "common_assignment_setup" %}
               {% else %}{% url "common_assignment_modify" %}{% endif %}">
                 Assignment setup
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "course" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class='scb_s_assignment_sidebar_link {% if not pages.course %} disabled {% endif %}'
                {% if pages.course %}
                    href="{% if new %}{% url "common_course_setup" %}
                    {% else %}{% url "common_course_modify" %}{% endif %}"
                {% endif %}
            >
                Course setup
            </a>
        </div>

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Experiment Setup</div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "strains" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.strains %} disabled {% endif %}"
                {% if pages.strains %}
                    href="{% url "common_assignments_edit_strains" %}"
                {% endif %}
            >
                Strains
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "variables" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class='scb_s_assignment_sidebar_link {% if not pages.variables %} disabled {% endif %}'
               {% if pages.variables %}
               href="{% url "common_assignments_variables" %}"
               {% endif %}
            >
                Select variables
            </a>
        </div>

        <div role="link" class='scb_ab_s_sidebar_page_link
        {% if page_name == "treatments" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.treatments %} disabled {% endif %}"
                {% if pages.treatments  %}
                href="{% url "common_assignments_edit_treatments" %}"
                {% endif %}
            >
                Define variables
            </a>
        </div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "protocols" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.protocols %} disabled {% endif %}"
               {% if pages.protocols %}
               href="{% url "common_strain_treatments" %}"
               {% endif %}
            >
                Protocols
            </a>
        </div>

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Experimental Techniques</div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "techniques" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.techniques %} disabled {% endif %}"
                {% if pages.techniques %}
                    href="{% url "common_select_technique" %}"
                {% endif %}
            >
                Select Technique
            </a>
        </div>

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Western Blotting</div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_lysate_type" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.wb_lysate_type %} disabled {% endif %}"
                {% if pages.wb_lysate_type %}
                    href="{% url "western_blot_lysate_type" %}"
                {% endif %}
            >
                Lysate Type
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_antibody" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.wb_antibody %} disabled {% endif %}"
                {% if pages.wb_antibody %}
                    href="{% url "western_blot_antibody" %}"
                {% endif %}
            >
                Antibody
            </a>
        </div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_band_size" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.wb_band_size %} disabled {% endif %}"
                {% if pages.wb_band_size %}
                    href="{% url "western_blot_band_size" %}"
                {% endif %}
            >
                Band Sizes
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_band_intensity" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.wb_band_intensity %} disabled {% endif %}"
                {% if pages.wb_band_intensity %}
                    href="{% url "western_blot_band_intensity" %}"
                {% endif %}
            >
                Band Intensity
            </a>
        </div>


        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Microscopy</div>

        <div role="link" class='scb_ab_s_sidebar_page_link'>
            <a class="scb_s_assignment_sidebar_link disabled" href="{% if new == 'False' %}
                {% url "microscopy_sample_prep" assignment=assignment.id %}{% endif %}">
                Edit Microscopy Sample Prep
            </a>
        </div>

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Flow Cytometry</div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "facs_sample_prep" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.facs_sample_prep %} disabled {% endif %}"
                {% if pages.facs_sample_prep %}
                    href="{% url "facs_sample_prep"  %}"
                {% endif %}
            >
                Sample Prep
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "facs_setup" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.facs_setup %} disabled {% endif %}"
                {% if pages.facs_setup %}
                    href="{% url "facs_setup"  %}"
                {% endif %}
            >
                Canvas
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "facs_analyze" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if not pages.facs_analyze %} disabled {% endif %}"
                {% if pages.facs_analyze %}
                    href="{% url "facs_analyze"  %}"
                {% endif %}
            >
                Analyze
            </a>
        </div>

    </div>
{% endblock %}
