{% extends "instructor/base.html" %}

{% block content %}
    <style>
        .scb_s_navigation_button {
            border: none;
            width: 185px;
            height: 30px;
            margin: 1px;
            font-size: 10pt;
            font-family: 'sourcesanspro-semibold';
            padding-top: 2px;
            margin-right: 19px;
            margin-top: 100px;

        }

        .scb_s_instructor_sidebar_section_heading {
            font-size: 14pt;
            font-weight: bold;
            font-family: 'sourcesanspro-semibold';
            color: #316f94;
            text-transform: capitalize;
            padding-top: 5px;
        }

        .scb_s_instructor_sidebar_link_heading {
            font-size: 10pt;
            margin-top: 3px;
            font-family: 'sourcesanspro-semibold';
            position: relative;
            width: 221px;
            padding: 7px 3px 3px 33px;
            height: 12px;
            color: #010101;
        }

        .scb_s_sidebar_link_sub_heading {
            font-size: 10pt;
            margin-top: 3px;
            font-family: 'sourcesanspro-semibold';
            position: relative;
            width: 221px;
            padding: 7px 3px 3px 50px;
            height: 12px;
            color: #010101;

        }

    </style>
    <div class='scb_s_experiment_setup_container' role='main'>
        <div class='scb_s_assignment_outline_description '>
            <div class='scb_s_outline_title'>
                {{ assignment.name }}
            </div>
            {% block sidebar %}
            {% endblock %}
        </div>

        <div class='scb_s_course_setup_description '>
            <div class='scb_s_abstract_title'>
                Assignment Editor
            </div>

            {% block right_side %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

