{% extends "instructor/assignment_edit_base.html" %}

{% block sidebar %}
    <div style="width:210px; display:block;float:left">

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Assignment</div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "assignment" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class='scb_s_assignment_sidebar_link'
               href="{% if new %}{% url "common_assignment_setup" %}
               {% else %}{% url "common_assignment_modify" %}{% endif %}">
                 Assignment setup
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "course" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class='scb_s_assignment_sidebar_link {% if last_page_number < 2 %} disabled {% endif %}'
                {% if last_page_number >= 2 %}
                    href="{% if new %}{% url "common_course_setup" %}
                    {% else %}{% url "common_course_modify" %}{% endif %}"
                {% endif %}
            >
                Course setup
            </a>
        </div>

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Experiment Setup</div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "strains" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 3 %} disabled {% endif %}"
                {% if last_page_number >= 3 %}
                    href="{% url "common_assignments_edit_strains" %}"
                {% endif %}
            >
                Strains
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "variables" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class='scb_s_assignment_sidebar_link {% if last_page_number < 4 %} disabled {% endif %}'
               {% if last_page_number >= 4 %}
               href="{% url "common_assignments_variables" %}"
               {% endif %}
            >
                Select variables
            </a>
        </div>

        <div role="link" class='scb_ab_s_sidebar_page_link
        {% if page_name == "treatments" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 5 %} disabled {% endif %}"
                {% if last_page_number >= 5  %}
                href="{% url "common_assignments_edit_treatments" %}"
                {% endif %}
            >
                Define variables
            </a>
        </div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "protocols" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 6 %} disabled {% endif %}"
               {% if last_page_number >= 6 %}
               href="{% url "common_strain_treatments" %}"
               {% endif %}
            >
                Protocols
            </a>
        </div>

        <div class='scb_ab_s_sidebar_section_heading' role='heading'>Experimental Techniques</div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "techniques" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 7 %} disabled {% endif %}"
                {% if last_page_number >= 7 %}
                    href="{% url "common_select_technique" %}"
                {% endif %}
            >
                Select Technique
            </a>
        </div>

        <div class='scb_s_instructor_sidebar_section_heading' role='heading'>Western Blotting</div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_lysate_type" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 8 %} disabled {% endif %}"
                {% if last_page_number >= 8 %}
                    href="{% url "western_blot_lysate_type" %}"
                {% endif %}
            >
                Lysate Type
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_antibody" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 9 %} disabled {% endif %}"
                {% if last_page_number >= 9 %}
                    href="{% url "western_blot_antibody" %}"
                {% endif %}
            >
                Antibody
            </a>
        </div>

        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_band_size" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 10 %} disabled {% endif %}"
                {% if last_page_number >= 10 %}
                    href="{% url "western_blot_band_size" %}"
                {% endif %}
            >
                Band Sizes
            </a>
        </div>
        <div role="link" class='scb_ab_s_sidebar_page_link
            {% if page_name == "wb_band_intensity" %}scb_ab_s_sidebar_page_name_selected{% endif %}'>
            <a class="scb_s_assignment_sidebar_link {% if last_page_number < 11 %} disabled {% endif %}"
                {% if last_page_number >= 11 %}
                    href="{% url "western_blot_band_intensity" %}"
                {% endif %}
            >
                Band Intensity
            </a>
        </div>


        <div class='scb_s_instructor_sidebar_section_heading' role='heading'>Microscopy</div>

        <div role="link" class='scb_s_instructor_sidebar_link_heading '>
            <a class="scb_s_assignment_sidebar_link disabled" href="{% if new == 'False' %}
                {% url "microscopy_sample_prep" assignment=assignment.id %}{% endif %}">
                Edit Microscopy Sample Prep
            </a>
        </div>

        <div class='scb_s_instructor_sidebar_section_heading' role='heading'>Flow Cytometry</div>

        <div role="link" class='scb_s_instructor_sidebar_link_heading '>
            <a class="scb_s_assignment_sidebar_link disabled" href="{% if new == 'False' %}
                {% url "flowcytometry_sample_prep_edit" assignment=assignment.id %}{% endif %}">
                Edit Flowcytometery Sample Prep
            </a>
        </div>

    </div>
{% endblock %}
