{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}
    <div class='scb_s_experiment_setup_title'>Experiment Setup</div>
    <div class='scb_s_experiment_setup_subtitle'>In this section, you will specify the strains and treatments available
        for experimentation.
    </div>
    <br/>
    {% if message %}
        {{ messsage }}
    {% endif %}

    <div>
        <form method="post">{% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {{ form.as_p }}

                {% if form.instance.id %}

                {% endif %}
            {% endfor %}
            <input type="submit" value="Submit Questions"/>
        </form>

    </div>
{% endblock %}