<!DOCTYPE html><html><head><META http-equiv='Content-Type' content='text/html; charset=UTF-8'><meta http-equiv='content-type' content='text/html; charset=utf-8'><title>StarCellBio Prototype</title>
<link type="text/css" href="/static/js/skins/lightgray/skin.min.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/scb_ex/gen/addmultipledialog.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/technique_tabs.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/assignments/microscopy_usability/gen/instructions.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/assignments/mit706s14/gen/instructions.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/contact.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/js/skins/lightgray/content.min.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/swipe/substyle.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/facs.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ug2/ug.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/gen/usability_test.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_homepage.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/css/style.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/test/gen/test.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/experiment_setup.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/mit706s14/gen/addmultipledialog.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/common.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/js/skins/lightgray/content.inline.min.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_dashboard.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_facs.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_western_blot.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_select_technique.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ref_lib/rl.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/decusability/gen/addmultipledialog.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/assignments/mit706s13/gen/instructions.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/mit706s13/gen/addmultipledialog.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/experiment_design.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/assignments/tufts/gen/instructions.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/assignments/mit706s14ps2/gen/instructions.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/css/smoothness/jquery-ui.min.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/microscopy.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/css/jqdialog.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_experiment_setup.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/assignments/decusability/gen/instructions.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/homepage.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/assignments.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/starcellbio.app.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/css/jquery.multiselect.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/userguide.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_assignment_setup.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/microscopy_usability/gen/addmultipledialog.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/css/layout-default.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_course_setup.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/select_technique.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/auth.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.16.custom.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/contact/contact.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/js/skins/lightgray/skin.ie7.min.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/western_blot_gel.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/gen/microscopy_test.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/swipe/style.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/mit706s14ps2/gen/addmultipledialog.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/western_blot.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/assignment.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/ui/gen/notebook.gss.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/js/plugins/visualblocks/css/visualblocks.css?_=1417401991" rel="Stylesheet" />
<link type="text/css" href="/static/instructor/gen/instructor_microscopy.gss.css?_=1417401991" rel="Stylesheet" />
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/jquery.tinymce.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/tinymce.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/soyutils.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/jqdialog.js?_=1445364014" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js?_=1446740740" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/underscore.js?_=1455117369" charset="UTF-8"></script>


{% load staticfiles%}
<script src="{% static "sketch_tool.js" %}"></script>
<script src="{% static "instructor.js" %}"></script>
<script src="{% static "paper-core.js" %}"></script>
<link href="{% static "assignment_setup.css" %}" rel="Stylesheet"/>
<body>
<div id="main" style="height: 100%; position: absolute; left: 126.5px; top: 0px;">
    <div class="scb_ab_s_instructor_view">

        <div class="scb_s_instructor_header" role="header">
            <div alt="" class="scb_s_header_line_top"></div>
            <h1 class="scb_s_logo_h1" aria-label="StarCellBio Home Page Link">
                <a aria-hidden="true" href="#view=assignments">StarCellBio
                    <img class="scb_s_logo" src="images/header/scb_logo.png" role="banner">
                </a>
            </h1>
            <span class="scb_s_header_tools">
                <span class="scb_f_contact" target="_blank" role="link" aria-label="Contact">
                    <img class="scb_s_envelope_icon" src="images/header/scb_envelope_icon.png" alt="" role="presentation">
                    <span class="scb_s_envelope_text scb_s_header_tools_text" role="presentation">CONTACT</span>
                </span>
                <img class="scb_s_header_vertical_line" src="images/header/scb_vertical_divider.png" alt="" role="presentation">
                <a class="scb_f_reference" href="/static/ref_lib/full_library.html#" aria-label="Library" target="_blank">
                    <img class="scb_s_cabinet_icon" src="images/header/scb_cabinet_icon.png" alt="" role="presentation">
                    <span class="scb_s_cabinet_text scb_s_header_tools_text">LIBRARY</span>
                </a>
                <img class="scb_s_header_vertical_line" src="images/header/scb_vertical_divider.png" role="presentation">
                <span class="scb_f_user_guide" role="link" aria-label="User Guide">
                    <img class="scb_s_user_guide_icon" src="images/header/scb_user_guide_icon.png" role="presentation">
                    <span class="scb_s_user_guide_text scb_s_header_tools_text" role="presentation">USER GUIDE</span>
                </span>
                <img class="scb_s_header_vertical_line" src="images/header/scb_vertical_divider.png" alt="" role="presentation">
                <a class="scb_f_login" href="/scb/logout/" role="presentation" aria-label="Sign In link">
                    <span class="scb_s_login_status" aria-hidden="true">SIGN OUT</span>
                </a>
            </span>
        </div>

        <div class="scb_s_instructor_account_title">Assignment Builder: Beta Version</div>

        <div class="scb_s_assignment_step" role="menu" xmlns="http://www.w3.org/1999/html">
            <a class="scb_s_assignment_step_link scb_f_assignments_step_link scb_s_assignment_step_link_active"
                href="{% url "common_assignments" %}" aria-label="Assignments" role="menuitem">
                <div class="scb_s_assignment_step_wrapper" style="position: absolute; left: 29px; bottom: 20px;"
                 aria-hidden="true">
                <div class="scb_s_assignments_link_img_active" role="presentation"></div>
                DASHBOARD
                </div>
            </a>
        </div>

        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}


        <div class="scb_s_footer" role="footer">
            <a href="http://web.mit.edu/" role="link">
                <img class="scb_s_instructor_homepage_footer_logo" src="images/homepage/mit_logo.png" alt="MIT Logo">
            </a>

            <img class="scb_s_instructor_homepage_footer_divider" role="presentation"
                 src="images/homepage/small_divider.png" alt="">
            <a href="http://star.mit.edu/CellBio/funding/index.html"
               role="link" aria-label="Funding" target="_blank">
                <span aria-hidden="true" class="scb_s_instructor_homepage_footer_support"
                      src="images/homepage/support.png">
                    Funding
                </span>
            </a>
        </div>
    </div>
</div>




<script src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
<script> Raven.config('https://7845856fc975496e8dc2130b7140b19c@app.getsentry.com/19461', { whitelistUrls: ['starcellbio.mit.edu'] }).install(); </script>
</body>

</html>
