
{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}

    <div class='scb_s_course_setup_title'>Course Setup</div>

    <div class='scb_s_course_setup_radio_choice scb_f_course_setup_choose_existing_course'>
        <input class='scb_ab_f_course_setup_option_choose' type="radio" name="setup_kind" checked/>
        <span class='scb_s_course_setup_radio_text'>Choose a course for this assignment</span>
    </div>
    <div class="scb_s_course_setup_course_list" aria-labelledby="scb_s_experiment_step_progress_label_for_course">
        <label role="presentation" class="custom-select">
            <select role="select" aria-label="Experiments">
                {% for a in courses %}

                    <option role='option' aria-label="{{ a.name }}" value="{{ a.id }}">
                        {{ a.name }}
                    </option>

                {% endfor %}
            </select>
        </label>
    </div>

    <!-- Rename or create a new course -->
    <div class='scb_s_course_setup_radio_choice scb_f_course_setup_create_new_course_option'
         aria-label='Create New Assignment'>
        <input class='scb_s_experiment_setup_choose_template_kind' type="radio"/>
        <span class='scb_s_course_setup_radio_text'>
            Rename or create a new course.
        </span>
    </div>

    <form id="course_formset" method="post">{% csrf_token %}
        {{ formset.management_form }}
        <!--This div disappears when option is not selected -->
        <div class="scb_ab_f_course_formset_list" style="display:none">
            <div class="scb_ab_s_course_edit_headers">Name</div>
            <div class="scb_ab_s_course_edit_headers">Code</div>

            {% for form in formset %}
                <div>
                    {{ form.name }}
                    {{ form.code }}
                    {{ form.id }}
                    <div class="scb_ab_s_assignment_setup_errors">{{ form.name.errors }}</div>
                    <div class="scb_ab_s_assignment_setup_errors">{{ form.code.errors }}</div>
                </div>
            {% endfor %}
        </div>
        <div>
            <input type="submit"
                   name="continue"
                   class=" scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE AND CONTINUE &nbsp; &#9654;"/>
            <input type="submit"
                   name="save"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE"/>
        </div>
    </form>

    <div>
        <a href="{% url "common_assignment_modify" %}">
            <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>
        </a>
    </div>

{% endblock %}
