{% extends "base.html" %}

{% block content %}
    You only get 5 questions so ask wisely.
    {% if message %}
        {{ messsage }}
    {% endif %}
    <div>
        <form method="post">{% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {{ form.as_p }}

                {% if form.instance.id %}
                Instance: <a href='{% url common_courses_delete pk=form.instance.id %}'>X</a>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Submit Questions"/>
        </form>
    </div>
{% endblock %}