{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}
    <!-- Hidden pop out window for entering the graph -->
    <div class="scb_ab_s_histogram_dialog" style="visibility:hidden">
        <div>
            <h1 class="scb_ex_inner_dialog_title" role="presentation" aria-label="Create Histogram">
                <span class="scb_ex_inner_dialog_title_close scb_ab_f_close_dialog" role="button"
                      aria-label="Close Create Histogram">×</span>
                Histogram Tools
            </h1>
            <div class="scb_ab_s_draw_histogram_view" >
                <div class="scb_ab_s_histogram_tabs">
                    <div class="scb_ab_s_histogram_tab_not_selected">Select Histogram</div>
                    <div class="scb_ab_s_histogram_tab_selected">Draw New Histogram</div>
                </div>
                <div class="scb_ab_s_draw_new_histogram_content">
                    <div class="scb_ab_s_chosen_sample_heading">
                        <div class="scb_ab_s_row scb_ab_s_grouping_header_row">
                            <div class="scb_ab_s_facs_condition_header scb_ab_f_treatment_text">
                            </div>
                        </div>
                        <div class="scb_ab_s_row scb_ab_f_sample_name">
                        </div>
                    </div>
                    <canvas id="myCanvas" class="scb_ab_s_draw_histogram_canvas"></canvas>
                    <button class="scb_s_gray_button scb_ab_f_save_histogram">
                        SAVE HISTOGRAM
                    </button>
                    <button class="scb_s_gray_button reset_histogram">
                        DISCARD HISTOGRAM
                    </button>
                </div>
            </div>
            <div class="scb_ab_s_select_histogram_view" style="display:none">
                <div class="scb_ab_s_histogram_tabs">
                    <div class="scb_ab_s_histogram_tab_selected">Select Histogram</div>
                    <div class="scb_ab_s_histogram_tab_not_selected">Draw New Histogram</div>
                </div>
                <div class="scb_ab_s_canvas_library">
                    {% for histogram in all_histograms %}
                        <div class="scb_ab_s_canvas_wrapper">
                            <canvas id="library-{{ histogram.id }}"
                                class="scb_ab_s_small_canvas scb_ab_f_select_histogram" style="">
                            </canvas>
                        </div>

                    {% endfor %}

                </div>
                <button class="scb_s_gray_button scb_ab_s_save_btn_position scb_ab_f_save_selected_histogram">
                    SAVE HISTOGRAM
                </button>

            </div>

        </div>
    </div><!-- End of hidden window -->


    <div class="scb_ab_s_heading_div">
        <div class="scb_ab_s_page_title">Analyze</div>
        <div class='scb_ab_s_heading_description'>
            Define the flow cytometry histogram for each sample.
        </div>
    </div>
    <div class="scb_ab_s_form_container">
        <form method="post">{% csrf_token %}

            <!-- Instances are grouped by cell_treatment, analysis, condition-->
            {% for cell_treatment, analysis, condition, instance_list in histogram_groups %}

                <div class="scb_ab_s_row scb_ab_s_grouping_header_row">
                    <div class="scb_ab_s_facs_condition_header">
                        {{ cell_treatment }}, {{ analysis }}, {{ condition }}
                    </div>
                    {% if forloop.counter == 1 %}
                        <div class="scb_ab_col_edit">Edit</div>
                        <div class="scb_ab_s_col_copy">Copy to another sample(s)</div>
                    {% endif %}
                </div>

                {% for instance in instance_list %}


                    <div class="scb_ab_s_row">
                        <div class="scb_ab_s_col_width_number">{{ forloop.counter }}.</div>
                        <div class="scb_ab_s_col_width_facs_sample">
                            <div class="block-ellipsis" id="row-{{ cell_treatment }}_{{ instance.id }}">
                                {{ instance.strain_protocol.strain.name }},
                                {{ instance.strain_protocol.treatment.drug.name }}
                                {% if variables.has_concentration and instance.strain_protocol.treatment.drug.concentration != None %}
                                    , {{ instance.strain_protocol.treatment.drug.concentration }}
                                    {{ instance.strain_protocol.treatment.drug.concentration_unit }}{% endif %}
                                {% if variables.has_start_time and instance.strain_protocol.treatment.drug.start_time != None %}
                                    , {{ instance.strain_protocol.treatment.drug.start_time }}
                                    {{ instance.strain_protocol.treatment.drug.time_unit }}{% endif %}
                                {% if variables.has_duration and instance.strain_protocol.treatment.drug.duration != None %}
                                    , {{ instance.strain_protocol.treatment.drug.duration }}
                                    {{ instance.strain_protocol.treatment.drug.duration_unit }}{% endif %}
                                {% if variables.has_temperature %},
                                    {{ instance.strain_protocol.treatment.temperature.degrees }} &#8451;{% endif %}
                                {% if variables.has_collection_time %},
                                    {{ instance.strain_protocol.treatment.collection_time.time }}
                                    {{ instance.strain_protocol.treatment.collection_time.units }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- display selected histogram, small version  -->
                    <div class="scb_ab_s_row">

                    </div>
                    <div class="scb_ab_s_row" style="padding: 10px 0 8px 0">

                        <div class="scb_ab_s_col_width_number"></div>
                        <div class="scb_ab_s_col_width_facs_sample">
                            <div class="scb_ab_s_remove_histogram_icon_position">
                                <span class="scb_ab_s_remove_histogram_icon scb_ab_f_remove_histogram"
                                      role="button" data-cell_treatment="{{ cell_treatment }}"
                                      data-pk="{{ instance.id }}" aria-label="Close Create Histogram">×</span>
                            </div>

                            <canvas id="canvas-{{ cell_treatment }}_{{ instance.id }}"
                                class="scb_ab_s_small_canvas">
                            </canvas>
                            <button type="button" class="scb_s_gray_button add_histogram_btn"
                                    data-row_id="row-{{ cell_treatment }}_{{ instance.id }}"
                                    data-sample_treatment="{{ cell_treatment }}, {{ analysis }}, {{ condition }}">
                                Add Histogram
                            </button>
                        </div>
                        <div class="scb_ab_s_edit_icon_container">
                            <div class="scb_ab_col_edit">
                                <div class="scb_ab_s_histogram_edit_grey_img">
                                </div>
                            </div>
                        </div>
                        <div class="scb_ab_s_copy_checkbox_container">
                            <div class="scb_ab_s_col_copy">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <input type="submit"
                   name="continue"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE AND FINISH &nbsp; &#9654;">
            <input type="submit"
                   name="save"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE"/>
        </form>
    </div>
    <a href="{% url "facs_sample_prep" %}">
        <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>
    </a>
    <script type="text/javascript">
    all_histograms_mapping = {{ all_histograms_mapping|safe }}
    histograms = {{ histograms|safe }};
    x_upper_bound = {{ x_upper_bound|safe }};
    tick_values = {{ tick_values|safe }};
    paper.install(window);

    </script>
{% endblock %}
