{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}

<div class="scb_ab_s_heading_div">
    <div class="scb_ab_s_page_title">Analyze</div>
    <div class='scb_ab_s_heading_description'>
        Define the flow cytometry histogram for each sample.
    </div>
</div>
<div class="scb_ab_s_form_container">
        <form method="post">{% csrf_token %}
            {{ formset.management_form }}


            {% for cell_treatment, analysis, condition, form_list in formset_group %}

                <div class="scb_ab_s_row scb_ab_s_grouping_header_row">
                    <div class="scb_ab_s_facs_condition_header">
                        {{ cell_treatment }}, {{ analysis }}, {{ condition }}
                    </div>
                    {% if forloop.counter == 1 %}
                        <div class="scb_ab_col_edit">Edit</div>
                        <div class="scb_ab_s_col_copy">Copy to another sample(s)</div>
                    {% endif %}
                </div>

                {% for form in form_list %}
                <div class="scb_ab_s_row">
                    <div class="scb_ab_s_col_width_number">{{ forloop.counter }}.</div>
                    <div class="scb_ab_s_col_width_facs_sample">
                        <div class="block-ellipsis">
                        {{ form.instance.strain_protocol.strain.name }},
                        {{ form.instance.strain_protocol.treatment.drug.name }}{% if variables.has_concentration and form.instance.strain_protocol.treatment.drug.concentration != None %},
                            {{ form.instance.strain_protocol.treatment.drug.concentration }}
                            {{ form.instance.strain_protocol.treatment.drug.concentration_unit }}{% endif %}{% if variables.has_start_time and form.instance.strain_protocol.treatment.drug.start_time != None %},
                            {{ form.instance.strain_protocol.treatment.drug.start_time }}
                            {{ form.instance.strain_protocol.treatment.drug.time_unit }}{% endif %}{% if variables.has_duration and form.instance.strain_protocol.treatment.drug.duration != None %},
                            {{ form.instance.strain_protocol.treatment.drug.duration }}
                            {{ form.instance.strain_protocol.treatment.drug.duration_unit }}{% endif %}{% if variables.has_temperature %},
                            {{ form.instance.strain_protocol.treatment.temperature.degrees }} &#8451;{% endif %}{% if variables.has_collection_time %},
                            {{ form.instance.strain_protocol.treatment.collection_time.time }}
                            {{ form.instance.strain_protocol.treatment.collection_time.units }}
                        {% endif %}
                        </div>
                    </div>
                    {{ form.id }}
                </div>
                <div class="scb_ab_s_row" style="padding: 3px 0 8px 0">
                    <div class="scb_ab_s_col_width_number"></div>
                    <div class="scb_ab_s_col_width_facs_sample">
                        <button class="scb_s_gray_button">
                            Select Histogram
                        </button>
                    </div>
                    <div class="scb_ab_col_edit">
                        <div class="scb_ab_s_histogram_edit_grey_img"></div>
                    </div>
                    <div class="scb_ab_s_col_copy" style="margin-top: 8px;">
                        <input type="checkbox">
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            <input type="submit"
                   name="continue"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE AND FINISH &nbsp; &#9654;">
            <input type="submit"
                   name="save"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE"/>
        </form>
    </div>
<a href="{% url "facs_sample_prep" %}">
    <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>
</a>
{% endblock %}
