{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}
    {% if message %}
        {{ messsage }}
    {% endif %}
<div class='scb_s_experiment_setup_title'>Experiment Setup</div>
<div class='scb_s_experiment_setup_subtitle'>In this section, you will specify the strains and treatments available for experimentation.</div>
<br/>
    <div>
        <form method="post">{% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {{ form.as_p }}

                {% if form.instance.id %}

                    <a href="{% url "common_treatments" assignment=assignment.id protocol=form.instance.id %}">Expand</a>
                {% endif %}
            {% endfor %}
            <input type="submit" class="scb_s_assignment_setup_save_button scb_s_navigation_button" value="Submit Questions"/>
        </form>
        <a href="{% url "common_strain_protocols" assignment=assignment.id %}">Edit Strain/Protocols</a>
    </div>
{% endblock %}