{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}

    <div class='scb_s_experiment_setup_title'>Select Technique in the Left Bar</div>

    <div class='scb_s_assignment_setup_course_name_heading'>
        {% if allow_finish %}
            Would you like to add another technique to this assignment?
        {% else %}
            Which techniques should be available to your students?
        {% endif %}

    </div>
    <br/>

    <a href="{% url "common_strain_treatments" %}">
    <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>

    </a>
    <a href="{% url "common_assignments" %}">
    <button class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn" role='button'
            {% if not allow_finish %}hidden{% endif %}>
        SAVE AND FINISH &nbsp; &#9654;
    </button>
    </a>
{% endblock %}
