{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}

    <div class='scb_s_experiment_setup_title'>Select Technique</div>

    <div class='scb_s_assignment_setup_course_name_heading'>
        Which techniques should be available to your students?
    </div>
    <br/>
    <div class='scb_ab_s_form_container'>
        <form method="post">{% csrf_token %}
            <div class='scb_ab_s_variable_wrapper'>
                {{ form.has_wb }} Western Blot
            </div>
            <div class=' scb_ab_s_variable_wrapper'>
                {{ form.has_fc }} Flow Cytometry
            </div>
            <div class='scb_ab_s_variable_wrapper'>
                {{ form.has_micro }} Microscopy
            </div>
            <input type="submit"
               name="continue"
               class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
               value="SAVE AND CONTINUE &nbsp; &#9654;">
            <input type="submit"
               name="save"
               class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
               value="SAVE"/>
        </form>
    </div>
    <a href="{% url "common_strain_treatments" %}">
    <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>
</a>
{% endblock %}
