{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}

    <div class='scb_s_experiment_setup_title'>Select Technique in the Left Bar</div>

    <div class='scb_s_assignment_setup_course_name_heading'>
        {% if allow_finish %}
            Would you like to add another technique to this assignment?
        {% else %}
            Which techniques should be available to your students?
        {% endif %}

    </div>
    <br>
    <div class="scb_ab_s_nav_controls_left_right">
        <input type="button"
               class="scb_ab_s_navigation_button scb_s_back_btn"
               value="&#9664; &nbsp; BACK"
               data-location="{% url "common_assignments" %}">
        <input type="button"
               class="scb_ab_s_navigation_button scb_s_back_btn"
               value="SAVE AND FINISH &nbsp; &#9654;"
               {% if not allow_finish %}hidden{% endif %}
               data-location="{% url "common_assignments" %}">
    </div>
{% endblock %}
