{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}
    {% if message %}
        {{ messsage }}
    {% endif %}

<div class='scb_s_experiment_setup_title'>Experiment Setup</div>
<div class='scb_s_experiment_setup_subtitle'>In this section, you will specify the strains and treatments available for experimentation.</div>
<br/>

<div class='scb_s_assignment_setup_course_name_heading'>1. Name the strains available for experimentation.</div><br/>

<div class='scb_ab_s_strains_form_container'>

    <form method="post">{% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            <ul class="scb_s_strains_list">
                <li>{{ forloop.counter }}.</li>
                <li>{{ form.name }}</li>
                <li>{{ form.id }}</li>
                <li class="delete_checkbox">{{ form.DELETE }}</li>
            </ul>
        {% endfor %}
        <ul class="scb_s_strains_list">
            <li>
                <input type="submit" name="add" class='scb_s_gray_button scb_s_experiment_setup_add_button' value="ADD">
            </li>

        </ul>
        <input type="submit"
               name="continue"
               class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
               value="SAVE AND CONTINUE &nbsp; &#9654;">
        <input type="submit"
               name="save"
               class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
               value="SAVE"/>
    </form>
</div>
<a href="{% url "common_course_modify" %}">
    <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>
</a>
{% endblock %}
