{% extends "instructor/assignment_sidebar.html" %}

{% block right_side %}
    <div class="scb_ab_s_heading_div">
        <div class="scb_ab_s_page_title">Band Size</div>
        <div class='scb_ab_s_heading_description'>
            Define the size of the protein bands in kilodaltons (kDa)
            detected by each primary and secondary antibody combination.
        </div>
        <div class="scb_ab_s_heading_instructions">Note: When multiple bands are detected by a particular
            antibody combination, separate the sizes of the bands by a comma.
            For example: 13, 45, 60. Do not include the units in the text box.
        </div>
    </div>
    <div class="scb_ab_s_form_container">
        <form method="post">{% csrf_token %}
            {{ formset.management_form }}


            <div class="scb_ab_s_row">
                <div class="scb_ab_s_antibody_name vertical_align_top">Primary Antibody</div>
                <div class="scb_ab_s_antibody_name vertical_align_top">Secondary Antibody</div>
                <div class="scb_ab_s_protein_sizes_header">
                    <div>Size(s) by Lysate Type</div>
                    <div class="scb_ab_s_lysate_type_header">WLC</div>
                    <div class="scb_ab_s_lysate_type_header">Nuc</div>
                    <div class="scb_ab_s_lysate_type_header">Cyto</div>
                </div>
            </div>

            {% for form in formset %}
                <div class="scb_ab_s_row">
                    <div class="scb_ab_s_antibody_name">{{ form.instance.primary }}</div>
                    <div class="scb_ab_s_antibody_name">{{ form.instance.secondary }}</div>
                    <div class="scb_ab_s_protein_size_input">{{ form.wc_weight }}</div>
                    <div class="scb_ab_s_protein_size_input">{{ form.nuc_weight }}</div>
                    <div class="scb_ab_s_protein_size_input">{{ form.cyto_weight }}</div>
                    {{ form.id }}
                </div>
            {% endfor %}
            <input type="submit"
                   name="continue"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE AND CONTINUE &nbsp; &#9654;">
            <input type="submit"
                   name="save"
                   class="scb_ab_s_navigation_button scb_ab_s_nav_continue_btn"
                   value="SAVE"/>
        </form>
    </div>
    <a href="{% url "western_blot_antibody" %}">
    <button class="scb_ab_s_navigation_button scb_s_back_btn" role='button'>&#9664; &nbsp; BACK</button>
    </a>

{% endblock %}
