{namespace scb_assignment_specific_tufts}

/**

*/
{template .experiment_setup}
<p class='scb_assignment_specific_tufts_experiment_setup'>
To setup your experiment, select the <b>Add Multiple Rows</b> button in the experimental set-up table below. <br>
Select all of the treatment protocols for your experiment and then click <b>Add Multiple Treatments</b>.
</p>
{/template}
