{namespace scb_assignment_specific_tufts}

/**

*/
{template .experiment_setup}
<ul class='scb_assignment_specific_tufts_experiment_setup'>
    <li>
        To setup your experiment, select <b>Add Multiple Rows</b> in the experimental set-up table below. <br>
    </li>
    <li>
        Select all of the treatment protocols for your experiment and then click <b>Add Multiple Treatments</b>.
    </li>
</ul>
{/template}
